<div class="block-heading-secondary">
  <h3 class="title">Você efetuou {{billings.length}} pagamentos</h3>
</div>

<table class="table inv-table-responsive">
  <tbody>
    <tr ng-repeat="billing in billings">
      <td >
        <div class="text-large"><strong>{{billing.paymentDay | date:'EEEE'}}</strong></div>
        {{billing.paymentDay | date:'MMMM d, y'}}, {{billing.paymentDay |date:'h:mm:ss'}}
      </td>
      <td class="text-center">
        <div class="text-large"><a href="javascript:;"><strong>{{billing.campaignName}}</strong></a></div>
        <div class="text-small muted">Campanha</div>
      </td>
      <td class="text-center">
        <div class="text-large"><div class="label-payment paypal"></div></div>
        <div class="text-small muted">Método</div>
      </td>
      <td class="text-center">
        <div class="text-large"><strong>{{calcPrice(billing.locals) | currency: "R$ "}}</strong></div>
        <div class="text-small muted">Total</div>
      </td>
    </tr>
  </tbody>
</table>
