<div class="block-container">
  <div class="block-container-holder">
    <div class="block-heading-master centered">
      <h2 class="title" ng-if="choice.selecionar">Selecionar empresa</h2>
      <h2 class="title" ng-if="choice.editar">Editar empresa</h2>
    </div>
  </div>
</div>

<div class="block-container collapsed">
  <div class="block-container-holder">
    <ul class="list-card">
      <li ng-repeat="enterprise in enterprises" ng-class="checked(enterprise.slug) ? 'selected' : ''">
        <div class="description" ng-click="goTo(enterprise.slug)">
          <div class="avatar">
            <div class="block-sample" style="background-image: url({{enterprise.thumbUrl}})">{{enterprise.thumbUrl ? '': enterprise.name[0]}}</div>
          </div>

          {{enterprise.name}}
        </div>
        <ul class="actions">
          <li ng-if="authorized(enterprise)"><a href="#/p/{{enterprise.slug}}/update">Editar</a></li>
          <li><a href="#/p/{{enterprise.slug}}/campaigns" ng-model="enterprise.slug">Selecionar</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="add" ng-click="goToCreateNewEnterprise()">Criar Empresa</a>
      </li>
    </ul>
  </div>
</div>
