<div class="block-container">
  <div class="block-heading-master centered">
    <h2 class="title">Criar empresa</h2>

    <div class="tools">
      <a ui-sref="lite.enterprises" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Retornar</a>
    </div>
  </div>
</div>

<div class="block-container boxed">
  <form id="form-enterprise" name="enterprise" novalidate>
    <div class="form-group">
      <label>Nome da empresa</label>
      <input type="text" name="name" tabindex=1 class="form-control input-lg" ng-model="account.accountName" required>
      <label class="error" ng-show="enterprise.name.$invalid && !enterprise.name.$pristine">Campo obrigatório</label>
    </div>
  </form>

  <div class="block-action">
    <a ui-sref="lite.enterprises" tabindex=4 class="btn btn-lg btn-link">Cancelar</a>
    <button type="submit" tabindex="3" ng-click="register(account)" tabindex=3 ladda="submitLoading" class="btn btn-lg btn-success">Salvar</button>
  </div>
</div>

</div>
