<div class="block-container">
  <div class="block-heading-master centered">
    <h2 class="title">Editar empresa</h2>

    <div class="tools">
      <a ui-sref="lite.enterprises" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Retornar</a>
    </div>
  </div>
</div>

<div class="block-container boxed" ng-class="{'loader-partial':isLoadingAvailabitily}">
  <form id="form-enterprise" name="enterprise" novalidate>
    <div class="form-group">
      <label>Nome da empresa</label>
      <input type="text" name="name" tabindex=1 class="form-control input-lg" ng-model="account.accountName" required>
      <label class="error" ng-show="enterprise.name.$invalid && !enterprise.name.$pristine">Campo obrigatório</label>
    </div>

    <div class="form-group ">
      <label>Link</label>
      <div class="input-group">
        <div class="input-group-addon ng-binding">{{baseUrl}}</div>
        <input type="text" class="form-control input-lg" ng-model="account.slug" name="slug"
               ui-event="{blur:'onBlur(account.slug)'}" ng-change="checkInvalidCharacters(account.slug)"
               required>
      </div>
      <label class="error" ng-show="enterprise.slug.$invalid && !enterprise.slug.$pristine">Campo obrigatório</label>
      <label class="error"  ng-show="alreadyExist">Link existente, tente outro link</label>
      <label class="error" ng-show="!isValidCharacter">Acentos, sinais de pontuação e caracteres especias são proibidos.</label>
    </div>
  </form>

  <div class="form-group">
    <label>Logo</label>
    <div class="block-message block-message-image" ng-if="account.thumbUrl === undefined && !isLoadingImage">
      <p>Nenhum arquivo selecionado</p>
    </div>
    <div class="block-thumb" ng-class="{'loader-partial':isLoadingImage === true}" ng-if="account.thumbUrl || isLoadingImage">
      <figure>
        <a href="#" target="_blank" class="image">
          <img ng-src="{{account.thumbUrl}}" alt="" ng-if="account.thumbUrl !== undefined" ng-show="!isLoadingImage">
        </a>
      </figure>

      <ul>
        <li><a href="javascript:;" ng-click="removeImage()"><i class="fa fa-trash"></i> Remover</a></li>
      </ul>
    </div>

    <div class="row form-group required" ng-class="{'error-control': form.file.$invalid && form.file.$touched}"
         ng-if="account.thumbUrl === undefined">

      <div class="btn btn-file btn-block btn btn-link" >
            <i class = "fa fa-plus-circle"></i>
      Nova Imagem
      <input type="file" id="chooseFile" ng-model="picFile" name="file"
             class="btn btn-cons btn-default btn-block col-sm-6"
             ngf-pattern="{{uploadPattern}}" ngf-multiple="true"
             ngf-capture="'other'"
             ngf-select="!form.file.$error.maxSize && picFile?accountUploadMedia(picFile,type[0].name):picFile=null"
             accept="{{uploadPattern}}" ngf-max-size="20MB">
      </div>
    </div>
  </div>

  <div class="block-action">
    <a ui-sref="lite.enterprises" class="btn btn-lg btn-link">Cancelar</a>
    <button type="submit" tabindex="3" ng-click="accountUpdate(account)" ladda="submitLoading" class="btn btn-lg btn-success">Salvar</button>
  </div>
</div>

</div>
<canvas id="canvas" style="display:none;"></canvas>
