<div class="block-container lightest">
  <div class="block-container-holder">
    <div class="block-heading-master">
      <h2 class="title" ng-if="!update">Novo anunciante</h2>
      <h2 class="title" ng-if="update">Editar anunciante</h2>

      <div class="tools">
        <a ui-sref="app.advertisers({enterpriserSlug: enterpriser.slug})" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Retornar</a>
      </div>
    </div>
  </div>
</div>

<div class="block-container">
  <div class="block-container-holder">
    <form name="advertiserForm" id="form-advertiser" role="form" ng-submit="advertiserForm.$invalid" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" ng-class="{ 'has-error' : advertiserForm.name.$invalid && (advertiserForm.name.$dirty || advertiserForm.$submitted)}">
            <label>Nome do anunciante</label>
            <input name="name" type="text" ng-model="advertiserName" required class="form-control"
                   ng-maxlength="30">
            <label class="error" for="name" ng-show="((advertiserForm.name.$pristine && advertiserForm.$submitted && advertiserForm.name.$invalid) ||
            (!advertiserForm.name.$pristine && advertiserForm.name.$invalid)) && !advertiserForm.name.$error.maxlength">Campo obrigatório</label>
            <label class="error" for="name" ng-show="advertiserForm.name.$error.maxlength">Este campo não
              pode ter mais de 30 caracteres.</label>
          </div>

          <div class="form-group" ng-class="{'has-error': selectBusiness}">
            <label>Segmento de Negócio(s)</label>
            <ui-select id="groups"  name="groups" ng-model="selectedGroups.selected"
                       theme="select2" style="width: 100%;">
              <ui-select-match placeholder="Selecionar segmento..." name="typeOfBusiness">{{selectedGroups.selected.name}}</ui-select-match>
              <ui-select-choices  repeat="business in typesOfBusiness | propsFilter: {name: $select.search}">
                <div ng-bind="business.name"></div>
              </ui-select-choices>
            </ui-select>
            <label class="error" for="group" ng-show="selectBusiness">Campo obrigatório</label>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="main-collapse-group framed">
            <div class="main-collapse main-collapse-step on static" ng-class="(advertiserForm.contact.$invalid || advertiserForm.email.$invalid || advertiserForm.phone.$invalid) ? '' : 'ok'">
              <div class="main-collapse-heading">Contato</div>
              <div class="main-collapse-body">
                <div class="form-group"
                     ng-class="{ 'has-error' : advertiserForm.contact.$invalid && (advertiserForm.contact.$dirty || advertiserForm.$submitted)}">
                  <label>Nome</label>
                  <input name="contact" type="text" required class="form-control" placeholder="Responsável para contato"
                         ng-model="contactName" ng-maxlength="30">
                  <label class="error" for="contact" ng-show="((advertiserForm.contact.$pristine && advertiserForm.$submitted && advertiserForm.contact.$invalid) ||
                  (!advertiserForm.contact.$pristine && advertiserForm.contact.$invalid)) && !advertiserForm.contact.$error.maxlength">Este campo é
                    obrigatório</label>
                  <label class="error" for="contact" ng-show="advertiserForm.contact.$error.maxlength">Este campo não
                    pode ter mais de 30 caracteres.</label>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : advertiserForm.email.$invalid && (advertiserForm.email.$dirty || advertiserForm.$submitted)}">
                  <label>Email</label>
                  <input name="email" type="email" ng-model="advertiserEmail" required class="form-control">
                  <label class="error" for="email" ng-show="((advertiserForm.email.$pristine && advertiserForm.$submitted && advertiserForm.email.$invalid) ||
                  (!advertiserForm.email.$pristine && advertiserForm.email.$invalid))">Email inválido</label>
                </div>
                <div class="form-group" ng-class="{'has-error': advertiserForm.phone.$invalid && (advertiserForm.phone.$dirty || advertiserForm.$submitted)}">
                  <label>Telefone</label>
                  <input id="phone" name="phone"  ui-mask="(99) 99999-999?9" options="{clearOnBlur:false}"
                         ng-model="advertiserPhone" type="text" class="form-control" required>
                  <label class="error" for="phone" ng-show="((advertiserForm.phone.$pristine && advertiserForm.$submitted && advertiserForm.phone.$invalid) ||
                  (!advertiserForm.phone.$pristine && advertiserForm.phone.$invalid))">Este campo é obrigatório</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="block-action">
        <button type="submit" class="btn btn-lg btn-success" ng-click="save()" ladda="submitLoading">Salvar</button>
      </div>
    </form>
  </div>
</div>
