<div class="block-container lightest">
  <div class="block-container-holder">
    <div class="block-heading-master">
      <h2 class="title"><ng-pluralize count="totalItems" when="{'0': 'Anunciantes', '1': '1 anunciante', 'other': '{} anunciantes'}"></ng-pluralize></h2>

      <div class="tools">
        <a ui-sref="app.advertisers.create" ng-class="{'coach-focus': showEmptyState}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Novo anunciante</a>
      </div>
    </div>
  </div>
</div>

<div class="block-container">
  <div class="block-container-holder">
    <div class="row" ng-show="!showEmptyState">
      <div class="col-sm-8">
        Ordenar por
        <div  class="btn-group m-l-5">
          <ui-select id="ord"  name="ord" ng-model="ordColumn.selected" theme="select2" class="uiSelect-inline">
            <ui-select-match placeholder="Selecionar anunciante..." name="ord">{{ordColumn.selected.name}}</ui-select-match>
            <ui-select-choices  repeat="drop in dropdown | propsFilter: {name: $select.search}">
              <div ng-bind="drop.name"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <button class="btn" ng-if="ord" title="Alternar ordem crescente/descrecente" ng-click="changeOrd(ord)"><span class="fa fa-long-arrow-up"></span></button>
        <button class="btn" ng-if="!ord" title="Alternar ordem crescente/descrecente" ng-click="changeOrd(ord)"><span class="fa fa-long-arrow-down"></span></button>
      </div>

      <div class="col-sm-4 sm-m-t-15">
        <div class="input-group transparent">
          <input type="text" class="form-control" ng-model="filterName" ng-keypress="search($event.keyCode)" placeholder="Pesquisar anunciante">
          <span class="input-group-addon pointer" ng-click="search()"><i class="pg-search"></i></span>
        </div>
      </div>
    </div>
    <div class="block-message block-message-empty" ng-show="showEmptyState">
      <h4>Ops! Nenhum anunciante para mostrar...</h4>
      <p>Ainda não há anunciante cadastrado</p>
      <a ui-sref="app.advertisers.create({enterpriserSlug: enterpriser.slug})" class="btn btn-success"><i class="fa fa-plus-circle"></i> Novo anunciante</a>
    </div>
  <div ng-class="{'loader-partial': isLoadingAvailability}" ng-if="!showEmptyState" class="block-separate top">

    <div class="block-message block-message-search" ng-show="emptySearch">
      <h4>Ops! Nada encontrado...</h4>
      <p>Sua pesquisa ou filtro não encontrou nenhum resultado correspondente</p>
    </div>

    <div ng-show="showTable">
      <table class="table inv-table-responsive">
        <tbody>
          <tr ng-repeat="advertiser in advertisers">
            <td>
              <a ui-sref="app.advertisers.updateAdvertisers({enterpriserSlug: enterpriser.slug, id:advertiser.advertiserId})" class="text-xlarge"><strong>{{advertiser.advertiserName}}</strong></a><br>
              {{advertiser.advertiserEmail}}<br>
              {{advertiser.advertiserPhone | phone}}
            </td>
            <td class="text-center">
              <div class="text-large">{{advertiser.contactName}}</div>
              <div class="text-small muted">Contato</div>
            </td>
            <td class="text-center">
              <div class="text-large">{{advertiser.typeOfBusiness}}</div>
              <div class="text-small muted">Segmento de negócio</div>
            </td>
            <td class="text-center">
              <div class="text-large">{{advertiser.quantityOfCampaign}}</div>
              <div class="text-small muted">Campanhas</div>
            </td>
            <td class="action">
              <a ui-sref="app.advertisers.updateAdvertisers({enterpriserSlug: enterpriser.slug, id:advertiser.advertiserId})" class="btn btn-secondary">Editar</a>
              <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-secondary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="javascript:;" ng-click="remove(advertiser)">Remover</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <pagination total-items="totalItems" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination>
    </div>
  </div>
  </div>
</div>
