<div class="modal-header clearfix">
  <button class="close" data-dismiss="modal" ng-click="cancel()"><i class="pg-close fs-14"></i></button>
  <h3 class="p-b-15">Biblioteca de Mídia</h3>


</div>

<div class="modal-body">
  <form role="form" name="uploadForm">
    <div class="row m-b-15 p-b-10 b-b b-grey">
      <div class="row">
        <div class="col-sm-3">
          </button>
          <div class="row form-group required"
               ng-class="{'error-control': form.name.$invalid && form.name.$touched}">

            <div class="btn btn-file btn-block btn-success">
              <i class="fa  fa-folder-open-o"></i>
              Nova mídia
              <input type="file" id="chooseFile" ng-model="picFile" name="file"
                     class="btn btn-cons btn-default btn-block col-sm-6"
                     ngf-pattern="{{uploadPattern}}" ngf-multiple="true"
                     ngf-capture="'other'"
                     ngf-select="!form.file.$error.maxSize && picFile?upload(picFile):picFile=null"
                     accept="{{uploadPattern}}" ngf-max-size="20MB">
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="input-group transparent">
            <input type="text" class="form-control" placeholder="Pesquisar mídia" ng-model="searchTerm"
                   ng-keypress="search($event.keyCode)">
            <span class="input-group-addon" ng-click="search()"><i class="pg-search"></i></span>
          </div>
        </div>

        <div class="col-sm-5">
          <div class="pull-right">
            <span class="muted">Mostrar: </span>

            <div class="checkbox check-success display-inline-block m-l-10">
              <span ng-repeat="type in mediaTypes track by $index">
                <input id="type{{$index}}" type="checkbox" checklist-model="mediaTypeFiltered"
                       checklist-value="type.value" ng-click="search()" ng-disabled="disabledCheck(type.value)">
                <label for="type{{$index}}">{{type.description}}</label>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row error">
        <label class="error" ng-if="uploadForm.file.$error.maxSize">Arquivo maior do que 20MB.</label>
        <label class="error" ng-if="uploadForm.file.$error.pattern">Tipo de imagem ou vídeo não é suportado.</label>
      </div>
    </div>

    <!-- Upload -->
    <div class="panel panel-default" ng-if="isLoading">
      <div class="panel-heading">
        <div class="panel-title">Envio de arquivo(s)</div>
      </div>

      <div class="panel-body">
        <table class="table table-condensed table-striped">
          <tr ng-repeat="item in files">
            <td style="width: 60%;">
              <strong>{{ item.name }}</strong><br>
              {{ item.size/1024/1024|number:2 }} MB ({{ item.type }})
            </td>
            <td style="width: 30%;">
              <div class="progress progress-small margin-bottom-0">
                <div class="progress-bar progress-bar-success" ng-style="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td style="width: 10%;">
              <i class="text-success glyphicon glyphicon-ok" title="Envio concluído" ng-show="item.isSuccess"></i>
              <i class="text-danger glyphicon glyphicon-remove" title="Erro no envio" ng-show="item.isError"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Media list -->
    <ul class="list-media" ng-if="showContent">
      <li title="{{media.name}}" ng-repeat="media in medias">
        <label for="media{{$index + 1}}">
          <div class="tools">
            <a href="{{media.url}}" target="_blank" title="Pré-visualizar {{media.name}}" class="pull-right margin-right-0">Ver <strong>{{media.contentType.split('/')[0]}}</strong></a>
            <!-- <a href="javascript:;" title="Editar"><i class="fa fa-pencil"></i></a> -->
            <!-- <a href="javascript:;" title="Remover"><i class="fa fa-trash"></i></a> -->
          </div>

          <div class="image">
            <img ng-src="{{media.thumbUrl}}" alt="{{media.name}}">
          </div>

          <div class="radio radio-success">
            <input type="radio" id="media{{$index + 1}}" name="media" ng-model="$parent.$parent.selectedMediaId" ng-value="media.id">
            <label for="media{{$index + 1}}">{{media.name.substr(0, 15)}}</label>
          </div>
        </label>
      </li>
    </ul>

    <pagination ng-if="showContent" total-items="totalItems" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination>

    <div class="block-message block-message-empty" ng-if="showEmptyState">
      <h4>Ops! Nada encontrado...</h4>
      <p>Sua pesquisa não encontrou nenhum resultado correspondente.</p>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-cons" data-dismiss="modal" ng-click="cancel()">Cancelar</button>
  <button class="btn btn-cons btn-success" ng-click="selectMedia()">Confirmar</button>
</div>
<!--<video id="video" style="display:none"></video>-->
<canvas id="canvas" style="display:none;"></canvas>
