<div class="block-container lightest">
  <div class="block-heading-master">
    <h2 class="title">Perguntas e respostas</h2>

    <div class="tools">
      <a href="javascript:;" ng-click="$back()" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Retornar</a>
    </div>
  </div>
</div>

<div class="block-container">
  <div class="block-container-holder">
    <div class="input large">
      <input type="text" placeholder="Pesquisar dúvida">
      <i class="fa fa-search"></i>
    </div>

    <ul class="list-define">
      <li>
        <h4>Quais são os benefícios do Cartão Nubank?</h4>
        <p>Os principais benefícios do Cartão Nubank estão ligados às funcionalidades disponíveis nos nossos aplicativos para celular e à simplicidade e transparência com que lidamos com os seus gastos. Tudo isso pode ser conferido na nossa página principal.</p>
      </li>

      <li>
        <h4>Quais são as tarifas do Cartão Nubank?</h4>
        <p>O Cartão Nubank não cobra anuidade e nem nenhuma outra tarifa. Como usamos canais 100% digitais e reduzimos a burocracia e a papelada ao máximo, não temos que bancar agências ou estruturas caras, e podemos repassar essas economias de custos para os <a href="#">nossos clientes</a> não cobrando tarifas.</p>
      </li>

      <li>
        <h4>Como funciona o pagamento da fatura do Cartão Nubank?</h4>
        <p>Sem desperdício de papel! Enviamos a fatura por email para os clientes, que podem pagar o boleto pela internet, pelo aplicativo mobile do seu banco ou em qualquer agência bancária ou lotérica. Além disso, clientes Nubank também podem antecipar pagamentos e aumentar o valor disponível para compras antes do fechamento ou vencimento de suas faturas.</p>
      </li>

      <li>
        <h4>O que é o Nubank?</h4>
        <p>O Nubank é o emissor e administrador de um cartão de crédito com a bandeira MasterCard®, e tem como objetivo repensar a experiência dos clientes com cartão de crédito através do uso de novas tecnologias e design.</p>
      </li>

      <li>
        <h4>Como o Nubank ganha dinheiro se não cobra tarifas?</h4>
        <p>Ótima pergunta. Ganhamos dinheiro de duas maneiras:</p>
        <ol>
          <li>Quando o cliente realiza uma compra com o seu cartão, recebemos do estabelecimento um pequeno percentual desse valor;</li>
          <li>Quando o cliente opta por financiar parte do valor da sua fatura, recebemos juros sobre o valor que foi financiado.</li>
        </ol>
      </li>

      <li>
        <h4>Qual é a cotação do dólar utilizada para compras e saques internacionais?</h4>
        <p>Usamos como referência o valor do dólar PTAX venda, divulgado pelo Banco Central, no dia do vencimento efetivo da fatura, acrescido de uma margem de 4%. Vale lembrar que em todas as compras e saques internacionais também é cobrado o IOF, que atualmente é de 6,38%.</p>
      </li>
    </ul>
  </div>
</div>
