<div class="row">
  <div class="col-md-6">
    <!-- <h3>Essa campanha está expirada!</h3> -->
    <h3 ng-if="published">Sua campanha está publicada!</h3>
    <div ng-if="!published">
      <h3 ng-show="!completedBasic || !completedContent || !completedLocal">Ops, sua campanha ainda não pode ser publicada:</h3>
      <h3 ng-show="completedBasic && completedContent && completedLocal">Tudo certo! Sua campanha está pronta para ser publicada:</h3>
    </div>
    <ul class="list-check">
    <li class="item" ng-class="{'ok':completedBasic}">Informações básicas sobre a campanha</li>
    <li class="item" ng-class="{'ok':completedContent}">Definição do conteúdo da campanha</li>
    <li class="item" ng-class="{'ok':completedLocal}">Definição dos locais para veiculação da campanha</li>
    </ul>
  </div>

  <div class="col-md-6">
    <div class="main-collapse-group framed">
      <div class="main-collapse on">
        <div class="main-collapse-heading">Custos da campanha</div>
        <div class="main-collapse-body">
          <table class="table-bill">
            <tbody>
              <tr ng-repeat="loc in locals">
                <td class="key">{{loc.name}}</td>
                <td class="value">{{loc.price*loc.boosting | currency:"R$ "}}</td>
              </tr>
              <tr class="total">
                <td class="key">Total</td>
                <td class="value">{{total | currency:"R$ "}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="block-payment" ng-if="canBePaid && !alreadyPaid && !(published || interrupted)">
      <div class="form-group">
        <label>Método de pagamento</label>

        <div class="alert alert-success m-t-10" ng-if="bonus">
          <p>Você possui <strong>{{totalBonus}} Campanhas Bônus</strong>.</p>
          <p>Selecione a opção <strong>Usar Campanha Bônus</strong> para publicar a campanha sem custos.</p>
        </div>

        <div class="radio radio-success">
          <input id="paymentType" name="paymentType" type="radio" ng-click="paymentChoice('paypal')" value="paypal" checked>
          <label for="paymentType">
            <img src="assets/images/logo-paypal.svg" width="auto" height="20" alt="Logo PayPal">
          </label>
        </div>

        <div class="radio radio-success" ng-if="bonus">
          <input id="paymentType2" name="paymentType" type="radio" ng-click="paymentChoice('bonus')" value="bonus">
          <label for="paymentType2"><strong>Usar Campanha Bônus</strong></label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block-action" paypal-checkout>
  <form target="_self" name="paymentForm" ng-submit="paymentForm" method="post" action="{{action}}">
    <button ng-if="publish && !alreadyPaid && canBePaid && paymentMethod.paypal.value && !(published || interrupted)" ng-disabled="!canBePaid" id="t1" type="submit" ng-click="initLoad()" class="btn btn-lg btn-success">Efetuar pagamento</button>
  </form>
  <!--<paypal-checkout url="action"></paypal-checkout>-->
  <button type="button" class="btn btn-lg btn-success" ng-if="interrupted || (alreadyPaid && !published) || paymentMethod.bonus.value" ladda="loadExecutePayment || loadPublish" ng-click="publishCampaign()">Publicar campanha</button>
  <button type="button" class="btn btn-lg btn-danger" ng-if="(alreadyPaid && published) || published" ladda="loadInterrupt" ng-click="interruptCampaign()">Interromper campanha</button>
</div>

<!--<script>-->
  <!--window.paypalCheckoutReady = function() {-->
    <!--paypal.checkout.setup("6XF3MPZBZV6HU", {-->
      <!--locale: 'en_US',-->
      <!--environment: 'sandbox',-->
      <!--button:'t1',-->
      <!--click:function(){-->
        <!--main.loaderPage.on();-->
      <!--}-->
    <!--});-->
  <!--};-->
<!--</script>-->

<!--<script async src="//www.paypalobjects.com/api/checkout.js"></script>-->
