<div class="block-container lightest">
  <div class="block-heading-master">
    <h2 class="title">Privacidade</h2>

    <div class="tools">
      <a href="javascript:;" ng-click="$back()" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Retornar</a>
    </div>
  </div>
</div>

<div class="block-container">
  <div class="block-container-holder">
    <p>Estas Políticas de Privacidade integram os “Termos e Condições Gerais de Uso” do Site www.cloudmidia.com , doravante denominado "SITE", do aplicativo para celular denominado “APP” e/ou via sistemas parceiros vinculados ao APP e SITE através de “INTEGRAÇÃO”, sendo mencionados em conjunto como “PLATAFORMA”, e tornam-se válidas a partir da aceitação livre e expressa dos “Termos e Condições Gerais de Uso” no momento do cadastramento do USUÁRIO através do SITE, APP ou via INTEGRAÇÃO.</p>
    <p>A PLATAFORMA, conforme foi construída, recolhe informações sobre os seus usuários e, em alguns casos, as revela a outros usuários com a finalidade de conectar prestadores e tomadores de serviços no ramo de salões de beleza e estética.</p>
    <p>Com a finalidade de demonstrar a absoluta transparência da PLATAFORMA quanto ao assunto, estas Políticas de Privacidade descrevem o funcionamento da coleta, uso, armazenamento, tratamento e proteção dos dados dos USUÁRIOS que utilizam a PLATAFORMA.</p>
    <p>A PLATAFORMA, através da explicitação de suas Políticas de Privacidade, quer demonstrar que a privacidade da informação dos seus usuários e/ou visitantes é muito importante e, por isso, toma precauções e cautelas para resguardá-las, tendo desenvolvido uma eficiente política de segurança da informação, tudo de acordo com os princípios e regras estabelecidos pelo Marco Civil da Internet (Lei n° 12.965/14).</p>

    <h4>I – INFORMAÇÕES EXIGIDAS E ARMAZENADAS</h4>
    <p>Para utilizar dos serviços oferecidos pela PLATAFORMA, todos os USUÁRIOS devem registrar-se e informar seus dados pessoais ou da pessoa jurídica que representam, de maneira completa e exata, os quais serão armazenados na base de dados da PLATAFORMA. O SITE reserva-se ao direito de utilizar mecanismos próprios para confirmar os dados pessoais informados como nome, sexo, telefone, CPF e endereço completo, podendo inclusive consultar entidades públicas, companhias especializadas ou bancos de dados de outras empresas ou entidades.</p>
    <p>A PLATAFORMA coleta e armazena automaticamente informações sobre as atividades dos USUÁRIOS quando estes a acessam. Tais informações incluem, mas não se limitam a: a URL de origem, de onde eles provêm; o horário do acesso; o navegador que estão utilizando e seus endereços de IPs; as páginas visitadas; as buscas realizadas; os anúncios visitados; as marcações de atendimento realizadas; o conteúdo de mensagens privadas, dentre outras informações que poderão ser armazenadas e retidas pelo SITE.</p>
    <p>Os registros de conexão e de acesso dos USUÁRIOS, via PLATAFORMA, ficarão armazenados pelo prazo mínimo de 06 (seis) meses, entretanto, serão disponibilizados à terceiros apenas mediante ordem judicial, tudo em conformidade com a redação art. 15 do Marco Civil da Internet.</p>

    <h4>II – USO DE DADOS PELA PLATAFORMA</h4>
    <p>Para atender aos objetivos dos USUÁRIOS, a PLATAFORMA armazena informações de caráter pessoal, incluindo endereços, e-mails, telefones, possibilitando assim que os USUÁRIOS CLIENTES e os USUÁRIOS PROFISSIONAIS interajam diretamente entre si. A PLATAFORMA também armazena o perfil de utilização e o registro histórico de todas as ações praticadas pelos USUÁRIOS no ambiente da PLATAFORMA.</p>
    <p>As informações pessoais e dados armazenados têm as seguintes finalidades:</p>

    <ol type="a">
      <li>Desenvolver estudos e relatórios sobre os interesses, comportamentos, perfil e demografia dos USUÁRIOS, sem utilizar dados pessoais ou quaisquer outras informações que permitam a individualização de um USUÁRIO CLIENTE, resguardando sempre a sua identidade.</li>
      <li>Compreender melhor as necessidades e interesses dos USUÁRIOS, no intuito de oferecer melhores serviços e prover-lhes informação direcionada.</li>
      <li>Melhorar as iniciativas de contato e promocionais, e analisar as páginas visitadas pelos USUÁRIOS, inclusive as buscas realizadas pelos USUÁRIOS CLIENTES, para melhorar e personalizar a oferta de conteúdos, bem como a apresentação e horários oferecidos pelo USUÁRIO PROFISSIONAL.</li>
      <li>Enviar informação por mensagens de e-mail ou outros canais de comunicação sobre novos serviços, mostrar publicidade ou promoções, banners de interesse do USUÁRIO PROFISSIONAL e notícias sobre a PLATAFORMA. O USUÁRIO poderá solicitar que o excluam das listas para o envio de informação promocional ou publicitária.</li>
      <li>Elaborar estudos estatísticos de comportamento dos USUÁRIOS, utilizando para tal dados anônimos destes. O escopo desses dados abrange tanto as ações realizadas na PLATAFORMA, quanto as informações de contato que não permitam a identificação dos USUÁRIOS.</li>
      <li>Utilização de ferramentas de remarketing. Com o remarketing são exibidos anúncios da PLATAFORMA, para pessoas que já acessaram a PLATAFORMA.</li>
      <li>Não serão utilizadas informações personalíssimas dos USUÁRIOS a fim de desenvolver os estudos estatísticos de comportamento, tampouco qualquer dado que os possa identificar individualmente, mas apenas os aqueles acerca de suas preferências como consumidores.</li>
    </ol>

    <p>Os USUÁRIOS ganhadores de Promoções e/ou Concursos eventualmente realizados pela PLATAFORMA autorizam expressamente a difundir seus nomes, dados pessoais e imagens, pelos meios e nas formas que a CLOUDMIDIA considere conveniente, com fins publicitários e/ou promocionais, sem direito a qualquer contrapartida.</p>
    <p>Os USUÁRIOS autorizam expressamente a PLATAFORMA a fornecer suas informações pessoais às entidades que intervenham na resolução de disputas entre esses, tais como: Seguradoras, Tribunais de Mediação e/ou Arbitragem ou Poder Judiciário, competentes para solucionar tais disputas, quando remetidos Ofícios ou Mandados específicos para essas medidas.</p>
    <p>A PLATAFORMA se reserva ao direito de acessar a base de serviços e clientes dos estabelecimentos que utilizarem o SITE e APP via INTEGRAÇÃO, a partir de sistemas parceiros, com o fito de realizar o disparo de mensagens eletrônicas comunicando aos USUÁRIOS as novidades do agendamento on-line via PLATAFORMA.</p>

    <h4>III – CONFIDENCIALIDADE DAS INFORMAÇÕES</h4>
    A PLATAFORMA não cederá as informações pessoais dos USUÁRIOS cadastrados exceto nas formas estabelecidas nestas “Políticas de Privacidade”, “Termos e Condições Gerais de Uso”, tais como o compartilhamento com Parceiros de Negócios da CLOUDMIDIA, para fins de melhorias na PLATAFORMA, bem como transferência de relatórios de B.I. (Business Intelligence), visando o aperfeiçoamento do mercado de produtos e serviços de beleza.
    A PLATAFORMA adotará todas as medidas a fim de proteger a privacidade de todas as informações cadastradas. Excepcionalmente, em virtude de ordens judiciais ou de disposições legais, a PLATAFORMA poderá ser compelida a revelar informações às autoridades ou terceiras partes, não havendo que se falar em responsabilização do SITE pelas informações, casos em que terceiros possam interceptar a informação ou transmitir dados.

    <h4>IV – IDENTIFICADOR E SENHA DO USUÁRIO DO SITE</h4>
    <p>Para operarem na PLATAFORMA, os USUÁRIOS devem utilizar um Identificador conjugado com uma senha pessoal e intransferível, ou fingerprint (para usuários de smart phones com este recurso). Estes dados darão acesso aos serviços/funcionalidades reservados unicamente aos USUÁRIOS devidamente cadastrados. Com eles os USUÁRIOS poderão operar no SITE de acordo com os seus perfis. Esta senha, que é escolhida pelo próprio USUÁRIO, deve ser mantida sob absoluta confidencialidade e, em nenhum caso, deverá ser revelada ou compartilhada com outras pessoas.</p>
    <p>O USUÁRIO da PLATAFORMA será responsável por todos os atos que sejam realizados com o uso de seu Identificador, senha pessoal e/ou tecnologia fingerprint, o que inclui responsabilização por prejuízos que possam vir a sofrer de outros USUÁRIOS por qualquer motivo, ou que possam vir a causar a outros USUÁRIOS. Se por qualquer razão um USUÁRIO desconfiar que alguém pode conhecer sua senha pessoal, deverá modificá-la imediatamente, através da funcionalidade específica para troca de senha no SITE, sob pena de responder por ações ou omissões de terceiros.</p>
    <p>Caso seja de interesse do USUÁRIO, e desde que esta opção esteja disponível na página de login da PLATAFORMA, poderá optar por realizar seu login e autenticação através de sua conta do Facebook ou outras redes sociais.</p>

    <h4>V – USO DAS INFORMAÇÕES POR OUTROS USUÁRIOS DO SITE</h4>
    <p>No objetivo de facilitar a interação entre os USUÁRIOS CLIENTES e USUÁRIOS PROFISSIONAIS, é permitido o acesso limitado a certos dados dos USUÁRIOS, tais como nome, endereços, e-mails e telefones. Os USUÁRIOS só poderão utilizar as informações pessoais de outros USUÁRIOS obtidas na PLATAFORMA para:</p>

    <ol type="a">
      <li>Comunicações por qualquer meio relacionadas a finalidade da PLATAFORMA, que não constituam comunicações comerciais não explicitadas nestes Termos;</li>
      <li>Utilizar serviços oferecidos na PLATAFORMA;</li>
      <li>Qualquer outra finalidade a que o USUÁRIO correspondente consinta expressamente, desde que comunicado previamente.</li>
    </ol>

    <h4>VI – COOKIES</h4>
    <p>Os USUÁRIOS e visitantes da PLATAFORMA manifestam conhecer e aceitam que serviços da PLATAFORMA poderão utilizar-se de sistemas de monitoramento, mediante a utilização de cookies. Cookies são arquivos que são instalados no disco rígido do computador do USUÁRIO ou do visitante, que ajudam na execução das funcionalidades da PLATAFORMA, sendo que algumas delas só estarão disponíveis através do emprego dos cookies. Os cookies são utilizados com o fim de conhecer os interesses, o comportamento e a demografia de quem visita ou é USUÁRIO e, dessa forma, compreender melhor suas necessidades e interesses. Também será usada a informação obtida por intermédio dos cookies para analisar as páginas navegadas pelo visitante ou USUÁRIO, as buscas realizadas, melhorar as iniciativas de interação entre os USUÁRIOS, mostrar publicidade ou promoções, banners, notícias sobre a plataforma, aperfeiçoar a oferta de consultas, personalizar conteúdos, apresentação e serviços; também poderá haver utilização de cookies para promover e fazer cumprir as regras e segurança da PLATAFORMA. A PLATAFORMA poderá adicionar cookies nos e-mails que enviar para seus USUÁRIOS para medir a efetividade do envio das mensagens.</p>
    <p>A instalação, permanência e existência dos cookies no computador do USUÁRIO ou visitante depende de sua exclusiva vontade e pode ser eliminado de seu computador quando estes assim o desejarem.</p>
    <p>Fica esclarecido que estas Políticas de Privacidade cobrem a utilização de cookies pelo SITE e não a utilização de cookies por parte de outros USUÁRIOS DO SITE.</p>

    <h4>VII – ORDEM DE AUTORIDADES COMPETENTES - REQUERIMENTOS LEGAIS</h4>
    <p>A PLATAFORMA coopera com as autoridades competentes e com terceiros para garantir o cumprimento das leis, por exemplo, em matéria de proteção de direitos de propriedade industrial e intelectual, prevenção de fraudes e outros.</p>
    <p>Caso seja feito requerimento por parte de autoridades judiciais ou governamentais competentes para investigações conduzidas por estas, a PLATAFORMA poderá revelar as informações pessoais dos USUÁRIOS, visando colaborar com as autoridades para a salvaguarda da integridade de sua segurança, ressalvado o sigilo da informação de acordo com a legislação vigente.</p>
    <p>A PLATAFORMA poderá, independentemente de ordem judicial ou extrajudicial e desde que mediante autorização expressa dos USUÁRIOS, revelar qualquer informação pessoal dos próprios USUÁRIOS, no objetivo de cumprir determinação legal ou cooperar com as autoridades competentes, na medida em que entenda necessário e adequado em relação a qualquer investigação de atos ilícitos, práticas ilegais ou infração de direitos que possa expor o SITE, o APP ou outros USUÁRIOS a qualquer responsabilidade legal.</p>
    <p>Na hipótese acima, a PLATAFORMA se reserva ao direito de comunicar o mínimo de informações sobre os USUÁRIOS a outros USUÁRIOS da PLATAFORMA, independente de ordem judicial ou extrajudicial, quando considerar que a atividade de um USUÁRIO seja considerada suspeita de tentar ou de cometer um delito ou prejudicar as pessoas. Tal direito será utilizado pela PLATAFORMA no intuito de proteger o SITE, o APP e os seus USUÁRIOS, visando o cumprimento dos “Termos e Condições Gerais de Uso”.</p>
    <p>Quando do recebimento de ordem judicial requerendo informações sobre os USUÁRIOS da PLATAFORMA, estas serão fornecidas, incontinenti, independentemente de autorização destes.</p>

    <h4>VIII – SEGURANÇA E ARMAZENAMENTO DAS INFORMAÇÕES</h4>
    <p>A PLATAFORMA sempre procura empregar os padrões mais avançados da indústria de informática em matéria de proteção da confidencialidade das informações pessoais. A PLATAFORMA considera os dados dos USUÁRIOS como um bem precioso que deve ser protegido de qualquer perda ou acesso não autorizado, empregando, portanto, diversas técnicas de segurança para proteger tais dados de acessos não autorizados. Ainda assim, é necessário considerar que a PLATAFORMA não pode impedir terceiros ajam de má-fé, a fim de obter informações, dados, etc. Portanto, a PLATAFORMA não será responsável por interceptações ilegais ou violação de seus sistemas ou bases de dados por parte de pessoas não autorizadas, tampouco se responsabilizará pela indevida utilização da informação obtida por esses ou quaisquer outros meios inidôneo</p>
  </div>
</div>
