<div class="block-container lightest">
  <div class="block-heading-master">
    <h2 class="title"><ng-pluralize count="totalItems" when="{'0': 'Grupos', '1': '1 grupo', 'other': '{} grupos'}"></ng-pluralize></h2>

    <div class="tools">
      <a href="javascript:;" ng-click="addGroup()" class="btn btn-link"><i class="fa fa-plus-circle"></i> Novo grupo</a>
    </div>
  </div>
</div>

<div class="progress-circle-indeterminate progress-circle-success m-t-45" ng-show="isLoadingAvailability"></div>

<div class="block-container" ng-show="showEmptyState">
  <div class="block-message block-message-empty">
    <h4>Ops! Nenhum grupo para mostrar...</h4>
    <p>Ainda não há grupo cadastrado</p>
    <a ng-click="addGroup()" class="btn btn-success"><i class="fa fa-plus-circle"></i> Novo grupo</a>
  </div>
</div>

<div class="block-container" ng-if="showTable">
  <div class="block-container-holder">
    <div class="block-separate bottom">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
          <div class="input-group transparent">
            <input type="text" class="form-control" ng-model="filterName" ng-keypress="search($event.keyCode)" placeholder="Pesquisar grupo">
            <span class="input-group-addon" ng-click="search()"><i class="pg-search"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover" id="basicTable">
        <thead>
          <tr>
            <th>Nome</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="group in groups">
            <td class="v-align-middle"><a href="#"><strong>{{group.name}}</strong></a></td>
            <td class="v-align-middle nowrap text-right">
              <button class="btn btn-short" title="Editar" ng-click="update(group)"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-short" title="Remover" ng-click="remove(group)"><i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination total-items="totalItems" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination>
  </div>
</div>
