<div class="modal-header">
  <h3 class="modal-title" ng-if="type === false">Editar dispositivo</h3>
  <h3 class="modal-title" ng-if="type === true">Adicionar grupo</h3>
</div>

<div class="modal-body">
  <div class="row">
    <form name="groupForm" id="form-device" role="form" novalidate>

      <div class="col-sm-12">
        <div pg-form-group class="form-group form-group-default required"
             ng-class="{ 'has-error' : groupForm.name.$invalid && !groupForm.name.$pristine }">
          <label>Nome</label>
          <input id="name" type="text" class="form-control" name="name" ng-model="groupName"
                 required ng-maxlength="30">
        </div>
        <label class="error" for="name" ng-show="groupForm.name.$error.required && !groupForm.name.$pristine">Este campo é
          obrigatório</label>
        <label class="error" for="name" ng-show="groupForm.name.$error.maxlength && !groupForm.name.$pristine">Este campo não
          pode ter
          mais de 30 caracteres.</label>

        <label class="error" for="groups" ng-show="groupForm.groups.$invalid && !groupForm.groups.$pristine">Este campo é
          obrigatório</label>
      </div>

    </form>
  </div>
</div>
<div class="modal-footer" >
  <button class="btn btn-cons" data-dismiss="modal" ng-click="cancel()">Cancelar</button>
  <button class="btn btn-cons btn-success" ng-disabled="groupForm.name.$invalid || groupForm.groups.$invalid"
          ng-click="create()" ladda="submitLoading" ng-if="type === true">Salvar</button>
  <button class="btn btn-cons btn-success" ng-disabled="groupForm.name.$invalid || groupForm.groups.$invalid"
          ng-click="update()" ladda="submitLoading" ng-if="type === false">Atualizar</button>
</div>

