<div class="block-heading-secondary">
  <h3 class="title">Resumo da conta</h3>
</div>

<div class="grid center">
  <div>
    <div class="block-panel text-center">
      <div class="block-sample large" style="background-image: url({{profileInfo.userProfileImageUrl !== undefined ? profileInfo.userProfileImageUrl:'assets/images/avatar-default.svg'}})"></div>
      <h4>{{profileInfo.firstName}} {{profileInfo.lastName}}</h4>
      <div>{{profileInfo.userName}}</div>
      <div class="block-separate top slim">
        <a ui-sref="app.account.profile"><i class="fa fa-pencil"></i> Alterar dados</a>
      </div>
    </div>
  </div>

  <div>
    <div class="block-panel transparent nobordered">
      <div class="block-separate bottom slim text-center">
        <h4>{{profileInfo.accountName}}</h4>
      </div>

      <div class="grid">
        <div>
          <div class="block-key-value">
            <div class="value">{{allInformation.quantityOfCampaign}}</div>
            <div class="key">
              <a ui-sref="app.campaign({enterpriserSlug: enterpriser.slug})">Campanhas</a>
            </div>
          </div>
        </div>

        <div>
          <div class="block-key-value">
            <div class="value">{{allInformation.quantityOfAdvertiser}}</div>
            <div class="key">
              <a ui-sref="app.advertisers({enterpriserSlug: enterpriser.slug})">Anunciantes</a>
            </div>
          </div>
        </div>

        <div>
          <div class="block-key-value">
            <div class="value">{{allInformation.quantityOfLocals}}</div>
            <div class="key">
              <a ui-sref="app.locals({enterpriserSlug: enterpriser.slug})">Locais</a>
            </div>
          </div>
        </div>

        <div>
          <div class="block-key-value">
            <div class="value">{{allInformation.quantityOfDevices}}</div>
            <div class="key">
              <a ui-sref="app.devices({enterpriserSlug: enterpriser.slug})">Dispositivos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
