body
  overflow-y: scroll
  background: #fff
  color: $color-dark
  font:
    size: 0.9em
    family: $font-regular
  letter-spacing: 0

strong
  font-weight: 700

a
  @extend %link

button
  cursor: pointer

p
  letter-spacing: 0
