.grid
  display: flex
  flex-direction: row

  &.stretch
    align-items: stretch

  &.center
    align-items: center

  > *
    flex-grow: 1

    &.center
      flex-grow: 1
      align-self: center

  // Responsive
  +screen(map-get($screen, medium))
    flex-wrap: wrap

    > *
      width: 50%

  +screen(map-get($screen, small))
    > *
      width: 100%
