// Display
.display-none
  display: none !important

.display-block
  display: block !important

.display-inline
  display: inline !important

.display-inline-block
  display: inline-block !important

// Dimensions
.width-full
  width: 100% !important

.width-half
  width: 50% !important

.height-full
  height: 100% !important

.height-half
  height: 50% !important

+range-property('width', 0, 350, 5)
+range-property('height', 0, 350, 5)
+range-property('min-width', 0, 350, 5)
+range-property('min-height', 0, 350, 5)

// Position
.position-relative
  position: relative !important

.position-absolute
  position: absolute !important

.position-fixed
  position: fixed !important

// Floating
.float-none
  float: none !important

.float-left
  float: left !important

.float-right
  float: right !important

// Spacing
+range-property('margin', 0, 0, 1, '')
+range-property('margin-top', 0, 50, 5)
+range-property('margin-right', 0, 50, 5)
+range-property('margin-bottom', 0, 50, 5)
+range-property('margin-left', 0, 50, 5)

+range-property('padding', 0, 0, 1, '')
+range-property('padding-top', 0, 50, 5)
+range-property('padding-right', 0, 50, 5)
+range-property('padding-bottom', 0, 50, 5)
+range-property('padding-left', 0, 50, 5)

// Text
.text-left
  text-align: left !important

.text-right
  text-align: right !important

.text-center
  text-align: center !important

.text-justify
  text-align: justify !important

.text-upper
  text-transform: uppercase !important

.text-lower
  text-transform: lowercase !important

.text-xlarge
  font-size: 1.4em !important

.text-large
  font-size: 1.2em !important

.text-small
  font-size: 0.9em !important
  line-height: 130%

.text-xsmall
  font-size: 0.8em !important
  line-height: 130%

.text-mega
  font-size: 2.5em !important

.text-ultra
  font-size: 3.5em !important

// Border
.border-none
  border: 0 !important

.border-top
  border-top: 1px solid $color-lighter !important

.border-right
  border-right: 1px solid $color-lighter !important

.border-bottom
  border-bottom: 1px solid $color-lighter !important

.border-left
  border-top: 1px solid $color-lighter !important

.border-dotted
  border-style: dotted !important

.border-primary
  border-color: map-get($color-custom, 1) !important

// Miscellaneous
.clearfix
  @extend %clearfix

.clear
  clear: both !important

.nowrap
  white-space: nowrap !important

.centered
  margin: 0 auto !important

.pointer
  cursor: pointer !important

// Color
+color(hover, $color-hover)
+color(highlight, $color-highlight)
+color(light, $color-light)
+color(lighter, $color-lighter)
+color(lightest, $color-lightest)
+color(dark, $color-dark)
+color(darker, $color-darker)
+color(darkest, $color-darkest)
+color(warning, $color-warning)
+color(success, $color-success)
+color(danger, $color-danger)
+color(info, $color-info)
+color(warning-light, $color-warning-light)
+color(success-light, $color-success-light)
+color(danger-light, $color-danger-light)
+color(info-light, $color-info-light)
+color(base, map-get($color-custom, 1))
+color(facebook, map-get($color-custom, facebook))

.muted
  color: darken($color-light, 5%)
