[class*='icon-']
  +icon(map-get($font-icon, 3))

  &.icon-achievement
    &:before
      content: '\e600'

  &.icon-add-user
    &:before
      content: '\e601'

  &.icon-at
    &:before
      content: '\e602'

  &.icon-bag
    &:before
      content: '\e603'

  &.icon-bell
    &:before
      content: '\e604'

  &.icon-book
    &:before
      content: '\e605'

  &.icon-bookmark
    &:before
      content: '\e606'

  &.icon-box
    &:before
      content: '\e607'

  &.icon-brush
    &:before
      content: '\e608'

  &.icon-bulb
    &:before
      content: '\e609'

  &.icon-calculator
    &:before
      content: '\e60a'

  &.icon-calendar
    &:before
      content: '\e60b'

  &.icon-camcorder
    &:before
      content: '\e60c'

  &.icon-camera
    &:before
      content: '\e60d'

  &.icon-chart
    &:before
      content: '\e60e'

  &.icon-checkmark
    &:before
      content: '\e60f'

  &.icon-chemistry
    &:before
      content: '\e610'

  &.icon-clip
    &:before
      content: '\e611'

  &.icon-clock
    &:before
      content: '\e612'

  &.icon-cloud
    &:before
      content: '\e613'

  &.icon-cog
    &:before
      content: '\e614'

  &.icon-compass
    &:before
      content: '\e615'

  &.icon-compose
    &:before
      content: '\e616'

  &.icon-credit-card
    &:before
      content: '\e617'

  &.icon-cursor
    &:before
      content: '\e618'

  &.icon-dashboard
    &:before
      content: '\e619'

  &.icon-database
    &:before
      content: '\e61a'

  &.icon-display
    &:before
      content: '\e61b'

  &.icon-download
    &:before
      content: '\e61c'

  &.icon-envelope
    &:before
      content: '\e61d'

  &.icon-file
    &:before
      content: '\e61e'

  &.icon-folder
    &:before
      content: '\e61f'

  &.icon-gift
    &:before
      content: '\e620'

  &.icon-graph
    &:before
      content: '\e621'

  &.icon-heart
    &:before
      content: '\e622'

  &.icon-home
    &:before
      content: '\e623'

  &.icon-invisible
    &:before
      content: '\e624'

  &.icon-ipad
    &:before
      content: '\e625'

  &.icon-iphone
    &:before
      content: '\e626'

  &.icon-joystick
    &:before
      content: '\e627'

  &.icon-key
    &:before
      content: '\e628'

  &.icon-life-belt
    &:before
      content: '\e629'

  &.icon-lightning
    &:before
      content: '\e62a'

  &.icon-like
    &:before
      content: '\e62b'

  &.icon-link
    &:before
      content: '\e62c'

  &.icon-macbook
    &:before
      content: '\e62d'

  &.icon-magnifying-glass
    &:before
      content: '\e62e'

  &.icon-map
    &:before
      content: '\e62f'

  &.icon-megaphone
    &:before
      content: '\e630'

  &.icon-message
    &:before
      content: '\e631'

  &.icon-microphone
    &:before
      content: '\e632'

  &.icon-money
    &:before
      content: '\e633'

  &.icon-movie-file
    &:before
      content: '\e634'

  &.icon-package
    &:before
      content: '\e635'

  &.icon-pen
    &:before
      content: '\e636'

  &.icon-pencil
    &:before
      content: '\e637'

  &.icon-pencil-ruler
    &:before
      content: '\e638'

  &.icon-picture-file
    &:before
      content: '\e639'

  &.icon-piggybank
    &:before
      content: '\e63a'

  &.icon-pin
    &:before
      content: '\e63b'

  &.icon-printer
    &:before
      content: '\e63c'

  &.icon-quote
    &:before
      content: '\e63d'

  &.icon-share
    &:before
      content: '\e63e'

  &.icon-shield
    &:before
      content: '\e63f'

  &.icon-sight
    &:before
      content: '\e640'

  &.icon-site-map
    &:before
      content: '\e641'

  &.icon-sound
    &:before
      content: '\e642'

  &.icon-spanner
    &:before
      content: '\e643'

  &.icon-star
    &:before
      content: '\e644'

  &.icon-stoper
    &:before
      content: '\e645'

  &.icon-suitcase
    &:before
      content: '\e646'

  &.icon-tack
    &:before
      content: '\e647'

  &.icon-tag
    &:before
      content: '\e648'

  &.icon-telephone
    &:before
      content: '\e649'

  &.icon-text-file
    &:before
      content: '\e64a'

  &.icon-transport
    &:before
      content: '\e64b'

  &.icon-trash
    &:before
      content: '\e64c'

  &.icon-trolley
    &:before
      content: '\e64d'

  &.icon-visible
    &:before
      content: '\e64e'

  &.icon-wallet
    &:before
      content: '\e64f'

  &.icon-window
    &:before
      content: '\e650'

  &.icon-world
    &:before
      content: '\e651'
