// Screen
=screen($value, $property: max-width)
  @media ($property: $value)
    @content

// Selection
=selection($background, $color)
  $prefixes: ('-moz-', '')

  @each $prefix in $prefixes
    ::#{$prefix}selection
      background: $background
      color: $color

// Range property
=range-property($property, $start, $end, $factor, $unit: 'px')
  $i: $start

  @while $i <= $end
    .#{$property}-#{$i}
      #{$property}: #{$i + $unit} !important
    $i: $i + $factor

// Grid
=grid($prefix: '', $items: 10, $gap: 3%)
  .#{$prefix}grid
    @extend %clearfix

    > .#{$prefix}grid-item
      min-height: 1px
      float: left
      margin-right: $gap

      &:last-child
        margin: 0

    &.grid-rows
      > .#{$prefix}grid-item
        margin-bottom: $gap

  @for $i from 1 through $items
    .#{$prefix}grid-items-#{$i}
      $width: (100% - ($gap * ($i - 1))) / $i

      > .#{$prefix}grid-item
        width: $width

        &:nth-child(#{$i}n + #{$i})
          margin-right: 0

        &:nth-child(#{$i}n + #{$i + 1})
          clear: left

      @for $j from 2 through ($i - 1)
        > .#{$prefix}grid-item-span-#{$j}
          width: ($width * $j) + ($gap * ($j - 1))

  .#{$prefix}grid-collapse
    > .#{$prefix}grid-item
      margin: 0 !important

    @for $i from 1 through $items
      $width: 100% / $i

      &.#{$prefix}grid-items-#{$i}
        > .#{$prefix}grid-item
          width: $width

        @for $j from 2 through ($i - 1)
          > .#{$prefix}grid-item-span-#{$j}
            width: $width * $j

// Button extend
=button-extend($suffix, $color)
  .button-#{$suffix}
    background-color: $color

    &:hover:enabled
      background-color: lighten($color, 5%)

    &.button-bordered
      border-color: $color !important
      color: $color !important

      &:hover:enabled
        border-color: lighten($color, 5%) !important
        color: lighten($color, 5%) !important

// Background color
=background-color($suffix, $color)
  .background-color-#{$suffix}
    background-color: $color !important

  @if $color != transparent
    .background-color-#{$suffix}-alpha
      background-color: rgba($color, 0.7) !important

// Color
=color($name, $color)
  .background-#{$name}
    background-color: $color !important

  .color-#{$name}
    color: $color !important

  .block-icon
    &.#{$name}
      border-color: $color
      color: $color

// Icon
=icon($font: map-get($font-icon, 1))
  @extend %icon

  font-family: $font

// Animation
=animation-pulse-background($color-1: $color-danger, $color-2: $color-warning, $speed: 0.5s)
  @keyframes pulse-background
    0%
      background-color: $color-1

    50%
      background-color: $color-2

    100%
      background-color: $color-1

  animation: pulse-background $speed infinite

=animation-swing-vertical($initPoint: 0, $speed: 0.5s)
  @keyframes swing-vertical
    0%
      margin-top: $initPoint

    50%
      margin-top: $initPoint + 5

    100%
      margin-top: $initPoint

  animation: swing-vertical $speed infinite

// Block message
=block-message($name, $icon, $color: $color-dark)
  .block-message-#{$name}
    &:before
      content: $icon

    &.block-message-color
      &:before
        color: $color
