%font-regular
  font:
    weight: 400
    family: $font-regular

%font-thin
  font:
    weight: 300
    family: $font-thin

%font-thick
  font:
    weight: 800
    family: $font-thick

%link
  +transition(all 0.1s)

  color: map-get($color-custom, 1)
  text-decoration: none

  &:active,
  &:focus,
  &:hover
    color: lighten(map-get($color-custom, 1), 5%)

%icon
  display: inline-block
  transform: translate(0,0)
  font: normal normal normal 14px/1 map-get($font-icon, 1)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: auto

%clearfix
  &:after
    content: ''
    display: table
    clear: both

%centered-vertical
  display: flex
  flex-direction: column
  justify-content: center

%button-close
  $size: 32px
  $border-width: 0
  +text-shadow(none)
  +border-radius($size)
  +box-sizing(border-box)
  +opacity(1)
  +transition(all 0.1s)

  display: block
  right: 15px
  top: 15px
  width: $size
  height: $size
  margin: 0
  border: $border-width solid $color-light
  background: $color-lightest
  color: $color-light
  text-align: center

  &:hover
    border-color: $color-dark
    color: $color-dark

  i
    font-size: 25px
    line-height: $size - ($border-width * 2)

%input-text
  +border-radius($main-border-radius)
  +box-shadow(none)
  +transition(background 0.2s linear 0s)

  width: 100%
  height: $input-height
  min-height: $input-height
  padding: 9px 12px
  border: 1px solid rgba(0, 0, 0, 0.07)
  outline: 0
  background:
    color: #fff
    image: none
  color: #2c2c2c
  vertical-align: middle
  line-height: normal
  font:
    weight: normal
    size: 14px
    family: $font-regular

  &:focus
    border-color: rgba(0, 0, 0, 0.1)
    background-color: #f0f0f0

%main-container
  max-width: map-get($screen, large)
  margin: 0 auto
