.billboard
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  height: 100vh
  background:
    position: 50% 50%
    repeat: no-repeat
    size: cover
    position: fixed

  .container
    @extend %main-container

  .container-primary
    flex: 1
    display: flex
    flex-direction: column
    justify-content: center
    // padding-left: 50%
    // color: #fff
    // text-align: right

    .heading
      @extend %font-thick

      margin: 0
      // color: $color-dark
      font-size: 5.7em
      letter-spacing: -1px
      line-height: 80%
      text-transform: lowercase

    .text
      margin-top: 25px
      // color: $color-dark
      font-size: 2.3em
      line-height: 120%

  .container-secondary
    padding: $main-gap
    background: rgba($color-warning, 0.8)
    color: #fff

    .heading
      @extend %font-thick

      margin: 0
      color: lighten($color-warning, 25%)
      font-size: 3.5em
      letter-spacing: -1px
      line-height: 100%
      text-transform: lowercase

    .subheading
      @extend %font-thin

      margin-top: 10px
      font-size: 1.9em
      line-height: 100%
      text-transform: uppercase

    form
      margin-top: 25px
      display: flex
      flex-direction: row

      input
        @extend %input-text

        margin-right: 15px

      button
        +border-radius($main-border-radius)
        +box-shadow(none)
        +transition(background 0.2s linear 0s)

        width: 100%
        border: 2px solid #fff
        background: none
        color: #fff
        font:
          weight: 700
          size: 1.1em

        &:hover
          background: rgba(255, 255, 255, 0.2)

  +screen(map-get($screen, medium))

