// Panel
.block-panel
  +border-radius($main-border-radius)

  padding: $main-gap
  border: 1px solid $color-lighter
  background: $color-lightest

  &.nobordered
    border: none

  &.transparent
    background: none

  &.norounded
    +border-radius(0)

  +screen(map-get($screen, medium))
    padding: $main-gap-compact

// Container
.block-container
  position: relative
  padding: $main-gap

  &.collapsed
    padding-top: 0

  &.boxed
    +box-shadow(1px 1px 1px rgba(0, 0, 0, 0.1))
    +box-sizing(border-box)

    width: 530px
    margin: 0 auto
    border: 1px solid $color-lighter
    background: #fff
    text-align: left

  &.light
    background: $color-light

  &.lighter
    background: $color-lighter

  &.lightest
    background: $color-lightest

  &.dark
    background: $color-dark
    color: #fff

  &.darker
    background: $color-darker
    color: #fff

  &.darkest
    background: $color-darkest
    color: #fff

  &.warning
    background: $color-warning
    color: #fff

  &.base
    background: map-get($color-custom, 1)
    color: #fff

  &.base-striped
    $color: darken(map-get($color-custom, 1), 2%)
    +background-image(repeating-linear-gradient(-45deg, $color, $color 5px, darken($color, 1%) 5px, darken($color, 1%) 10px))

    border-top: 1px solid #fff
    background-color: $color
    color: #fff

    .block-heading-master
      .title
        color: #fff

  &.mock-device
    $image-width: 390px

    padding-bottom: $main-gap + $image-width
    background:
      color: map-get($color-custom, 1)
      image: image-url('mock-macpro.png')
      position: 50% 100%
      repeat: no-repeat
      size: auto $image-width
    color: #fff

  > .block-container
    padding:
      top: 0
      right: 0
      left: 0

  +screen(map-get($screen, medium))
    padding: $main-gap-compact

    &.boxed
      width: auto
      margin: 0 $main-gap-compact

  +screen(map-get($screen, small))
    &.mock-device
      $image-width: 190px

      padding-bottom: $main-gap-compact + $image-width
      background-size: auto $image-width

.block-container-holder
  position: relative
  max-width: map-get($screen, large)
  margin: 0 auto

// Heading master
.block-heading-master
  @extend %clearfix

  text-align: center

  &.centered
    .title
      float: none

    .tools
      position: absolute
      right: $main-gap
      top: 30px

  .title
    float: left
    margin: 0
    font:
      weight: 700
      size: 3.3em
    letter-spacing: -1px

  .subtitle
    float: left
    margin: 0
    font:
      weight: 700
      size: 2.7em

  .tools
    float: right
    margin: 5px 0

  +screen(map-get($screen, medium))
    &.centered
      .tools
        right: $main-gap-compact
        top: 20px

    .title
      float: none
      font-size: 2.5em

    .tools
      float: none

  +screen(map-get($screen, small))
    &.centered
      .tools
        position: relative
        right: 0
        top: 0
        width: 100%

    .title
      font-size: 2em

    .tools
      .btn
        width: 100%
        margin-top: 5px

// Heading secondary
.block-heading-secondary
  @extend %clearfix

  margin-bottom: $main-gap
  text-align: center

  .title
    float: left
    margin: 0
    font:
      weight: 700
      size: 1.9em
    letter-spacing: -1px

  .subtitle
    float: left
    margin: 0
    font:
      size: 1.7em
      weight: 700

  .tools
    float: right
    margin: 5px 0

  +screen(map-get($screen, medium))
    .title
      float: none
      font-size: 1.9em

    .tools
      float: none

  +screen(map-get($screen, small))
    .title
      font-size: 1.5em

    .tools
      .btn
        width: 100%
        margin-top: 5px

// Message
.block-message
  width: 70%
  margin: 30px auto
  text-align: center

  h4
    color: $color-dark
    line-height: 130%

  p
    color: darken($color-light, 5%)
    font-size: 1.1em
    line-height: 120%

  .btn
    margin-top: 15px

  &:before
    +icon

    content: '\f135'
    margin-bottom: 15px
    color: $color-lighter
    font-size: 85px

+block-message('warning', '\f071', $color-warning)
+block-message('success', '\f00c', map-get($color-custom, 1))
+block-message('danger', '\f00d', $color-danger)
+block-message('empty', '\f0f4')
+block-message('support', '\f1cd')
+block-message('contact', '\f1d8')
+block-message('search', '\f002')
+block-message('notfound', '\f127')
+block-message('security', '\f132')
+block-message('unauthorized', '\f05e')
+block-message('location', '\f041')
+block-message('image', '\f03e')
+block-message('video', '\f03d')
+block-message('gear', '\f085')
+block-message('users', '\f0c0')
+block-message('building', '\f0f7')

// Action
.block-action
  margin-top: 30px
  padding-top: 20px
  border-top: 4px solid $color-lighter
  text-align: right

  +screen(map-get($screen, small))
    text-align: center

// Separate
.block-separate
  padding: $main-gap 0
  margin: $main-gap 0
  border: 4px solid $color-lighter
  border:
    left: none
    right: none

  &.slim
    padding: ($main-gap / 2) 0
    margin: ($main-gap / 2) 0
    border-width: 1px

  &.top
    padding-bottom: 0
    margin-bottom: 0
    border-bottom: none

  &.bottom
    padding-top: 0
    margin-top: 0
    border-top: none

// Legend
.block-legend
  margin: 15px 0
  color: darken($color-light, 15%)

  .item
    display: inline-block
    margin-right: 15px
    font-size: 0.9em

    &:before
      @extend %icon

      content: '\f111'
      margin-right: 5px
      font-size: 13px

    &:last-child
      margin-right: 0

    strong
      color: $color-dark

    =item($name, $color)
      &.#{$name}
        &:before
          color: $color

    +item('warning', $color-warning)
    +item('success', $color-success)
    +item('danger', $color-danger)
    +item('info', $color-info)
    +item('warning-light', $color-warning-light)
    +item('success-light', $color-success-light)
    +item('danger-light', $color-danger-light)
    +item('info-light', $color-info-light)
    +item('base', map-get($color-custom, 1))

// Thumb
.block-thumb
  +border-radius($main-border-radius)

  margin-bottom: 10px
  padding: 15px
  background: lighten($color-lighter, 3%)
  font-size: 0.9em
  line-height: 130%
  text-align: center

  figure
    .image
      display: block
      width: 155px
      height: 105px
      overflow: hidden
      margin: 0 auto

      img
        max-width: 100%
        min-height: 100%

    figcaption
      margin-top: 5px
      font-weight: bold

  ul
    display: block
    margin: 5px 0 0
    padding: 0
    color: $color-light

    li
      display: inline
      margin: 0 5px

// Total
.block-total
  margin-top: 15px
  font-family: $font-thick
  letter-spacing: -1px
  text-align: center

  .preffix
    margin-right: 5px
    font:
      weight: 300
      size: 1.7em

  .output
    font:
      weight: 700
      size: 2.9em

// Impact
.block-impact
  $height: 140px

  padding: 15px

  .primary
    height: $height
    position: relative
    text-align: center

    .value
      +transform(translateY(50%))

      width: 100%
      min-width: $height
      position: absolute
      bottom: 50%
      color: $color-dark
      font:
        weight: 700
        size: 1.7em
      letter-spacing: -1px

      span
        margin-right: 3px
        font-size: 1.7em

  .secondary
    @extend %centered-vertical

    height: $height
    padding: 0 25px

    h5
      padding-bottom: 5px
      border-bottom: 1px solid map-get($color-custom, 1)
      color: map-get($color-custom, 1)
      font-size: 0.8em
      text-transform: uppercase

    .views,
    .target
      margin-top: 10px

      &:before
        +icon

        margin-right: 10px
        color: $color-light
        font-size: 20px

      span
        font-weight: bold

    .views
      &:before
        content: '\f06e'

    .target
      &:before
        content: '\f140'

  +screen(map-get($screen, medium))
    .primary
      .chart
        position: relative

// Stamp
.block-stamp
  margin-bottom: 30px

  .title
    color: map-get($color-custom, 1)
    font:
      weight: 300
      size: 4.5vh
      family: $font-regular
    letter-spacing: -1px
    line-height: 120%

  .text
    margin-top: 15px
    font:
      weight: normal
      size: 2.1vh
      family: $font-regular
    line-height: 160%

// Sample
.block-sample
  $size: 60px
  +border-radius($size)
  +box-sizing(border-box)

  display: inline-block
  width: $size
  height: $size
  background:
    color: map-get($color-custom, 1)
    position: 50% 50%
    repeat: no-repeat
    size: cover
  color: #fff
  font:
    weight: 700
    size: 23px
  line-height: $size
  text:
    transform: uppercase
    align: center

  &:active,
  &:focus,
  &:hover
    color: #fff

  &.large
    $size: 90px
    +border-radius($size)

    width: $size
    height: $size
    font-size: 33px
    line-height: $size

  &.kind
    position: relative

    &:after
      $size: 30px
      +icon
      +border-radius($size)
      +box-shadow(0 0 0 2px #fff)
      +box-sizing(border-box)
      +transition(all 0.1s)

      position: absolute
      right: -($size / 2)
      top: 50%
      display: block
      width: $size
      height: $size
      margin-top: -($size / 2)
      background: map-get($color-custom, 1)
      color: #fff
      text-align: center
      font-size: 13px
      line-height: $size

    &.image
      &:after
        content: '\f030'

    &.video
      &:after
        content: '\f03d'

    &.text
      &:after
        content: '\f15c'

    &.online
      &:after
        content: '\f00c'

    &.offline
      &:after
        content: '\f00d'
        background: $color-danger

// Docket
.block-docket
  +border-radius($main-border-radius)

  margin: $main-gap
  text-align: center

  .stamp
    margin-bottom: $main-gap

    i
      font-size: 60px

  .heading
    margin: 0
    color: #fff
    font:
      weight: 700
      size: 1.9em
    line-height: 110%

  .body
    margin-top: $main-gap / 2
    font-size: 1.1em
    line-height: 140%

  // Responsivity
  +screen(map-get($screen, medium))
    .heading
      font-size: 1.5em

// Key value
.block-key-value
  padding: $main-gap-compact
  text-align: center

  .key
    margin-top: 5px
    color: $color-light
    font-size: 1em
    line-height: 130%

  .value
    color: $color-dark
    font:
      weight: 700
      size: 3.1em
    line-height: 100%

// Tutor
.block-tutor
  position: relative
  display: flex
  flex-direction: row
  align-items: center

  .index
    $size: 40px
    +border-radius($size)

    position: absolute
    left: $main-gap-compact
    top: $main-gap-compact
    width: $size
    height: $size
    background: lighten(map-get($color-custom, 1), 15%)
    color: map-get($color-custom, 1)
    font:
      weight: 700
      size: 15px
    line-height: $size
    text-align: center

  .image
    width: 35%
    text-align: center
    color: lighten(map-get($color-custom, 1), 15%)

    i
      font-size: 80px

  .body
    width: 65%
    padding: ($main-gap * 2) $main-gap

    h4
      color: #fff
      font-size: 1.9em

    p
      margin-top: $main-gap-compact
      font-size: 1.1em
      line-height: 150%

  +screen(map-get($screen, medium))
    flex-direction: column
    margin-top: $main-gap

    .index
      left: 0
      top: 0

    .image
      width: 100%

    .body
      width: 100%
      padding: $main-gap-compact
      text-align: center

      h4
        font-size: 1.5em

// Payment
.block-payment
  padding-top: 30px
  margin-top: 30px
  border-top: 5px solid $color-lightest
