.breadcrumb
  padding: 15px $main-gap
  background: $color-lighter

  li
    text-transform: none

    &:first-child
      a
        margin-left: 0

    + li
      &:before
        color: $color-light

  a
    &.active,
    &:active,
    &:hover
      color: map-get($color-custom, 1) !important

  +screen(map-get($screen, medium))
    $main-gap: 15px

    padding: 15px $main-gap
