// Default
.btn
  margin-right: 3px
  font-weight: 700

  &:last-child
    margin-right: 0

  .caret
    margin-left: 0

// Link
.btn-link
  @extend %link

  background: none
  font-weight: 400

// Secondary
.btn-secondary
  border-color: map-get($color-custom, 1)
  background-color: transparent
  color: map-get($color-custom, 1)

  &:active,
  &:focus,
  &:hover
    border-color: lighten(map-get($color-custom, 1), 5%)
    background-color: transparent
    color: lighten(map-get($color-custom, 1), 5%)

  &[disabled]
    background-color: transparent

// Bordered
.btn-bordered
  border: 2px solid map-get($color-custom, 1)
  background-color: transparent
  color: map-get($color-custom, 1)

  &:active,
  &:focus,
  &:hover
    border: 2px solid lighten(map-get($color-custom, 1), 5%)
    background-color: transparent
    color: lighten(map-get($color-custom, 1), 5%)

  &[disabled]
    background-color: transparent

// Short
.btn-short
  @extend %link

  padding:
    left: 8px
    right: 8px
  border-color: transparent
  background: none

  i
    font-size: 16px

  &:active,
  &:focus,
  &:hover
    border-color: transparent
    background: none

// Group
.btn-group
  > .btn
    margin-right: 0
