// Float
.card-float
  +box-shadow(2px 2px 7px rgba(0, 0, 0, 0.1))

  display: none
  padding: 15px
  border: 1px solid $color-lighter
  background: $color-lightest

  &.on
    display: block

  .form-group
    &:last-child
      margin-bottom: 0
