.coach-focus
  position: relative

  &:after
    +animation-swing-vertical(5px, 1s)
    +icon
    +text-shadow(0 3px 6px rgba(0, 0, 0, 0.05))

    content: '\f062'
    z-index: 800
    position: absolute
    left: 0
    top: 100%
    width: 100%
    margin-top: 5px
    color: lighten(map-get($color-custom, 1), 5%)
    font-size: 100px
    text-align: center
