.main-collapse-group
  &.framed
    padding: 15px
    background: $color-lightest

  .main-collapse
    margin-bottom: 0
    border-bottom: none

    &:last-child
      border-bottom: 1px solid $color-light

.main-collapse
  margin-bottom: 5px
  border: 1px solid $color-light

  &.static
    .main-collapse-heading
      cursor: default
      background: $color-lighter

      &:after
        display: none

  &.on
    .main-collapse-heading
      color: $color-dark

      &:after
        content: '\e63a'

    .main-collapse-body
      display: block

    .block-message
      margin: 15px auto

  &.main-collapse-step
    &.ok
      .main-collapse-heading
        &:before
          content: '\f00c'
          color: map-get($color-custom, 1)

    .main-collapse-heading
      &:before
        +icon

        content: '\f071'
        width: 15px
        margin-right: 5px
        color: $color-warning
        text-align: center

.main-collapse-heading
  +transition(all 0.1s)

  position: relative
  padding: 15px
  cursor: pointer
  background: $color-lighter
  color: darken($color-light, 5%)
  font:
    weight: 700
    size: 0.9em
  text-transform: uppercase

  &:hover,
  &:focus
    background: darken($color-lighter, 5%)
    color: $color-dark

  &:after
    +icon(map-get($font-icon, 2))

    content: '\e656'
    position: absolute
    right: 15px
    top: 17px

.main-collapse-body
  display: none
  padding: $main-gap $main-gap-compact
  background: #fff

  .form-group
    &:last-child
      margin-bottom: 0
