[inv-duotab]
  position: relative
  display: flex
  flex-direction: row
  height: 100vh

  +screen(map-get($screen, medium))
    flex-direction: column
    height: auto

    .duotab-item
      order: 1

      &.on
        order: 2

      > .trigger
        padding: $main-gap-compact
        font-size: 1.5em

        &:before
          display: none

      > .heading
        flex-direction: column
        align-items: center
        padding: $main-gap-compact

        ul
          margin-top: $main-gap-compact
          text-align: center

          li
            margin: 0 10px

      > .content
        flex-direction: column

        .content-a
          margin: 0 $main-gap-compact
          font-size: 0.6em
          text-align: center

        .content-b
          margin: $main-gap-compact

.duotab-item
  $trigger-width: 180px
  $container-width: map-get($screen, large) - $trigger-width
  +transition(all 0.1s)

  position: relative
  flex: 1
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-width: $trigger-width
  overflow: hidden
  background:
    image: image-url('billboard/darts.jpg')
    position: 50% 50%
    repeat: no-repeat
    size: cover

  &:first-child
    $color: $color-warning

    background-image: image-url('billboard/tv.jpg')

    > .trigger
      background: $color

      &:hover
        background: darken($color, 3%)

      &:before
        content: '\f060'

    > .content
      .content-a
        background-color: rgba($color, 0.95)

      .content-b
        a
          color: $color

          &:active,
          &:focus,
          &:hover
            color: lighten($color, 5%)

    form
      button
        background: $color

        &:hover
          background: darken($color, 3%)

  &.on
    flex: 5

    > .trigger
      display: none

    > .heading,
    > .content
      +opacity(1)

      position: relative

      .content-a
        +opacity(1)

  > .trigger
    @extend %font-thin
    +transition(all 0.1s)


    z-index: 100
    position: relative
    flex: 1
    display: block
    width: 100%
    height: 100%
    border: none
    cursor: pointer
    background: map-get($color-custom, 1)
    color: #fff
    font-size: 1.9em
    line-height: 120%
    text:
      transform: uppercase
      align: center

    &:hover
      background: darken(map-get($color-custom, 1), 3%)

      &:before,
      span
        color: #fff

    span
      @extend %font-thick
      +transition(all 0.1s)

      display: block
      color: rgba(255, 255, 255, 0.7)
      text-transform: lowercase

    &:before
      +icon
      +transition(all 0.1s)

      content: '\f061'
      display: block
      margin-bottom: 15px
      font-size: 50px
      color: rgba(255, 255, 255, 0.7)

  > .heading
    +opacity(0)
    +transition(opacity 0.1s)

    z-index: 10
    position: absolute
    left: 0
    top: 0
    display: flex
    flex-direction: row
    align-items: flex-end
    width: 100%
    max-width: $container-width
    padding: 30px
    margin-bottom: 15px
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)

    .logo-cloudmidia
      flex: 1
      width: 300px
      height: 70px
      overflow: hidden
      background:
        image: image-url('logo-cloudmidia-white.svg')
        position: 0 100%
        repeat: no-repeat
        size: 100% auto
      text-indent: -9999px

    ul
      flex: 2
      text-align: right
      margin: 0
      padding: 0

      li
        display: inline
        margin-left: 20px

      a
        +text-shadow(1px 1px 0 rgba(0, 0, 0, 0.1) !important)

        color: #fff
        font-weight: 700
        font-size: 1em
        text-transform: uppercase

        &:hover
          color: map-get($color-custom, 1)

  > .content
    +opacity(0)
    +transition(opacity 0.1s)

    z-index: 10
    position: absolute
    left: 0
    top: 0
    display: flex
    flex-direction: row
    width: 100%
    max-width: $container-width

    .content-a
      +box-shadow(0 5px 10px rgba(0, 0, 0, 0.3))

      position: relative
      flex: 1
      display: flex
      flex-direction: column
      justify-content: center
      padding: 30px
      margin: 30px
      background:
        color: rgba(map-get($color-custom, 1), 0.95)
        image: image-url('logo-cloudmidia-grid.svg')
        position: 50% 50%
        repeat: no-repeat
        size: 160% auto
      color: #fff
      text-align: right

      .major
        @extend %font-thick

        font-size: 4.3em
        letter-spacing: -1px
        line-height: 80%
        text-transform: lowercase

      .minor
        margin-top: 25px
        color: #fff
        font-size: 2.3em
        line-height: 120%

    .content-b
      flex: 1
      margin: 30px

      .heading
        margin-bottom: 15px
        color: #fff

        .major
          @extend %font-thick

          font-size: 2.3em
          letter-spacing: -1px
          line-height: 100%
          text-transform: lowercase

        .minor
          @extend %font-thin

          margin-top: 10px
          font-size: 1.3em
          line-height: 100%
          text-transform: uppercase

  form
    input
      @extend %input-text
      +box-shadow(0 5px 10px rgba(0, 0, 0, 0.3))

      margin-bottom: 15px

    button
      +border-radius($main-border-radius)
      +transition(all 0.1s)

      width: 100%
      padding: 15px
      border: none
      background: map-get($color-custom, 1)
      color: #fff
      font:
        weight: 700
        size: 1.1em

      &:hover
        background: darken(map-get($color-custom, 1), 3%)

    .note
      margin-top: 15px
      color: #fff
      font-size: 0.9em

    .has-error
      position: relative

      label.error
        +border-radius($main-border-radius)
        +border-top-right-radius(0)

        position: absolute
        right: 0
        top: $input-height - 7
        padding: 3px 5px
        margin-top: 0
        background: $color-danger
        color: #fff
        font:
          weight: 400
          size: 7px
        line-height: 100%

        &:before
          content: ''
          margin: 0

        &:after
          @extend %icon

          content: '\f071'
          margin-left: 5px

      .error-input
        position: relative

      .error-message
        background: $color-danger
        color: #fff
        font-size: 11px
