// Label
label
  &.error
    margin-top: 5px
    padding: 0
    color: $color-danger
    font-size: 0.9em !important

    &:before
      @extend %icon

      content: '\f071'
      margin-right: 5px

  &.with-link
    display: block
    overflow: hidden

    a
      float: right
      font:
        weight: normal
        size: 13px
      text-transform: none

// Radio/Checkbox
.radio,
.checkbox
  label
    font:
      weight: normal !important
      size: 1em !important
    text-transform: none !important

.radio
  &.radio-success
    input[type=radio]
      &:checked
        + label
          &:before
            background: #fff

// Group
.form-group
  margin-bottom: 20px

  label
    @extend %font-regular

    font-size: 1em

    &:not(.error)
      @extend %font-regular

      font-size: 1.1em
      text-transform: none

  .check-slide
    margin-top: 5px

    .switchery
      top: -3px

    label
      @extend %font-thick

      margin: 0 0 0 5px
      cursor: pointer
      font-size: 1em
      text-transform: none

.form-group-default-select
  padding-bottom: 10px

  .ui-select-container
    margin-top: 5px

.form-group-inline
  margin: 0
  padding: 20px 0
  border-bottom: 1px dotted $color-lighter

  label
    margin-top: 7px

  .radio,
  .checkbox
    label
      margin:
        top: 0
        bottom: 0
      font:
        weight: normal
        size: 1em
      text-transform: none

.form-group-thumb
  background: lighten($color-lighter, 7%)
  text-align: center

  .image
    +border-radius($main-border-radius)
    +transition(all 0.1s)

    display: block
    width: 155px
    height: 105px
    overflow: hidden
    margin: 5px auto 0
    border: 1px solid $color-light
    background: $color-light

    &:hover
      border-color: darken($color-light, 10%)

    span
      display: block
      padding: 2px 4px
      background: $color-light
      color: #fff
      font-size: 0.8em
      text-align: left

    img
      height: 100%

  .btn
    width: 155px
    float: none
    margin: 5px auto

// Form control
.form-control
  @extend %font-regular

  font-size: 1em

.has-error
  .form-control,
  .select2-container .select2-choice
    border-color: $color-danger

// Dropdown
.dropdown-menu
  +border-radius($main-border-radius)
  +box-shadow(0 3px 6px rgba(0, 0, 0, 0.05))

  min-width: 190px
  margin-top: 4px
  border: 1px solid $color-lighter
  background: #fff

  > li
    > a
      +border-radius(0)

      color: map-get($color-custom, 1)

      &:hover
        background: map-get($color-custom, 1)
        color: #fff

.dropdown-default
  .dropdown-menu
    min-width: auto

// Input loading
.input-loading
  background:
    image: image-url('progress/progress-circle-master.svg')
    position: 99% 50%
    repeat: no-repeat
    size: auto 25px

// invInputRange
[inv-local-input-range],
[inv-input-range]
  $font-size: 17px
  @extend %font-thick

  display: block
  color: $color-dark
  font-size: $font-size
  text-align: center

  output,
  .output
    @extend %font-thick

    display: inline
    color: $color-dark
    font-size: $font-size

  .output
    width: 110px
    margin: 0 3px
    text-align: right

  input[type="range"]
    &:focus
      + .rangeslider
        .rangeslider__handle
          +box-shadow(0 0 8px map-get($color-custom, 1))

  .rangeslider__fill
    +border-radius($main-border-radius)
    +box-shadow(none)

    background: map-get($color-custom, 1)

  .rangeslider--horizontal
    +border-radius($main-border-radius)
    +box-shadow(none)

    height: 5px
    margin: 15px 0

  .rangeslider__handle
    $size: 25px

    width: $size
    height: $size

    &:after
      width: ($size - 10)
      height: ($size - 10)

// uiSelect
.uiSelect-inline
  width: 100%
  min-width: 180px

// Input
.input

  display: flex
  flex-direction: row

  &:focus
    border: 2px solid red

  &.large
    input,
    i
      height: $input-height + 25
      min-height: $input-height + 25
      line-height: $input-height + 25

    input
      padding: 0 15px
      font-size: 17px

    i
      width: 60px
      font-size: 27px

  input,
  i
    @extend %input-text

  input
    &:not(:only-child)
      &:first-child
        +border-right-radius(0)

        border-right: none

      &:last-child
        +border-left-radius(0)

        border-left: none

      &:focus
        border: 1px solid rgba(0, 0, 0, 0.1)

  i
    width: $input-height
    padding: 0
    color: $color-lighter
    font:
      size: 19px
      family: map-get($font-icon, 1)
    line-height: $input-height
    text-align: center

    &:first-child
      +border-right-radius(0)

      border-right: none

    &:last-child
      +border-left-radius(0)

      border-left: none
