.label
  display: inline-block
  margin: 0 2px 4px 0
  font-weight: normal

.label-payment
  display: inline-block
  width: 100px
  height: 20px
  background:
    position: center center
    repeat: no-repeat
    size: auto 100%

  &.paypal
    background-image: image-url('logo-paypal.svg')
