// UI View
.default-ui-view
  height: 100%

// Default overlay
.default-overlay
  z-index: 900
  position: fixed
  left: 0
  top: 0
  display: none
  width: 100%
  height: 100%
  overflow: hidden
  background: rgba(0, 0, 0, 0.7)

// Default header
.default-header
  @extend %clearfix
  +box-shadow(inset 0 -1px 0 $color-lighter)

  z-index: 800
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: $main-header-height
  background: #fff

  .navicon
    z-index: 789
    position: absolute
    left: 0
    top: 0
    display: none
    padding: 0 $main-gap-compact
    margin: 0
    border: none
    outline: 0
    background: none
    color: map-get($color-custom, 1)

    &:before
      +icon

      content: '\f0c9'
      font:
        weight: normal
        size: 21px
      line-height: $main-header-height

  .logo
    float: left
    padding: 5px 0
    margin: 0 $main-gap

    a
      display: block
      width: 160px
      height: 50px
      background:
        image: image-url('logo-cloudmidia.svg')
        size: 100% auto
        position: 50% 50%
        repeat: no-repeat
      text-indent: -9999px

  .nav,
  .links
    padding: 0
    margin: 0

    ul
      padding: 0
      margin: 0

    li
      float: left
      display: block
      padding: 0

      &.on
        a
          +box-shadow(inset 0 -1px 0 map-get($color-custom, 1))

          color: map-get($color-custom, 1)

      &.major
        padding: 10px

        a
          +border-radius($main-border-radius)

          background: map-get($color-custom, 1)
          color: #fff
          line-height: $main-header-height - 20

          &:hover
            background: lighten(map-get($color-custom, 1), 5%)

    a
      display: block
      padding: 0 $main-gap-compact
      color: $color-darker
      font-weight: 700
      line-height: $main-header-height

      &:hover
        color: map-get($color-custom, 1)

    i
      font-size: 19px

  .nav
    float: left

  .links
    float: right

  .sessionav
    float: right
    position: relative

  +screen(map-get($screen, medium))
    .navicon
      display: block

    .logo
      float: none

      a
        margin: 0 auto

    .nav,
    .links
      float: none
      display: none
      text-align: center

      ul
        margin: 0
        padding: 0

      li
        float: none
        margin: 0
        border-bottom: 1px solid $color-lighter
        background: $color-lightest

        &.on
          a
            +box-shadow(none)
      a
        padding: 10px 20px
        line-height: 130%

// Default footer
.default-footer
  @extend %clearfix
  +box-sizing(border-box)

  z-index: 600
  position: relative
  height: $main-footer-height
  padding: $main-gap
  margin-top: -$main-footer-height
  font-size: 0.9em
  text-align: center

  .main
    display: block
    width: 120px
    height: 25px
    overflow: hidden
    position: absolute
    left: 50%
    margin-left: -60px
    background:
      image: image-url('logo-cloudmidia-gray.svg')
      size: auto 20px
      position: 50% 50%
      repeat: no-repeat
    text-indent: -9999px

  .copyright
    float: left
    padding: 0
    border: none
    line-height: 24px

  .links
    float: right
    padding: 0
    margin: 0

    li
      display: inline
      margin-left: 10px

  +screen(map-get($screen, medium))
    $main-footer-height: 115px

    height: $main-footer-height
    padding: $main-gap-compact
    margin-top: -$main-footer-height

    .main
      display: inline-block
      position: relative
      left: 0
      margin: 0

    .copyright,
    .links
      float: none

    .links
      li
        margin: 0 5px

// Default content
.default-content
  +box-sizing(border-box)

  z-index: 500
  position: relative
  min-height: 100%
  padding: $main-header-height 0 ($main-footer-height + $main-gap)
  background: #fff

  +screen(map-get($screen, medium))
    $main-footer-height: 115px

    padding-bottom: $main-footer-height + $main-gap-compact

// Lite header
.lite-header
  +box-shadow(0 0 2px rgba(0, 0, 0, 0.1))

  z-index: 700
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: $main-header-height
  background: #fff

  .logo
    z-index: 779
    padding: 5px 0
    margin: 0

    a
      display: block
      width: 160px
      height: 50px
      margin: 0 auto
      background:
        image: image-url('logo-cloudmidia.svg')
        size: 100% auto
        position: 50% 50%
        repeat: no-repeat
      text-indent: -9999px

// Lite footer
.lite-footer
  +box-sizing(border-box)

  z-index: 600
  position: relative
  height: $main-footer-height
  padding-top: 17px
  margin-top: -$main-footer-height
  font-size: 0.9em
  text-align: center

  .copyright
    padding: 0
    border: none
    line-height: 24px

  .links
    padding: 0
    margin: 0

    li
      display: inline
      margin: 0 5px

// Lite content
.lite-content
  +box-sizing(border-box)

  z-index: 500
  position: relative
  min-height: 100%
  padding: $main-header-height 0 ($main-footer-height + $main-gap)
  background: $color-lightest
  text-align: center

  +screen(map-get($screen, medium))
    padding-bottom: $main-footer-height + $main-gap-compact

// Prime header
.layout-prime
  .default-content
    padding-top: 0
