.list-media
  @extend %clearfix

  padding: 0

  li
    +box-sizing(border-box)
    +transition(all 0.1s)

    display: block
    width: 155px
    position: relative
    float: left
    margin: 7px
    padding: 7px
    border: 1px solid $color-lighter
    border-top-width: 2px
    background: #fff

    &:hover
      border-color: $color-light

      .tools
        +opacity(1)

    &.selected
      border-color: map-get($color-custom, 1)
      background: rgba(map-get($color-custom, 1), 0.1)

    .tools
      @extend %clearfix
      +opacity(0.5)

      font-size: 11px

      a
        margin-right: 5px

    .image
      +box-sizing(border-box)

      display: block
      width: 100%
      height: 105px
      overflow: hidden
      margin-top: 5px
      background: $color-lighter
      text-align: center

      img
        height: 100%

    > label
      display: inline
      margin: 0
      padding: 0
      cursor: pointer
      line-height: 100%

  .radio
    margin: 5px 0 0

    label
      margin-bottom: 0
      font:
        weight: bold
        size: 10px

.list-card
  display: flex
  flex:
    direction: row
    wrap: wrap
  margin: 0
  padding: 0

  > li
    +box-shadow(1px 1px 2px rgba(0, 0, 0, 0.1))
    +box-sizing(border-box)
    +transition(all 0.1s)

    position: relative
    display: block
    width: 270px
    height: 190px
    padding: 0
    margin: 15px
    border: 1px solid transparent
    cursor: pointer
    background: #fff
    line-height: 100%

    &:hover
      border-color: map-get($color-custom, 1)

      .description
        color: $color-dark

        .avatar
          +opacity(1)

    &.selected
      &:after
        +icon

        content: '\f00c'
        position: absolute
        left: 7px
        top: 7px
        color: $color-light
        font-size: 19px

    .description
      @extend %centered-vertical
      +box-sizing(border-box)
      +transition(all 0.1s)

      height: 100%
      padding: 0 10px 35px
      color: $color-light
      font:
        weight: 700
        size: 1.3em
      line-height: 110%
      text-align: center

      .avatar
        +opacity(0.5)
        +transition(all 0.1s)

        margin-bottom: 10px

    .actions
      width: 100%
      position: absolute
      left: 0
      bottom: 0
      padding: 0
      margin: 0
      border-top: 1px solid $color-lighter
      text-align: right

      li
        display: inline
        padding: 0

      a
        display: inline-block
        padding: 10px 15px 10px 0
        color: map-get($color-custom, 1)
        font:
          weight: 700
          size: 0.8em
        text-transform: uppercase

        &:hover
          color: lighten(map-get($color-custom, 1), 5%)

    .add
      @extend %centered-vertical

      height: 100%
      color: $color-light
      font:
        weight: 700
        size: 0.8em
      text-transform: uppercase

      &:hover
        color: lighten(map-get($color-custom, 1), 5%)

      &:before
        +icon

        content: '\f055'
        display: block
        margin-bottom: 10px
        font-size: 60px

  // Responsivity
  +screen(map-get($screen, medium))
    justify-content: center

  +screen(map-get($screen, small))
    > li
      width: 100%

.list-define
  display: flex
  flex:
    direction: row
    wrap: wrap
  padding: 0

  > li
    display: block
    width: 50%
    padding: ($main-gap * 2) $main-gap
    border-bottom: 4px solid $color-lightest

    h4
      color: map-get($color-custom, 1)
      font-size: 1.4em
      line-height: 130%

    p,
    li
      margin-top: $main-gap-compact
      font-size: 1.1em
      line-height: 150%

  +screen(map-get($screen, medium))
    flex-direction: column
    text-align: center

    > li
      width: 100%
      padding: $main-gap 0

.list-check
  padding: 0
  margin-top: 15px

  .item
    display: block
    margin: 25px 0
    font-size: 1.1em

    &:before
      $size: 30px
      $border: 2px
      +icon
      +border-radius($size)

      content: '\f00d'
      width: $size
      height: $size
      margin-right: 10px
      border: $border solid
      background: #fff
      color: $color-danger
      font-size: 20px
      line-height: $size - ($border * 2)
      text-align: center

    &.ok
      &:before
        content: '\f00c'
        color: $color-success
