// Page
.loader-page
  z-index: 710
  display: none
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  background:
    color: rgba(255, 255, 255, 0.9)
    image: image-url('progress/progress-circle-success.svg')
    position: 50% 50%
    repeat: no-repeat
    size: 100px auto

// Partial
.loader-partial
  min-height: 80px
  position: relative

  &:after
    content: ''
    z-index: 710
    display: block
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background:
      color: rgba(255, 255, 255, 0.9)
      image: image-url('progress/progress-circle-success.svg')
      position: 50% 50%
      repeat: no-repeat
      size: 50px auto
