.modal
  &.fade
    &.slide-right
      .modal-dialog
        .modal-content
          height: auto
          min-height: 100%

      .close
        @extend %button-close

  .modal-header
    padding-bottom: 15px

    .close
      @extend %button-close

.modal-progress-circle
  margin:
    top: 150px !important
    bottom: 150px !important
