.percentbar
  text-align: center

.percentbar-chart
  +border-radius($main-border-radius)

  height: 30px
  overflow: hidden
  background: $color-lighter

  div
    +transition(all 0.5s)

    float: left
    height: 100%
