.sessionav
  position: absolute
  right: 0
  top: 0

  .trigger
    position: relative
    display: block
    height: $main-header-height
    padding:
      right: (65px + $main-gap-compact)
      left: $main-gap-compact
    color: map-get($color-custom, 1)
    text-align: right

    &:after
      +icon

      content: '\f107'
      position: absolute
      right: $main-gap-compact
      top: 24px

    .name
      display: flex
      height: 100%
      flex:
        direction: row
        wrap: wrap
      align:
        items: center
        content: center

      .major,
      .minor
        width: 100%
        line-height: 100%

      .major
        font:
          weight: 700
          size: 1em

      .minor
        margin-top: 3px
        font-size: 0.9em

    .avatar
      $size: 35px
      +border-radius($size)
      +box-sizing(border-box)

      width: $size
      height: $size
      position: absolute
      right: 18px + $main-gap-compact
      top: 12px
      background:
        position: 50% 50%
        repeat: no-repeat
        size: cover

  .menu
    +box-shadow(0 2px 4px rgba(0, 0, 0, 0.2))
    +box-sizing(border-box)

    z-index: 99
    position: absolute
    right: $main-gap-compact
    top: $main-header-height - 5
    display: none
    min-width: 200px
    max-width: 260px
    overflow-y: auto
    padding: 7px 0
    border-top: 1px solid map-get($color-custom, 1)
    background: #fff
    text-align: left

    li
      display: block
      padding: 0

    .item-divider
      height: 1px
      overflow: hidden
      margin: 7px 0
      background: rgba(0, 0, 0, 0.1)

    .item-header
      @extend %font-thick

      display: none
      padding: 7px 10px
      color: map-get($color-custom, 1)
      line-height: 130%

    .item-label
      @extend %font-thick

      padding: 7px 10px
      color: $color-light
      font-size: 0.8em
      line-height: 130%
      text-transform: uppercase

    .item-option
      &.on
        a
          color: map-get($color-custom, 1)

          &:after
            content: '\f192'

      a
        position: relative
        padding-left: 30px
        color: darken($color-light, 5%)

        &:hover
          background: none
          color: map-get($color-custom, 1)

        &:after
          +icon

          content: '\f10c'
          position: absolute
          left: 10px
          top: 50%
          margin-top: -8px
          font-size: 16px

    a
      display: block
      padding: 7px 10px
      color: $color-dark
      line-height: 130%

      &:hover
        background: $color-lighter

  // Responsivity
  +screen(map-get($screen, medium))
    position: absolute !important

    .trigger
      .name
        display: none

    .menu
      .item-header
        display: block
