// Default
.table
  font-size: 0.9em

  > thead
    > tr
      > th
        padding: ($main-gap-compact / 2) $main-gap-compact
        font:
          size: 0.9em
          family: $font-regular
        white-space: nowrap
        vertical-align: middle

        &.order
          +transition(all 0.1s)

          cursor: pointer

          &:hover
            color: $color-dark

          &:after
            @extend %icon

            float: right
            margin-top: 1px

        &.order-asc
          color: $color-dark

          &:after
            content: '\f106'

        &.order-desc
          color: $color-dark

          &:after
            content: '\f107'

  > tbody
    > tr
      &:last-child
        td
          border-bottom: none

      &:first-child
        td
          border-bottom: 1px solid rgba(230,230,230,.7)

      &:hover
        .toggle-hover
          *
            +opacity(1)

      .toggle-hover
        *
          +opacity(0.4)

      > td
        +transition(background-color 0.2s)

        padding: $main-gap-compact
        background: none
        font:
          size: 1em
          family: $font-regular
        line-height: 160%
        vertical-align: middle

        &:first-child
          padding-left: 0

        &:last-child
          padding-right: 0

        &.action
          white-space: nowrap
          text-align: right

  .checkbox
    margin: 0

  [type="time"]
    font-size: 1em

  .checkbox,
  .radio
    label
      margin-right: 0

      &:after
        width: auto

  // Hover
  &.table-hover
    > tbody
      > tr
        &:hover
          background-color: transparent

          td
            background-color: lighten(map-get($color-custom, 1), 50%) !important

// Iventione
.inv-table-responsive
  +screen(map-get($screen, medium))
    > thead
      display: none

    > tbody
      > tr
        +box-shadow(1px 1px 2px rgba(0, 0, 0, 0.1))

        display: block
        margin-bottom: $main-gap
        border: 1px solid $color-light
        border-top: 2px solid map-get($color-custom, 1)
        background: #fff

        &:last-child
          > td
            border-bottom: 1px solid rgba(230, 230, 230, 0.7)

        > td
          display: block
          padding: 12px 10px
          text-align: center !important

          &:last-child
            border-bottom: none

          &.action
            padding-right: ($main-gap-compact / 2)
            text-align: right !important

// Bill
.table-bill
  width: 100%
  font-size: 0.9em

  td
    padding: 10px
    border-bottom: 1px dotted $color-light

    &:first-child
      padding-left: 0

    &:last-child
      padding-right: 0
      text-align: right

    &.key
      font-style: italic

    &.value
      font-size: 1.3em

  .total
    font-size: 1.7em
    font-weight: 700

    td
      padding:
        top: 30px
        bottom: 0
      border: none
