// Index
.tab-index
  @extend %clearfix
  +box-shadow(inset 0 -1px 0 $color-lighter)

  padding: 0
  margin: 0

  li
    display: inline

    &.on
      a
        +box-shadow(inset 0 -1px 0 map-get($color-custom, 1))

        color: map-get($color-custom, 1)

  a
    float: left
    display: block
    padding: 0 $main-gap-compact
    color: $color-darker
    font-size: 1em
    line-height: $main-header-height

    &:hover
      color: map-get($color-custom, 1)

  // Responsive
  +screen(map-get($screen, medium))
    +box-shadow(none)

    li
      display: block
      text-align: center

      &.on
        a
          +box-shadow(inset 0 -1px 0 $color-lighter)

    a
      +box-shadow(inset 0 -1px 0 $color-lighter)

      float: none
      line-height: 40px

// View
.tab-view
  padding-top: $main-gap

  // Responsive
  +screen(map-get($screen, small))
    padding: $main-gap 0

// Index Step
.tab-index-step
  +box-shadow(inset 0 -1px 0 $color-lighter)

  display: flex
  flex-direction: flow
  padding: 0
  margin: 0

  li
    display: block
    width: 100%

    &.on
      a
        +box-shadow(inset 0 -1px 0 map-get($color-custom, 1))

        color: map-get($color-custom, 1)

    &.ok
      a
        .step
          background: map-get($color-custom, 1)

  a
    display: block
    padding: 0 $main-gap-compact
    color: $color-darker
    font:
      weight: 700
      size: 0.9em
    line-height: $main-header-height
    text-transform: uppercase

    &:hover
      color: map-get($color-custom, 1)

    .step
      $size: 25px
      @extend %font-thick
      +border-radius($size)

      display: inline-block
      width: $size
      height: $size
      margin-right: 5px
      background: $color-light
      color: #fff
      font-size: 0.9em
      line-height: $size
      text-align: center

  // Responsive
  +screen(map-get($screen, medium))
    +box-shadow(none)

    flex-wrap: wrap

    li
      &.on
        a
          +box-shadow(inset 0 -1px 0 $color-lighter)

    a
      +box-shadow(inset 0 -1px 0 $color-lighter)

      padding: 0
      line-height: 40px
