<div class="row">
  <div class="col-md-6">
    <form name="campaignForm" id="formContent" ng-submit="campaignForm.$invalid" role="form" novalidate>
    <div class="block-message block-message-location" ng-if="locals === undefined">
      <p>Nenhum local selecionado</p>
    </div>

    <table ng-if="locals !== undefined" class="table inv-table-responsive">
      <thead>
        <tr>
          <th style="width: 1%;"></th>
          <th style="width: 80%;">Local</th>
          <th style="width: 19%;" class="align-center">Impulsionamento</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="local in locals">
        <td>
          <button type="button" tabindex="1" ng-if="!campaign.status" ng-click="removeLocal(local)" class="btn btn-short" title="Remover"><i class="fa fa-trash-o"></i></button>
        </td>
        <td>
          <div class="text-large"><strong>{{local.name}}</strong></div>
          <div class="muted">{{local.address | limitTo: 40}}{{local.address.length > 40 ? '...' : ''}}</div>
        </td>
        <td>
          <div inv-input-range is-disabled="campaign.status">
            <input type="range" ng-model="local.boosting" ng-disabled="campaign.status" ng-change="generalCalc()" min="1" max="{{local.quantityOfDevices ? local.quantityOfDevices: local.devices.length}}"
                   step="1" value="{{local.quantityOfDevices ? local.quantityOfDevices: local.devices.length}}">
            <output></output>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="text-center" ng-if="!campaign.status">
      <a href="javascript:;" data-toggle="modal" ng-click="openLocalsModal()" data-target="#modalLocation"><i class="fa fa-plus-circle"></i> Adicionar locais</a>
    </div>
  </form>

  </div>

  <div class="col-md-5 col-md-offset-1">
    <div class="card-float">
      <div class="form-group">
        <label>Impacto</label>
        <div class="block-impact">
          <div class="row">
            <div class="col-sm-4">
              <div class="primary">
                <div class="chart"></div>
                <div class="value"><span></span>%</div>
              </div>
            </div>

            <div class="col-sm-8">
              <div class="secondary">
                <h5>Estimativas</h5>
                <div class="views"><span></span> exibições</div>
                <div class="target">Alcance de <span></span> pessoas</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block-action">
  <button type="button" class="btn btn-lg btn-success" ladda="loadingSubmitNext" ng-click="SaveLocal()">Próximo</button>
</div>
