<div class="row">
  <div class="col-sm-6">
    <div class="block-heading-secondary">
      <h3 class="title">Básico</h3>
    </div>

    <form name="profileForm" id="form-profile" novalidate>
      <div class="form-group" ng-class="{ 'has-error' : profileForm.name.$invalid && (profileForm.name.$dirty || profileForm.$submitted)}">
        <label>Primeiro nome</label>
        <input type="text" name="name" id="name" required ng-maxlength="30" ng-model="profile.firstName" class="form-control">
        <label class="error" for="name" ng-show="((profileForm.name.$pristine && profileForm.$submitted && profileForm.name.$invalid) ||
            (!profileForm.name.$pristine && profileForm.name.$invalid)) && !profileForm.name.$error.maxlength">Campo obrigatório</label>
        <label class="error" for="name" ng-show="profileForm.name.$error.maxlength">Este campo não pode ter mais de 30 caracteres.</label>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : profileForm.lastname.$invalid && (profileForm.lastname.$dirty || profileForm.$submitted)}">
        <label>Último nome</label>
        <input type="text" name="lastname" id="lastname"  ng-model="profile.lastName"required ng-maxlength="30" class="form-control">
        <label class="error" for="lastname" ng-show="((profileForm.lastname.$pristine && profileForm.$submitted && profileForm.lastname.$invalid) ||
            (!profileForm.lastname.$pristine && profileForm.lastname.$invalid)) && !profileForm.lastname.$error.maxlength">Campo obrigatório</label>
        <label class="error" for="lastname" ng-show="profileForm.lastname.$error.maxlength">Este campo não pode ter mais de 30 caracteres.</label>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" ng-model="profile.userName" readonly class="form-control">
      </div>

      <div class="form-group">
        <label>Foto</label>
        <div class="block-panel text-center">
          <div class="block-sample large" ng-class="{'loader-partial': isLoadingImage === true}" style="background-image: url({{profile.userProfileImageUrl !== undefined ? profileInfo.userProfileImageUrl:'assets/images/avatar-default.svg'}})"></div>
          <div class="text-small muted margin-top-15 margin-bottom-15">Arquivo <strong>JPG</strong> ou <strong>PNG</strong>, com pelo menos <strong>300x300</strong>px</div>
          <button type="button" class="btn btn-secondary btn-file">
            <i class="fa fa-upload m-r-5"></i> Nova imagem
            <input type="file" id="chooseFile" ng-model="picFile" name="file"
                   class="btn btn-cons btn-default btn-block col-sm-6"
                   ngf-pattern="{{uploadPattern}}" ngf-multiple="true"
                   ngf-capture="'other'"
                   ngf-select="!form.file.$error.maxSize && picFile?accountUploadMedia(picFile):picFile=null"
                   accept="{{uploadPattern}}" ngf-max-size="20MB">
          </button>
        </div>
      </div>

      <div class="block-action">
        <button type="submit" ng-click="accountUpdate(profile)" class="btn btn-lg btn-success">Salvar</button>
      </div>
    </form>
  </div>

  <canvas id="canvas" style="display:none;"></canvas>

  <div class="col-sm-6">
    <div class="block-heading-secondary">
      <h3 class="title">Senha</h3>
    </div>

    <form name="passwordForm" novalidate>
      <div class="form-group"  ng-class="{ 'has-error' : passwordForm.currentPassword.$invalid && !passwordForm.currentPassword.$pristine}">
        <label>Senha atual</label>
        <input type="password" name="currentPassword" id="currentPassword" required class="form-control"
               placeholder="Mínimo de 6 caracteres." ng-model="user.oldPassword" minlength="6"
               required>
        <label class="error" for="currentPassword" ng-show="((passwordForm.currentPassword.$pristine && passwordForm.$submitted && passwordForm.currentPassword.$invalid) ||
               (!passwordForm.currentPassword.$pristine && passwordForm.currentPassword.$invalid)) && !passwordForm.currentPassword.$error.maxlength">Este
          campo é obrigatório!</label>
      </div>

      <div class="form-group"  ng-class="{ 'has-error' : passwordForm.newPassword.$invalid && !passwordForm.newPassword.$pristine}">
        <label>Nova senha</label>
        <input type="password" name="newPassword" required class="form-control"
               placeholder="Mínimo de 6 caracteres." ng-model="user.newPassword" minlength="6">
        <label class="error" for="newPassword" id="newPassword" ng-show="((passwordForm.newPassword.$pristine && passwordForm.$submitted && passwordForm.newPassword.$invalid) ||
            (!passwordForm.newPassword.$pristine && passwordForm.newPassword.$invalid)) && !passwordForm.newPassword.$error.maxlength">Este
          campo é obrigatório!</label>
        <label class="error" for="newPassword" ng-show="passwordForm.newPassword.$error.minlength"> Senha deve conter no mínimo 6 caracteres.</label>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : passwordForm.passwordTest.$invalid && !passwordForm.passwordTest.$pristine }">
        <label>Confirme a nova senha</label>
        <input type="password" name="passwordTest" id="passwordTest" required class="form-control"  placeholder="Mínimo de 6 caracteres."
               ng-model="user.confirmPassword" password-check="user.newPassword">
        <label class="error" for="passwordTest" ng-show="passwordForm.passwordTest.$error.passwordCheck">Senhas não são iguais!
        </label>
      </div>

      <div class="block-action">
        <button type="submit" class="btn btn-lg btn-success" ng-click="passwordUpdate(user)">Salvar</button>
      </div>
    </form>
  </div>
</div>
