<div class="register-container full-height sm-p-t-30">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle">
        <div class="col-md-12">
          <div pg-portlet class="panel panel-default" id="portlet-invitation"
               on-refresh="acceptInviteUser('#portlet-invitation')">
            <div class="panel-heading">
              <div class="panel-title">Convite
              </div>
            </div>
            <div ng-if="showInvitation">
              <div class="panel-heading clearfix">
              <!--<span class="thumbnail-wrapper d32 circular inline m-t-5">-->
                <!--<div class="avatar" style="background-image: url({{invitedUser.thumbUrl}})">{{invitedUser.thumbUrl === undefined ? invitedUser.accountName[0] : ''}}</div>-->
                <!--<img src="{{invitedUser.thumbUrl}}" alt=""-->
                     <!--data-src="assets/images/custom/profile/avatar.jpg" ui-jq="unveil"-->
                     <!--data-src-retina="assets/images/custom/profile/avatar.jpg" width="140" height="105">-->
              <!--</span>-->
                <h4>&nbsp{{invitedUser.accountName}}</h4>
              </div>
              <div class="panel-body">
                <p>Convidamos <b>{{invitedUser.email}}</b> a colaborar com os trabalhos da empresa por meio
                  desta aplicação.
                </p>
                <hr>
                <div><b>Permissões</b>
                  <div ng-repeat="role in invitedUser.roles"><i class="fa fa-check"></i> {{role}}</div>
                </div>
                <br>
                <div class="block-action" ng-if="invitedUser.userRegistred">
                  <button class="btn btn-cons btn-primary"  ng-click="acceptInviteUser()">
                    Aceitar
                  </button>
                </div>
                <form id="register-form" name="invitationForm" class="p-t-15" role="form"
                      ng-if="!invitedUser.userRegistred">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group form-group-default required"
                           ng-class="{ 'has-error' : invitationForm.username.$invalid && !invitationForm.username.$pristine}">
                        <label>Primeiro Nome</label>
                        <input type="text" name="username" placeholder="John" class="form-control"
                               ng-model="user.firstName" required>
                      </div>
                      <label class="error" for="username"
                             ng-show="invitationForm.username.$invalid && !invitationForm.username.$pristine">Este
                        campo é obrigatório!.</label>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group form-group-default required"
                           ng-class="{ 'has-error' : invitationForm.lname.$invalid && !invitationForm.lname.$pristine}">
                        <label>Último Nome</label>
                        <input type="text" name="lname" placeholder="Smith" class="form-control"
                               ng-model="user.lastName"
                               required>
                      </div>
                      <label class="error" for="lname"
                             ng-show="invitationForm.lname.$invalid && !invitationForm.lname.$pristine">Este
                        campo é obrigatório!.</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default required"
                           ng-class="{ 'has-error' : invitationForm.password.$invalid && !invitationForm.password.$pristine }">
                        <label>Senha</label>
                        <input type="password" class="form-control" name="password" placeholder="Mínimo de 4 caracteres"
                               ng-model="user.password" required>
                      </div>
                      <label class="error" for="password"
                             ng-show="invitationForm.password.$invalid && !invitationForm.password.$pristine">Este
                        campo é obrigatório!.</label>
                      <label class="error" for="password" ng-show="invitationForm.password.$error.minlength">Senha deve
                        conter no
                        mínimo 4 carateres!</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default required"
                           ng-class="{ 'has-error' : invitationForm.passwordTest.$invalid && !invitationForm.passwordTest.$pristine }">
                        <label>Confirmar senha</label>
                        <input type="password" class="form-control" name="passwordTest"
                               placeholder="Mínimo de 4 caracteres"
                               ng-model="user.confirmPassword" password-check="user.password" required>
                      </div>
                      <label class="error" for="passwordTest"
                             ng-show="invitationForm.passwordTest.$error.passwordCheck">Senhas
                        não são iguais!
                      </label>
                    </div>
                  </div>
                  <br>
                  <div>
                    <div><i class="fa fa-exclamation-triangle"></i> Usuário necessita se autenticar para aceitar convite.</div>
                  </div>
                  <div class="block-action">
                    <button class="btn btn-primary btn-cons m-t-10" type="submit" ng-click="acceptInvitation(user)"
                            ng-disabled="invitationForm.$invalid"> Aceitar convite
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
