<div class="block-heading-secondary">
  <h3 class="title">{{enterpriser.name}} possui {{quantity}} usuários</h3>

  <div class="tools">
    <a ui-sref="app.account.users.invite" class="btn btn-success" ng-if="hasCompany">Convidar usuário</a>
    <a ui-sref="lite.enterprises" class="btn btn-success" ng-if="!hasCompany">Cadastrar empresa</a>
  </div>
</div>

<!--<div class="block-message block-message-building">-->
  <!--<h4>Ops! Você ainda não cadastrou a sua empresa...</h4>-->
  <!--<p>É necessário que você cadastre a sua empresa para poder convidar usuários</p>-->
  <!--<a class="btn btn-success">Cadastrar empresa</a>-->
<!--</div>-->

<table class="table inv-table-responsive">
  <tbody>
    <tr ng-repeat="user in data">
      <td class="text-center">
        <div class="block-sample" style="background-image: url({{user.profileImageURL}})">{{user.profileImageURL === undefined ? user.name[0] : ''}}</div>
      </td>
      <td>
        <span class="text-xlarge"><strong>{{user.name}}</strong></span><br>
        {{user.email}}
      </td>
      <td class="text-center">
        <div class="text-large"><span ng-repeat="role in user.roles">{{role.name}}{{$last ? '' : ', '}}</span></div>
        <div class="text-small muted">Permissão</div>
      </td>
      <td class="action">
        <a disabled class="btn btn-secondary">Editar</a>
        <a disabled class="btn btn-secondary">Revogar acesso</a>
      </td>
    </tr>
    <tr ng-repeat="invitation in invitations">
      <td class="text-center">
        <div class="block-sample">{{invitation.userName !== undefined ? invitation.userName[0] : invitation.email[0]}}</div>
      </td>
      <td>
        <span class="text-xlarge"><strong>{{invitation.userName !== undefined ? invitation.userName : invitation.email}}
        </strong></span><br>
        {{invitation.userName === undefined ? invitation.userName : invitation.email}}
      </td>
      <td class="text-center">
        <div class="text-large"><span ng-repeat="role in invitation.roles">{{role.roleName}}{{$last ? '' : ', '}}</span></div>
        <div class="text-small muted">Permissão</div>
      </td>
      <td class="action">
        <a class="btn btn-success" ng-click="resendInvitation(invitation.id)">Reenviar</a>
        <a class="btn btn-secondary" ng-click="cancelInvitation(invitation.id)">Cancelar convite</a>
      </td>
    </tr>
  </tbody>
</table>
