<div class="block-heading-secondary">
  <h3 class="title">Convidar usuário para {{enterpriserName}}</h3>
</div>

<form name="invitationForm" novalidate>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group" ng-class="{ 'has-error' : invitationForm.email.$invalid && (invitationForm.email.$dirty || invitationForm.$submitted)}">
        <label>Email</label>
        <input type="email" name="email" id="email" required ng-model="email" class="form-control" ng-maxlength="30">
        <label class="error" for="email" ng-show="((invitationForm.email.$pristine && invitationForm.$submitted && invitationForm.email.$invalid) ||
                  (!invitationForm.email.$pristine && invitationForm.email.$invalid)) && !invitationForm.email.$error.maxlength">Email inválido</label>
        <label class="error" for="email" ng-show="invitationForm.email.$error.maxlength">Este campo não
          pode ter mais de 30 caracteres.</label>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : invitationForm.messageText.$invalid && (invitationForm.messageText.$dirty || invitationForm.$submitted)}">
        <label>Mensagem</label>
        <textarea name="messageText" id="messageText" cols="30" rows="5" ng-model="message" required class="form-control" placeholder="Olá! Junte-se à nossa conta Cloudmidia."></textarea>
       <label class="error" for="messageText" ng-show="((invitationForm.messageText.$pristine && invitationForm.$submitted && invitationForm.messageText.$invalid) ||
              (!invitationForm.messageText.$pristine && invitationForm.messageText.$invalid)) && !invitationForm.messageText.$error.maxlength">Campo obrigatório</label>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="main-collapse-group framed">
        <div class="main-collapse main-collapse-step on static" ng-class="checked() ? 'ok':''">
          <div class="main-collapse-heading">Permissão</div>
          <div class="main-collapse-body">
            <div class="radio radio-success" ng-repeat="role in allRoles">
              <input id="{{role.id}}" type="radio" name="type" ng-click="select(role.id)" ng-checked="role.id === 0" required>
              <label for="{{role.id}}">{{role.name}}</label>
            </div>
             <!--<label class="error" ng-if="!checked()">Campo obrigatório</label>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block-action">
    <button type="submit" class="btn btn-lg btn-success" ng-click="confirm()">Convidar</button>
  </div>
</form>
