<div class="block-container lightest">
  <div class="block-heading-master">
    <h2 class="title">Como funciona</h2>

    <div class="tools">
      <a href="javascript:;" ng-click="$back()" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Retornar</a>
    </div>
  </div>
</div>

<div class="block-container">
  <div class="block-container-holder">
    <div class="row">
      <div class="col-sm-6">
        <div class="block-tutor">
          <div class="index">1</div>
          <div class="image"><i class="icon-macbook"></i></div>
          <div class="body">
            <h4>Gerenciamento</h4>
            <p>As campanhas são criadas e gerenciadas a partir de qualquer lugar, via internet, através do computador, tablet ou celular.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="block-tutor">
          <div class="index">2</div>
          <div class="image"><i class="icon-world"></i></div>
          <div class="body">
            <h4>Internet</h4>
            <p>A solução precisa apenas de 2 pontos de energia e uma internet cabeada ou conectada à uma rede WiFi.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="block-tutor">
          <div class="index">3</div>
          <div class="image"><i class="icon-movie-file"></i></div>
          <div class="body">
            <h4>Player</h4>
            <p>Através da internet, o player se conecta com o Cloudmidia e baixa todo o conteúdo para reprodução.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="block-tutor">
          <div class="index">4</div>
          <div class="image"><i class="icon-visible"></i></div>
          <div class="body">
            <h4>Exibição</h4>
            <p>O conteúdo destinado a cada dispositivo passa a ser reproduzido conforme agendamento das campanhas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
