<div class="block-container lightest">
  <div class="block-heading-master">
    <h2 class="title">Minha conta</h2>

    <div class="tools">
      <a href="javascript:;" ng-click="$back()" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Retornar</a>
    </div>
  </div>
</div>

<div class="block-container">
  <div class="block-container-holder">
    <ul class="tab-index">
      <li ui-sref-active="on"><a ui-sref="app.account.overview">Visão geral</a></li>
      <li ui-sref-active="on"><a ui-sref="app.account.profile">Dados</a></li>
      <li ui-sref-active="on"><a ui-sref="app.account.companies">Empresas</a></li>
      <li ui-sref-active="on" ng-if="authorized()"><a ui-sref="app.account.users">Usuários</a></li>
      <!--<li ui-sref-active="on"><a ui-sref="app.account.billing">Financeiro</a></li>-->
    </ul>

    <div ui-view class="tab-view"></div>
  </div>
</div>
