<div class="block-container lightest">
  <div class="block-container-holder">
    <div class="block-heading-master">
      <h2 class="title">Editar campanha </h2><br>
      <h4 class="subtitle" ng-if="campaign.leftDays > 0"><i class="fa fa-warning"></i> Interrompida</h4>

      <div class="tools">
        <a ui-sref="app.campaign({enterpriserSlug: enterpriser.slug})" ng-click="$back()" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Retornar</a>
      </div>
    </div>
  </div>
</div>

<div class="block-container" ng-class="campaign === undefined ? 'loader-partial':''">
  <div class="block-container-holder">
    <form name="campaignForm" id="form-advertiser" ng-submit="campaignForm.$invalid" role="form" novalidate>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group required"
               ng-class="{ 'has-error' : campaignForm.name.$invalid && (campaignForm.name.$dirty || campaignForm.$submitted)}">
            <label>Nome da Campanha</label>
            <input id="name" type="text" class="form-control" name="name" ng-model="campaign.name" required ng-maxlength="30">
            <label class="error" for="adv" ng-show="((campaignForm.name.$pristine && campaignForm.$submitted && campaignForm.name.$invalid) ||
            (!campaignForm.name.$pristine && campaignForm.name.$invalid)) && !campaignForm.name.$error.maxlength">Campo obrigatório</label>
            <label class="error" for="name" ng-show="campaignForm.name.$error.maxlength">Este campo não pode ter mais de 30 caracteres.</label>
          </div>

          <div  class="form-group select2-container full-width" ng-class="{'has-error' : selectAdvertiser}">
            <label>Anunciante</label>
            <ui-select id="adv"  name="adv" ng-model="selectedAdvertiser.selected"
                       theme="select2" style="width: 100%;">
              <ui-select-match placeholder="Selecionar anunciante..." name="Advertiser">{{selectedAdvertiser.selected.advertiserName}}</ui-select-match>
              <ui-select-choices  repeat="advertiser in advertisers | propsFilter: {advertiserName: $select.search}">
                <div ng-bind="advertiser.advertiserName"></div>
              </ui-select-choices>
            </ui-select>
            <label class="error" for="adv" ng-show="selectAdvertiser">Campo obrigatório</label>
          </div>

          <div class="form-group">
            <label>Impacto</label>
            <div class="block-impact">
              <div class="row">
                <div class="col-sm-4">
                  <div class="primary">
                    <div class="chart"></div>
                    <div class="value"><span></span>%</div>
                  </div>
                </div>

                <div class="col-sm-8">
                  <div class="secondary">
                    <h5>Estimativas</h5>
                    <div class="views"><span></span> exibições</div>
                    <div class="target">Alcance de <span></span> pessoas</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="main-collapse-group framed">

            <!-- Content -->
            <div class="main-collapse main-collapse-step on" ng-class="content?'ok':''">
              <div class="main-collapse-heading">Conteúdo</div>
              <div class="main-collapse-body">
                <div class="form-group">
                  <label>Tipo</label>
                  <div class="radio radio-success">
                    <input id="typeImage" name="type" type="radio" value="image" ng-click="checked(0)"
                      ng-checked="campaign.type === 0">
                    <label for="typeImage">Imagem</label>

                    <input id="typeVideo" name="type" type="radio" value="video" ng-click="checked(1)"
                           ng-checked="campaign.type === 1">
                    <label for="typeVideo">Vídeo</label>

                    <input id="typeText" name="type" type="radio" value="text" ng-click="checked(2)"
                           ng-checked="campaign.type === 2">
                    <label for="typeText">Texto e imagem</label>

                    <input id="typeSocial" name="type" type="radio" value="text" ng-click="checked(3)"
                           ng-checked="campaign.type === 3">
                    <label for="typeSocial">Social</label>
                  </div>
                </div>
                <div ng-if="campaign.content === 2">
                  <div class="form-group required"
                       ng-class="{ 'has-error' : campaignForm.title.$invalid && (campaignForm.title.$dirty || campaignForm.$submitted)}">
                    <label>Título</label>
                    <input name="title" id="title" type="text" ng-model="campaign.media.title" class="form-control"
                           required maxlength="30">
                    <label class="error" for="adv" ng-show="((campaignForm.title.$pristine && campaignForm.$submitted && campaignForm.title.$invalid) ||
                    (!campaignForm.title.$pristine && campaignForm.title.$invalid)) && !campaignForm.title.$error.maxlength">Campo obrigatório</label>
                    <label class="error" for="title" ng-show="campaignForm.title.$error.maxlength">Este campo não pode ter mais de 30 caracteres.</label>
                  </div>
                  <div class="form-group required"
                       ng-class="{ 'has-error' : campaignForm.subtitle.$invalid && (campaignForm.subtitle.$dirty || campaignForm.$submitted)}">
                    <label>Subtítulo</label>
                    <input name="subtitle" type="text" ng-model="campaign.media.subtitle" class="form-control"
                           required maxlength="40">
                    <label class="error" for="subtitle" ng-show="((campaignForm.subtitle.$pristine && campaignForm.$submitted && campaignForm.subtitle.$invalid) ||
                    (!campaignForm.subtitle.$pristine && campaignForm.subtitle.$invalid)) && !campaignForm.subtitle.$error.maxlength">Campo obrigatório</label>
                  </div>

                  <div class="form-group required"
                       ng-class="{ 'has-error' : campaignForm.text.$invalid && (campaignForm.text.$dirty || campaignForm.$submitted)}">
                    <label>Texto</label>
                    <textarea name="text" class="form-control" ng-model="campaign.media.text" style="height: 100px;" required
                              maxlength="480"></textarea>
                    <label class="error" for="text" ng-show="((campaignForm.text.$pristine && campaignForm.$submitted && campaignForm.text.$invalid) ||
                    (!campaignForm.text.$pristine && campaignForm.text.$invalid)) && !campaignForm.text.$error.maxlength">Campo obrigatório</label>
                  </div>

                  <div class="form-group required"
                       ng-class="{ 'has-error' : campaignForm.source.$invalid && (campaignForm.source.$dirty || camapaignForm.$submitted)}">
                    <label>Fonte</label>
                    <input name = "source" type="text" ng-model="campaign.media.source" class="form-control"
                           required maxlength="128">
                    <label class="error" for="source" ng-show="((campaignForm.source.$pristine && campaignForm.$submitted && campaignForm.source.$invalid) ||
                    (!campaignForm.source.$pristine && campaignForm.source.$invalid)) && !campaignForm.source.$error.maxlength">Campo obrigatório</label>
                  </div>
                </div>

                <div class="form-group">
                  <div ng-if="campaign.content === 3">
                    <div ng-show="!existSocialUser">
                      <label>Usuário:</label>
                      <div class="m-t-5">
                        <button type="button" class="btn btn-block" ng-click="instagramLogin()">
                          <span class="pull-left">
                            <i class="fa fa-instagram"></i>
                          </span>
                            Instagram
                        </button>
                      </div>
                    </div>

                    <div ng-show="existSocialUser">
                      <label>Usuário:</label>
                      <div class="m-t-5" >
                        <div class="block-panel text-center">
                          <i class="fa fa-instagram"></i> <strong>{{userName}}</strong> | <a href="javascript:;" ng-click="switchSocialAuthentication()">Remover</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Arquivo</label>

                  <div class="block-message block-message-image" ng-if="!(content || (campaign.content === 3 && existSocialUser))">
                    <p>Nenhum arquivo selecionado</p>
                  </div>

                  <div class="block-thumb" ng-class="{'loader-partial': campaign.content === 3 && existSocialUser && !content}" ng-if="content || (campaign.content === 3 && existSocialUser)">
                    <figure>
                      <a ng-href="{{campaign.media.url}}" target="_blank" class="image">
                        <img ng-src="{{campaign.media.thumbUrl}}" width="100%" alt="">
                      </a>
                      <figcaption>{{campaign.media.name}}</figcaption>
                    </figure>

                    <ul>
                      <li><a ng-href="{{campaign.media.url}}" target="_blank"><i class="fa fa-eye"></i> Visualizar</a></li>
                      <li><a href="javascript:;" ng-click="removeContent()" ng-if="campaign.content !== 3"><i class="fa fa-trash"></i> Remover</a>
                    </ul>
                  </div>

                  <div class="text-center" ng-if="!content && campaign.content !== 3">
                    <button type="button" class="btn btn-link btn-success" ng-click="openFileLibraryModal()"><i class="fa fa-plus-circle"></i> Adicionar arquivo</button>
                  </div>
                </div>
                <div class="form-group margin-bottom-0">
                  <label>
                    Duração:
                  </label>
                </div>
                <div>
                  <div class="form-group">
                    <div class="input-group col-sm-6 padding-left-0">
                      <input  maxlength="2" type="number" name="duration" ng-model="campaign.duration" min="3" max="60" class="form-control text-right" required>
                      <div class="input-group-addon"> segundos</div>
                    </div>
                    <label class="error" for="duration" ng-show="campaignForm.duration.$error.required && !campaignForm.duration.$pristine">Este campo é
                      obrigatório</label>
                    <label class="error" for="duration" ng-show="campaignForm.duration.$invalid && !campaignForm.duration.$pristine"> Valor deve estar entre 3-60 segundos.</label>
                  </div>
                </div>
              </div>
            </div>

            <!-- Places -->
            <div class="main-collapse main-collapse-step" ng-class="locals !== undefined ? 'ok' : ''">
              <div class="main-collapse-heading">Locais</div>
              <div class="main-collapse-body">
                <div class="block-message block-message-location" ng-if="locals === undefined">
                  <p>Nenhum local selecionado</p>
                </div>

                <table ng-if="locals !== undefined" class="table inv-table-responsive">
                  <thead>
                  <tr>
                    <th style="width: 1%;"></th>
                    <th style="width: 80%;">Local</th>
                    <th style="width: 19%;" class="align-center">Impulsionamento</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="local in locals">
                    <td>
                      <button ng-disabled="true" ng-click="removeLocal(local)" class="btn btn-short" title="Remover"><i class="fa fa-trash-o"></i></button>
                    </td>
                    <td>
                      <div class="text-large"><strong>{{local.name}}</strong></div>
                      <div class="muted">{{local.address | limitTo: 40}}{{local.address.length > 40 ? '...' : ''}}</div>
                    </td>
                    <td>
                      <div inv-input-range>
                        <input ng-disabled="true" type="range" ng-model="local.boosting" min="1" max="{{local.devices.length}}" step="1" value="{{local.devices.length}}">
                        <output></output>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div class="text-center" ng-if="false">
                  <button type="button" class="btn btn-link btn-success" data-toggle="modal" ng-click="openLocalsModal()" data-target="#modalLocation"><i class="fa fa-plus-circle"></i> Adicionar locais</button>
                </div>
              </div>
            </div>

            <!-- Period -->
            <div class="main-collapse main-collapse-step ok">
              <div class="main-collapse-heading">Período</div>
              <div class="main-collapse-body">
                <div class="row">
                  <div class="col-sm-5">
                    <div class="form-group">
                      <label>Início</label>
                      <div class="input-group">
                        <input id="startDate" type="text" class="form-control" datepicker-popup="dd-MM-yyyy"
                               ng-model="campaign.startDate"
                               is-open="status.startOpened" min-date="dtConfig.minDate" max-date="dtConfig.maxDate"
                               ng-required="true" show-button-bar="false"
                               close-on-date-selection="dtConfig.selectBegin()" ng-click="openStartDatepicker($event)"
                               onkeydown="return false" ng-disabled="true"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openStartDatepicker($event)">
                              <i class="fa fa-calendar"></i>
                            </button>
                          </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-7"></div>
                </div>

                <div class="row">
                  <div class="col-sm-5">
                    <div class="form-group">
                      <label>Término</label>
                      <div class="input-group">
                        <div class="input-group">
                          <input id="endDate" type="text" class="form-control" datepicker-popup="dd-MM-yyyy"
                                 ng-model="campaign.endDate"
                                 is-open="status.endOpened" min-date="dtConfig.minDate" max-date="dtConfig.maxDate"
                                  show-button-bar="false"
                                 close-on-date-selection="dtConfig.selectEnd()" ng-click="openEndDatepicker($event)"
                                 onkeydown="return false" ng-disabled="true"/>
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="openEndDatepicker($event)">
                                <i class="fa fa-calendar"></i>
                              </button>
                            </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <div class="btn-group m-t-25 sm-m-t-5">
                        <button type="button" class="btn btn-sm btn-default" ng-disabled="true" ng-repeat="fxd in fixedDate">{{fxd.value}} dias</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Payment -->
            <div class="main-collapse main-collapse-step ok">
              <div class="main-collapse-heading">Pagamento</div>
              <div class="main-collapse-body">
                <div class="row">
                  <div class="form-group">
                    <label>Custo</label>
                    <div class="block-total">
                      <span class="output">{{cost | currency:"R$ "}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="block-action">
        <button type="submit" class="btn btn-lg btn-success" ladda="submitLoadingSave" ng-click="save()">Salvar</button>
        <button type="button" class="btn btn-lg btn-success" ladda="submitLoadingSavePub" ng-click="saveAndPublish()">Salvar e publicar</button>
      </div>
    </form>
  </li>
</div>
</div>
