<div class="block-container lightest">
  <div class="block-container-holder">
    <div class="block-heading-master">
      <h2 class="title" ng-if="!payment && !published && !interrupted">Nova campanha</h2>
      <h2 class="title" ng-if="payment || published || interrupted">Editar campanha</h2>
      <div class="tools">
        <a ui-sref="app.campaign({enterpriserSlug: enterpriser.slug})" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Retornar</a>
      </div>
    </div>
  </div>
</div>

<div class="block-container">
  <div class="block-container-holder">
    <ul class="tab-index-step">
      <li ui-sref-active="on" ng-class="{'ok':basic}"><a ui-sref="app.campaign.modify.basic"><span class="step">1</span> Informações básicas</a></li>
      <li ui-sref-active="on" ng-class="{'ok':content}"><a ui-sref="app.campaign.modify.content"><span class="step">2</span> Conteúdo</a></li>
      <li ui-sref-active="on" ng-class="{'ok':locals}"><a ui-sref="app.campaign.modify.places"><span class="step">3</span> Locais</a></li>
      <li ui-sref-active="on" ng-class="{'ok':payment || published}"><a ui-sref="app.campaign.modify.payment"><span class="step">4</span> Pagamento e publicação</a></li>
    </ul>

    <div class="tab-view" ui-view></div>
  </div>
</div>
