<div class="block-container lightest">
  <div class="block-container-holder">
    <div class="block-heading-master">
      <h2 class="title"><ng-pluralize count="totalItems" when="{'0': 'Campanhas', '1': '1 campanha', 'other': '{} campanhas'}"></ng-pluralize></h2>

      <div class="tools">
        <a ng-click="createEmptyCampaign()" class="btn btn-success" ng-class="{'coach-focus': showEmptyState && !privateCampaign && !publicCampaign}" data-scroll-top><i class="fa fa-plus-circle"></i> Nova campanha</a>
      </div>
    </div>
  </div>
</div>

<div class="block-container">
  <div class="block-container-holder">
    <div class="row" ng-if="!showEmptyState || privateCampaign || publicCampaign">
      <div class="col-sm-4">
        Ordenar por
        <div class="btn-group m-l-5">
          <ui-select id="ord" name="ord" ng-model="ordColumn.selected" theme="select2" class="uiSelect-inline">
            <ui-select-match placeholder="Selecionar anunciante..." name="ord">{{ordColumn.selected.name}}</ui-select-match>
            <ui-select-choices  repeat="drop in dropdown | propsFilter: {name: $select.search}">
              <div ng-bind="drop.name"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <button class="btn" ng-if="ord" title="Alternar ordem crescente/descrecente" ng-click="changeOrd(ord)"><span class="fa fa-long-arrow-up"></span></button>
        <button class="btn" ng-if="!ord" title="Alternar ordem crescente/descrecente" ng-click="changeOrd(ord)"><span class="fa fa-long-arrow-down"></span></button>
      </div>
      <div class="col-sm-4">
        <div class="checkbox check-success" ng-if="enterpriser.isPublisher">
          <input id="myCampaigns" type="checkbox" ng-model="myCampaigns.checked" ng-click="change()" ng-checked="myCampaigns.checked">
          <label for="myCampaigns">Minhas campanhas</label>
        </div>
      </div>
      <div class="col-sm-4 sm-m-t-15">
        <div class="input-group transparent">
          <input type="text" class="form-control" ng-model="filterName" ng-keypress="search($event.keyCode,filterName)" placeholder="Pesquisar campanha">
          <span class="input-group-addon pointer" ng-click="search()"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>

    <div class="block-message block-message-empty" ng-if="showEmptyState && !privateCampaign && !publicCampaign">
      <h4>Ops! Nenhuma campanha para mostrar...</h4>
      <p>Ainda não há campanha cadastrada</p>
      <a ng-click="createEmptyCampaign()" class="btn btn-success" data-scroll-top><i class="fa fa-plus-circle"></i> Nova campanha</a>
    </div>

    <div class="block-separate top" ng-show="!showEmptyState || privateCampaign || publicCampaign" ng-class="{'loader-partial': isLoadingAvailability}">
      <div class="block-message block-message-search" ng-if="emptySearch || !showTable">
        <h4>Ops! Nada encontrado...</h4>
        <p>Sua pesquisa ou filtro não encontrou nenhum resultado correspondente</p>
      </div>

      <div ng-show="showTable">
        <table class="table inv-table-responsive">
          <tbody>
            <tr ng-repeat="campaign in campaigns">
              <td class="text-center">
                <a href="#/p/{{enterpriser.slug}}/campaign/{{campaign.id}}/basic" ng-if="!campaign.expired && myCampaigns.checked" class="block-sample kind" ng-class="campaignType[campaign.type].trans" title="{{campaignType[campaign.type].name}}"
                   style="background-image: url({{campaign.media.thumbUrl}})">{{campaign.media.thumbUrl === undefined ? campaign.name[0]: ''}}</a>
                <a href="javascript:;" ng-if="campaign.expired || !myCampaigns.checked" class="block-sample kind" ng-class="campaignType[campaign.type].trans" title="{{campaignType[campaign.type].name}}"
                   style="background-image: url({{campaign.media.thumbUrl}})"></a>
              </td>
              <td>
                <a href="#/p/{{enterpriser.slug}}/campaign/{{campaign.id}}/basic" ng-if="!campaign.expired && myCampaigns.checked" class="text-xlarge"><strong>{{campaign.name}}</strong></a>
                <a href="javascript:;" ng-if="campaign.expired || !myCampaigns.checked" class="text-xlarge"><strong>{{campaign.name}}</strong></a><br>
                Anunciado por <strong>{{campaign.advertiser.advertiserName}}</strong><br>
                Última edição em <strong>{{campaign.lastUpdated | date: 'd/M/yyyy HH:mm:ss'}}</strong>

              </td>
              <td class="text-center">
                <div class="text-large">{{campaign.startDate | date:'d/M/yyyy'}}</div>
                <div class="text-small muted">Início</div>
              </td>
              <td class="text-center">
                <div class="text-large" ng-if="!campaign.interrupted">{{campaign.endDate | date:'d/M/yyyy'}}</div>
                <div class="text-large" ng-if="campaign.interrupted"> Restam <strong>{{campaign.leftDays}}</strong> dias</div>
                <div class="text-small muted">Fim</div>
              </td>
              <td class="text-center">
                <div class="text-large" ng-if="campaign.status && !campaign.expired"><strong>Publicada</strong></div>
                <div class="text-large" ng-if="!campaign.status && !campaign.interrupted && !campaign.expired"><strong>Salva</strong></div>
                <div class="text-large" ng-if="campaign.interrupted && !campaign.expired"><strong>Interrompida</strong></div>
                <div class="text-large" ng-if="campaign.expired"><strong>Expirada</strong></div>
                <div class="text-small muted">Status</div>
              </td>
              <td class="action" ng-if="myCampaigns.checked">
                <a ng-disabled="campaign.expired" ng-if="(campaign.interrupted && !campaign.expired) || (!campaign.interrupted && !campaign.expired && !campaign.status && campaign.paid)" class="btn btn-success" ng-click="modifyState(campaign)">Publicar</a>
                <a ng-disabled="campaign.expired" ng-if="campaign.status && !campaign.expired" class="btn btn-danger" ng-click="modifyState(campaign)">Interromper</a>
                <a href="#/p/{{enterpriser.slug}}/campaign/{{campaign.id}}/basic" ng-disabled="campaign.expired" class="btn btn-secondary">Editar</a>
                <div class="btn-group">
                  <button data-toggle="dropdown" class="btn btn-secondary dropdown-toggle"><span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="javascript:;" ng-click="clone(campaign)">Clonar</a></li>
                    <li><a href="javascript:;" ng-click="remove(campaign)">Remover</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <pagination total-items="totalItems" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination>
      </div>
    </div>
  </div>
</div>
