<div class="modal-header clearfix">
  <button class="close" ng-click="cancel()"><i class="pg-close fs-14"></i></button>
</div>

<div class="modal-body">
  <div class="block-message block-message-warning">
    <h4 ng-if="campaign.status && !campaign.expired">Deseja mesmo interromper <em>{{ campaign.name }}</em>?</h4>
    <h4 ng-if="(campaign.interrupted && !campaign.expired && !campaign.status) || (!campaign.interrupted && !campaign.expired && !campaign.status)">Deseja mesmo publicar <em>{{ campaign.name }}</em>?</h4>
    <p>ATENÇÃO: esta ação não poderá ser desfeita!</p>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-link" ng-click="cancel()">Cancelar</button>
  <button class="btn btn-success" ng-click="ok()" ladda="submitLoading">Confirmar</button>
</div>
