<div class="block-container lightest">
  <div class="block-heading-master">
    <h2 class="title">Central de ajuda</h2>

    <div class="tools">
      <a href="javascript:;" ng-click="$back()" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Retornar</a>
    </div>
  </div>
</div>

<div class="block-container">
  <div class="block-container-holder">
    <div class="block-message block-message-empty">
      <h4>Ops! Nada para mostrar...</h4>
      <p>Dúvidas? Escreva para <a href="mailto:suporte@cloudmidia.com">suporte@cloudmidia.com</a></p>
      </p>
    </div>
  </div>
</div>
