<div class="block-container">
  <div class="block-message block-message-gear">
    <h4>Ops! Algo deu errado...</h4>
    <p>Houve um erro inesperado ao tentar processar a sua solicitação</p>
  </div>
</div>
