<div class="row">
  <div class="col-md-6">
    <form name="campaignForm" id="formContent" ng-submit="campaignForm.$invalid" role="form" novalidate>
      <div class="form-group">
        <label>Tipo</label>
        <div class="radio radio-success">
          <input id="typeImage" name="type" type="radio" value="image" checked ng-click="checked(0)"
                 ng-checked="campaign.type === 0">
          <label for="typeImage">Imagem</label>

          <input id="typeVideo" name="type" type="radio" value="video" ng-click="checked(1)"
                 ng-checked="campaign.type === 1">
          <label for="typeVideo">Vídeo</label>

          <input id="typeText" name="type" type="radio" value="text" ng-click="checked(2)"
                 ng-checked="campaign.type === 2">
          <label for="typeText">Texto e imagem</label>

          <input id="typeSocial" name="type" type="radio" value="text" ng-click="checked(3)"
                 ng-checked="campaign.type === 3">
          <label for="typeSocial">Social</label>
        </div>
      </div>

      <div ng-if="campaign.content === 2">
        <div class="form-group required" ng-class="{ 'has-error' : campaignForm.title.$invalid && (campaignForm.title.$dirty || campaignForm.$submitted)}">
          <label>Título</label>
          <input name="title" type="text" ng-model="campaign.media.title" class="form-control" required maxlength="100">
          <label class="error" for="adv" ng-show="((campaignForm.title.$pristine && campaignForm.$submitted && campaignForm.title.$invalid) ||
          (!campaignForm.title.$pristine && campaignForm.title.$invalid)) && !campaignForm.title.$error.maxlength">Campo obrigatório</label>
          <label class="error" for="title" ng-show="campaignForm.title.$error.maxlength">Este campo não pode ter mais de 30 caracteres.</label>
        </div>

        <div class="form-group required" ng-class="{ 'has-error' : campaignForm.subtitle.$invalid && (campaignForm.subtitle.$dirty || campaignForm.$submitted)}">
          <label>Subtítulo</label>
          <input name="subtitle" type="text" ng-model="campaign.media.subtitle" class="form-control" required maxlength="40">
          <label class="error" for="subtitle" ng-show="((campaignForm.subtitle.$pristine && campaignForm.$submitted && campaignForm.subtitle.$invalid) ||
          (!campaignForm.subtitle.$pristine && campaignForm.subtitle.$invalid)) && !campaignForm.subtitle.$error.maxlength">Campo obrigatório</label>
        </div>

        <div class="form-group required" ng-class="{ 'has-error' : campaignForm.text.$invalid && (campaignForm.text.$dirty || campaignForm.$submitted)}">
          <label>Texto</label>
          <textarea name="text" class="form-control" ng-model="campaign.media.text" style="height: 100px;" required maxlength="480"></textarea>
          <label class="error" for="text" ng-show="((campaignForm.text.$pristine && campaignForm.$submitted && campaignForm.text.$invalid) ||
          (!campaignForm.text.$pristine && campaignForm.text.$invalid)) && !campaignForm.text.$error.maxlength">Campo obrigatório</label>
        </div>

        <div class="form-group required" ng-class="{ 'has-error' : campaignForm.source.$invalid && (campaignForm.source.$dirty || camapaignForm.$submitted)}">
          <label>Fonte</label>
          <input name = "source" type="text" ng-model="campaign.media.source" class="form-control" required maxlength="128">
          <label class="error" for="source" ng-show="((campaignForm.source.$pristine && campaignForm.$submitted && campaignForm.source.$invalid) ||
          (!campaignForm.source.$pristine && campaignForm.source.$invalid)) && !campaignForm.source.$error.maxlength">Campo obrigatório</label>
        </div>
      </div>

      <div class="form-group">
        <div ng-if="campaign.content === 3">
          <div ng-show="!existSocialUser">
            <label>Usuário:</label>
            <div class="m-t-5">
              <button type="button" class="btn btn-block" ng-click="instagramLogin()">
                <span class="pull-left">
                  <i class="fa fa-instagram"></i>
                </span>
                Instagram
              </button>
            </div>
          </div>

          <div ng-show="existSocialUser">
            <label>Usuário:</label>
            <div class="m-t-5">
              <div class="block-panel text-center">
                <i class="fa fa-instagram"></i> <strong>{{socialUserName}}</strong> | <a href="javascript:;" ng-click="switchSocialAuthentication()">Remover</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Arquivo: </label>

        <div class="block-message block-message-image" ng-if="!(content || (campaign.content === 3 && existSocialUser))">
          <p>Nenhum arquivo selecionado</p>
        </div>

        <div class="block-thumb" ng-class="{'loader-partial': campaign.content === 3 && existSocialUser && !content}" ng-if="content || (campaign.content === 3 && existSocialUser)">
          <figure>
            <a ng-href="{{campaign.media.url}}" target="_blank" class="image">
              <img ng-src="{{campaign.media.thumbUrl}}" width="100%" alt="">
            </a>
            <figcaption>{{campaign.media.name}}</figcaption>
          </figure>

          <ul>
            <li><a ng-href="{{campaign.media.url}}" target="_blank"><i class="fa fa-eye"></i> Visualizar</a></li>
            <li><a ng-click="removeContent()" ng-if="campaign.content !== 3"><i class="fa fa-trash"></i> Remover</a></li>
          </ul>
        </div>

        <div class="text-center" ng-if="!content && campaign.content !== 3">
          <button type="button" class="btn btn-link" ng-click="openFileLibraryModal()"><i class="fa fa-plus-circle"></i> Adicionar arquivo</button>
        </div>
      </div>

      <div class="form-group">
        <label>Duração:</label>
        <div class="input-group col-sm-4 padding-left-0">
          <input  maxlength="2" type="number" name="duration" ng-model="campaign.duration" min="3" max="60" class="form-control text-right" required>
          <div class="input-group-addon"> segundos</div>
        </div>
        <label class="error" for="duration" ng-show="campaignForm.duration.$error.required && !campaignForm.duration.$pristine">Este campo é obrigatório</label>
        <label class="error" for="duration" ng-show="campaignForm.duration.$invalid && !campaignForm.duration.$pristine"> Valor deve estar entre 3-60 segundos.</label>
      </div>
    </form>
  </div>

  <!--<div class="col-md-5 col-md-offset-1">-->
    <!--<div class="card-float">-->
      <!--<div class="form-group">-->
        <!--<label>Impacto</label>-->
        <!--<div class="block-impact">-->
          <!--<div class="row">-->
            <!--<div class="col-sm-4">-->
              <!--<div class="primary">-->
                <!--<div class="chart"></div>-->
                <!--<div class="value"><span></span>%</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="col-sm-8">-->
              <!--<div class="secondary">-->
                <!--<h5>Estimativas</h5>-->
                <!--<div class="views"><span></span> exibições</div>-->
                <!--<div class="target">Alcance de <span></span> pessoas</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>

<div class="block-action">
  <button type="button" class="btn btn-lg btn-success" ladda="loadingSubmitNext" ng-click="saveContent()">Próximo</button>
</div>
