<div class="modal-header">
  <h3 class="modal-title">Deseja realmente remover o usuário <b>{{ user.name }}</b>?</h3>
</div>
<div class="modal-body">
  <div class="modal-footer">
    <button class="btn btn-cons" data-dismiss="modal" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-cons btn-success" ng-click="confirm()" ladda="submitLoading">Deletar</button>
  </div>
</div>
