<div class="modal-header">
  <h3 class="modal-title">Adicionar Usuários</h3>
</div>
<div class="modal-body">
  <div class="row">
    <form name="user" id="form-user" role="form" novalidate>
      <div class="row">
        <div class="col-sm-12">
          <div pg-form-group class="form-group form-group-default required"
               ng-class="{ 'has-error' : user.email.$invalid && !user.email.$pristine }">
            <label>Email</label>
            <input type="email" class="form-control" name="email" placeholder="Digite seu email."
                   ng-model="email" required>
          </div>
          <label class="error" for="email" ng-show="user.email.$invalid && !user.email.$pristine">Email
            inválido!</label>
        </div>
      </div>
      <div class="row">
        <div pg-form-group class="form-group form-group-default form-group-default-select required"
             ng-class="{ 'has-error' : user.role.$invalid && !user.role.$pristine }">
          <label>Papéis</label>
          <ui-select multiple require-multiple name="role" ng-model="selectRoles.selected" theme="select2"
                     style="width: 100%;">
            <ui-select-match placeholder="Selecionar grupo(s)">{{$item.name}}</ui-select-match>
            <ui-select-choices repeat="role in roles | propsFilter: {name: $select.search}">
              <div ng-bind="role.name"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <label class="error" for="role" ng-show="user.role.$invalid && !user.role.$pristine">Este campo é
          obrigatório</label>
      </div>
      <div pg-form-group class="form-group form-group-default">
        <label>Mensagem</label>
        <textarea class="form-control" rows="2" name="message" placeholder="Envie uma mensagem."
                  ng-model="message"></textarea>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-cons" data-dismiss="modal" ng-click="cancel()">Cancelar</button>
  <button class="btn btn-cons btn-success" ng-disabled="user.$invalid" ng-click="confirm()" ladda="submitLoading">
    Salvar
  </button>
</div>


