<div class="register-container full-height sm-p-t-30">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle">
        <h3>Trocar a senha</h3>

        <form id="reset-password-form" name ="resetPasswordForm" class="p-t-15" role="form" novalidate>
          <div class="row">
            <div class="col-sm-6">
              <div pg-form-group class="form-group form-group-default required"
                   ng-class="{ 'has-error' : resetPasswordForm.newPassword.$invalid && !resetPasswordForm.newPassword.$pristine}">
                <label>Nova Senha</label>
                <input type="password" name="newPassword" class="form-control"
                    placeholder="Mínimo de 6 caracteres" ng-model="user.newPassword"
                    ng-minlength="6" required>
              </div>
              <label class="error" for="newPassword" ng-show="resetPasswordForm.newPassword.$invalid && !resetPasswordForm.newPassword.$pristine">Este
                campo é obrigatório!.</label>
              <label class="error" for="password" ng-show="resetPasswordForm.newPassword.$error.minlength">Senha deve conter no
                mínimo 6 carateres!</label>
            </div>
            <div class="col-sm-6">
              <div pg-form-group class="form-group form-group-default required"
                   ng-class="{ 'has-error' : resetPasswordForm.passwordTest.$invalid && !resetPasswordForm.passwordTest.$pristine }">
                <label>Confirmar senha</label>
                <input type="password" class="form-control" name="passwordTest" placeholder="Mínimo de 4 caracteres"
                       ng-model="user.confirmNewPassword" password-check="user.newPassword" required>
              </div>
              <label class="error" for="passwordTest" ng-show="resetPasswordForm.passwordTest.$error.check">Senhas não são iguais!
              </label>
            </div>
          </div>
          <button class="btn btn-primary btn-cons m-t-10" type="submit" ng-click="register()" ng-disabled="resetPasswordForm.$invalid">Trocar</button>
        </form>
      </div>
    </div>
  </div>
</div>
