<div class="jumbotron margin-bottom-0">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <ul class="breadcrumb">
      <li><a href="#/conta">Conta</a></li>
      <li><a href="#/user" class="active">Usuário</a></li>
    </ul>
  </div>
</div>

<div class="container-fluid container-fixed-lg bg-white main-content">
  <div class="block-toptools">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <div class="input-group transparent">
                <input type="text" class="form-control" placeholder="Filtro" ng-model="search">
                <span class="input-group-addon"><i class="pg-search"></i></span>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">

            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <button class="btn btn-block btn-success" ng-click="createUser()"><i class="pg-plus_circle"></i> Novo Usuário
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="progress-circle-indeterminate progress-circle-success m-t-45" ng-show="isLoadingAvailability">
</div>

<div class="container-fluid container-fixed-lg bg-white">

  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title">{{quantity}} Usuários</div>

    </div>

    <div class="panel-body">
      <table class="table table-hover" id="basicTable" ng-if="showTable">
        <thead>
        <tr>
          <th style="width:1%;"></th>
          <th style="width:49%;">Nome/Email</th>
          <th style="width:40%;">Permissões</th>
          <th style="width:10%;"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in data">
          <td class="v-align-middle">
            <div class="checkbox">
              <input id="user{{user.id}}" type="checkbox" value="{{user.id}}" ng-click="selectRow($event)">
              <label for="user{{user.id}}"></label>
            </div>
          </td>
          <td class="v-align-middle">
            <div class="text-large">
              <a href="#"><strong>{{user.name}}</strong></a><br>
              {{user.email}}
            </div>
          </td>
          <td class="v-align-middle">
            <label class="btn btn-default" ng-repeat="role in allRoles" ng-click="changeRoles(user,role)"
                   ng-class="{'active':isSelected(user.roles,role.id)}">{{role.name}}</label>
          </td>
          <td class="v-align-middle nowrap text-right">
            <button class="btn btn-short" title="Delete" ng-click="remove(user)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <pagination ng-if="showTable" total-items="totalItems" items-per-page="pageSize" ng-model="currentPage"
              ng-change="pageChanged(currentPage)"></pagination>

  <div class="block-toptools">

  </div>
  <div ng-if="invitations.length > 0">
    <div class="grid simple">
      <div class="grid-body no-header">
        <div class="col-lg-3" ng-repeat="invitation in invitations">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading separator">
                <div class="panel-title">Convite Pendente
                </div>
              </div>
              <div class="panel-body">
                <h3>
                  {{invitation.email}}</h3>
                <div class="row">
                  <div class="block-action">
                    <button class="btn btn-default" type="button" ng-click="cancelInvitation(invitation.id)"
                      >Cancelar
                    </button>
                    <button class="btn btn-success" type="button" ng-click="resendInvitation(invitation.id)"
                      >Reenviar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="block-message block-message-empty" ng-show="showEmptyState">
  <h4>Ainda não há usuários cadastrados.</h4>

  <p></p>
</div>
