<div class="block-heading-secondary">
  <h3 class="title">Você está vinculado à {{enterprises.length}} empresas</h3>

  <div class="tools">
    <a ui-sref="lite.enterprises" class="btn btn-success" ng-if="hasCompany">Editar empresas</a>
    <a ui-sref="lite.enterprises" class="btn btn-success" ng-if="!hasCompany">Cadastrar empresa</a>
  </div>
</div>

<table class="table inv-table-responsive">
  <tbody>
    <tr ng-repeat="enterprise in enterprises">
      <td class="text-center">
        <div class="block-sample" style="background-image: url({{enterprise.thumbUrl}})">
          {{enterprise.thumbUrl !== undefined ? '' : enterprise.name[0]}}</div>
      </td>
      <td>
        <span class="text-xlarge"><strong>{{enterprise.name}}</strong> <i class="fa  color-base " ng-class="{'fa-check-circle': enterprise.role === role.adm}"title="Atual"></i></span><br>
        {{url+'p/'}}<strong>{{enterprise.slug}}</strong>
      </td>
      <td class="text-center">
        <div class="text-large">{{enterprise.role}}</div>
        <div class="text-small muted">Permissão</div>
      </td>
      <td class="action">
        <a disabled class="btn btn-secondary">Revogar acesso</a>
      </td>
    </tr>
    <tr ng-if="showTableInvitations" ng-repeat="invitation in invitations">
      <td class="text-center">
        <div class="block-sample">u</div>
      </td>
      <td>
        <span class="text-xlarge"><strong>Unimed</strong></span><br>
        http://cloudmidia.com/<strong>unimed</strong>
      </td>
      <td class="text-center">
        <div class="text-large">Atendente</div>
        <div class="text-small muted">Permissão</div>
      </td>
      <td class="action">
        <button class="btn btn-success">Aceitar convite</button>
      </td>
    </tr>
  </tbody>
</table>
