@charset "UTF-8";
@font-face {
  font-family: "UXPin Icon Set";
  src: url('../fonts/UXPin-icon-set.eot?1466005857');
  src: url('../fonts/UXPin-icon-set.eot?&1466005857#iefix') format('embedded-opentype'), url('../fonts/UXPin-icon-set.woff?1466005857') format('woff'), url('../fonts/UXPin-icon-set.ttf?1466005857') format('truetype'), url('../fonts/UXPin-icon-set.svg?1466005857') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url('../fonts/Lato-Regular.eot?1466005857');
  src: url('../fonts/Lato-Regular.eot?&1466005857#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular.woff?1466005857') format('woff'), url('../fonts/Lato-Regular.ttf?1466005857') format('truetype'), url('../fonts/Lato-Regular.svg?1466005857') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url('../fonts/Lato-Bold.eot?1466005857');
  src: url('../fonts/Lato-Bold.eot?&1466005857#iefix') format('embedded-opentype'), url('../fonts/Lato-Bold.woff?1466005857') format('woff'), url('../fonts/Lato-Bold.ttf?1466005857') format('truetype'), url('../fonts/Lato-Bold.svg?1466005857') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url('../fonts/Gilroy-Light.eot?1476820546');
  src: url('../fonts/Gilroy-Light.eot?&1476820546#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Light.woff?1476820546') format('woff'), url('../fonts/Gilroy-Light.ttf?1476820546') format('truetype'), url('../fonts/Gilroy-Light.svg?1476820546') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url('../fonts/Gilroy-ExtraBold.eot?1476820546');
  src: url('../fonts/Gilroy-ExtraBold.eot?&1476820546#iefix') format('embedded-opentype'), url('../fonts/Gilroy-ExtraBold.woff?1476820546') format('woff'), url('../fonts/Gilroy-ExtraBold.ttf?1476820546') format('truetype'), url('../fonts/Gilroy-ExtraBold.svg?1476820546') format('svg');
  font-weight: 800;
  font-style: normal;
}
.form-group label, .form-group label:not(.error), .form-control {
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.billboard .container-secondary .subheading, .duotab-item > .trigger, .duotab-item > .content .content-b .heading .minor {
  font-weight: 300;
  font-family: "Gilroy";
}

.form-group .check-slide label, [inv-local-input-range],
[inv-input-range], [inv-local-input-range] output,
[inv-local-input-range] .output,
[inv-input-range] output,
[inv-input-range] .output, .tab-index-step a .step, .billboard .container-primary .heading, .billboard .container-secondary .heading, .duotab-item > .trigger span, .duotab-item > .content .content-a .major, .duotab-item > .content .content-b .heading .major, .sessionav .menu .item-header, .sessionav .menu .item-label {
  font-weight: 800;
  font-family: "Gilroy";
}

a, .btn-link, .btn-short {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  color: #10cfbd;
  text-decoration: none;
}
a:active, .btn-link:active, .btn-short:active, a:focus, .btn-link:focus, .btn-short:focus, a:hover, .btn-link:hover, .btn-short:hover {
  color: #12e7d3;
}

[class*='icon-'], .default-header .navicon:before, .table > thead > tr > th.order:after, .list-card > li.selected:after, .list-card > li .add:before, .list-check .item:before, label.error:before, .block-message:before, .block-legend .item:before, .block-impact .secondary .views:before,
.block-impact .secondary .target:before, .block-sample.kind:after, .main-collapse.main-collapse-step .main-collapse-heading:before, .main-collapse-heading:after, .coach-focus:after, .duotab-item > .trigger:before, .duotab-item form .has-error label.error:after, .sessionav .trigger:after, .sessionav .menu .item-option a:after {
  display: inline-block;
  transform: translate(0, 0);
  font: normal normal normal 14px/1 "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
}

.clearfix:after, .default-header:after, .default-footer:after, .list-media:after, .list-media li .tools:after, .block-heading-master:after, .block-heading-secondary:after, .tab-index:after {
  content: "";
  display: table;
  clear: both;
}

.list-card > li .description, .list-card > li .add, .block-impact .secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal.fade.slide-right .close, .modal .modal-header .close {
  text-shadow: none;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  display: block;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  margin: 0;
  border: 0 solid #ccc;
  background: #f9f9f9;
  color: #ccc;
  text-align: center;
}
.modal.fade.slide-right .close:hover, .modal .modal-header .close:hover {
  border-color: #444;
  color: #444;
}
.modal.fade.slide-right .close i, .modal .modal-header .close i {
  font-size: 25px;
  line-height: 32px;
}

.input input,
.input i, .billboard .container-secondary form input, .duotab-item form input {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition: background 0.2s linear 0s;
  -o-transition: background 0.2s linear 0s;
  -webkit-transition: background 0.2s linear;
  -webkit-transition-delay: 0s;
  transition: background 0.2s linear 0s;
  width: 100%;
  height: 35px;
  min-height: 35px;
  padding: 9px 12px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  outline: 0;
  background-color: #fff;
  background-image: none;
  color: #2c2c2c;
  vertical-align: middle;
  line-height: normal;
  font-weight: normal;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
.input input:focus,
.input i:focus, .billboard .container-secondary form input:focus, .duotab-item form input:focus {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
}

.billboard .container {
  max-width: 1270px;
  margin: 0 auto;
}

body {
  overflow-y: scroll;
  background: #fff;
  color: #444;
  font-size: 0.9em;
  font-family: "Lato", sans-serif;
  letter-spacing: 0;
}

strong {
  font-weight: 700;
}

button {
  cursor: pointer;
}

p {
  letter-spacing: 0;
}

.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}

.display-inline {
  display: inline !important;
}

.display-inline-block {
  display: inline-block !important;
}

.width-full {
  width: 100% !important;
}

.width-half {
  width: 50% !important;
}

.height-full {
  height: 100% !important;
}

.height-half {
  height: 50% !important;
}

.width-0 {
  width: 0px !important;
}

.width-5 {
  width: 5px !important;
}

.width-10 {
  width: 10px !important;
}

.width-15 {
  width: 15px !important;
}

.width-20 {
  width: 20px !important;
}

.width-25 {
  width: 25px !important;
}

.width-30 {
  width: 30px !important;
}

.width-35 {
  width: 35px !important;
}

.width-40 {
  width: 40px !important;
}

.width-45 {
  width: 45px !important;
}

.width-50 {
  width: 50px !important;
}

.width-55 {
  width: 55px !important;
}

.width-60 {
  width: 60px !important;
}

.width-65 {
  width: 65px !important;
}

.width-70 {
  width: 70px !important;
}

.width-75 {
  width: 75px !important;
}

.width-80 {
  width: 80px !important;
}

.width-85 {
  width: 85px !important;
}

.width-90 {
  width: 90px !important;
}

.width-95 {
  width: 95px !important;
}

.width-100 {
  width: 100px !important;
}

.width-105 {
  width: 105px !important;
}

.width-110 {
  width: 110px !important;
}

.width-115 {
  width: 115px !important;
}

.width-120 {
  width: 120px !important;
}

.width-125 {
  width: 125px !important;
}

.width-130 {
  width: 130px !important;
}

.width-135 {
  width: 135px !important;
}

.width-140 {
  width: 140px !important;
}

.width-145 {
  width: 145px !important;
}

.width-150 {
  width: 150px !important;
}

.width-155 {
  width: 155px !important;
}

.width-160 {
  width: 160px !important;
}

.width-165 {
  width: 165px !important;
}

.width-170 {
  width: 170px !important;
}

.width-175 {
  width: 175px !important;
}

.width-180 {
  width: 180px !important;
}

.width-185 {
  width: 185px !important;
}

.width-190 {
  width: 190px !important;
}

.width-195 {
  width: 195px !important;
}

.width-200 {
  width: 200px !important;
}

.width-205 {
  width: 205px !important;
}

.width-210 {
  width: 210px !important;
}

.width-215 {
  width: 215px !important;
}

.width-220 {
  width: 220px !important;
}

.width-225 {
  width: 225px !important;
}

.width-230 {
  width: 230px !important;
}

.width-235 {
  width: 235px !important;
}

.width-240 {
  width: 240px !important;
}

.width-245 {
  width: 245px !important;
}

.width-250 {
  width: 250px !important;
}

.width-255 {
  width: 255px !important;
}

.width-260 {
  width: 260px !important;
}

.width-265 {
  width: 265px !important;
}

.width-270 {
  width: 270px !important;
}

.width-275 {
  width: 275px !important;
}

.width-280 {
  width: 280px !important;
}

.width-285 {
  width: 285px !important;
}

.width-290 {
  width: 290px !important;
}

.width-295 {
  width: 295px !important;
}

.width-300 {
  width: 300px !important;
}

.width-305 {
  width: 305px !important;
}

.width-310 {
  width: 310px !important;
}

.width-315 {
  width: 315px !important;
}

.width-320 {
  width: 320px !important;
}

.width-325 {
  width: 325px !important;
}

.width-330 {
  width: 330px !important;
}

.width-335 {
  width: 335px !important;
}

.width-340 {
  width: 340px !important;
}

.width-345 {
  width: 345px !important;
}

.width-350 {
  width: 350px !important;
}

.height-0 {
  height: 0px !important;
}

.height-5 {
  height: 5px !important;
}

.height-10 {
  height: 10px !important;
}

.height-15 {
  height: 15px !important;
}

.height-20 {
  height: 20px !important;
}

.height-25 {
  height: 25px !important;
}

.height-30 {
  height: 30px !important;
}

.height-35 {
  height: 35px !important;
}

.height-40 {
  height: 40px !important;
}

.height-45 {
  height: 45px !important;
}

.height-50 {
  height: 50px !important;
}

.height-55 {
  height: 55px !important;
}

.height-60 {
  height: 60px !important;
}

.height-65 {
  height: 65px !important;
}

.height-70 {
  height: 70px !important;
}

.height-75 {
  height: 75px !important;
}

.height-80 {
  height: 80px !important;
}

.height-85 {
  height: 85px !important;
}

.height-90 {
  height: 90px !important;
}

.height-95 {
  height: 95px !important;
}

.height-100 {
  height: 100px !important;
}

.height-105 {
  height: 105px !important;
}

.height-110 {
  height: 110px !important;
}

.height-115 {
  height: 115px !important;
}

.height-120 {
  height: 120px !important;
}

.height-125 {
  height: 125px !important;
}

.height-130 {
  height: 130px !important;
}

.height-135 {
  height: 135px !important;
}

.height-140 {
  height: 140px !important;
}

.height-145 {
  height: 145px !important;
}

.height-150 {
  height: 150px !important;
}

.height-155 {
  height: 155px !important;
}

.height-160 {
  height: 160px !important;
}

.height-165 {
  height: 165px !important;
}

.height-170 {
  height: 170px !important;
}

.height-175 {
  height: 175px !important;
}

.height-180 {
  height: 180px !important;
}

.height-185 {
  height: 185px !important;
}

.height-190 {
  height: 190px !important;
}

.height-195 {
  height: 195px !important;
}

.height-200 {
  height: 200px !important;
}

.height-205 {
  height: 205px !important;
}

.height-210 {
  height: 210px !important;
}

.height-215 {
  height: 215px !important;
}

.height-220 {
  height: 220px !important;
}

.height-225 {
  height: 225px !important;
}

.height-230 {
  height: 230px !important;
}

.height-235 {
  height: 235px !important;
}

.height-240 {
  height: 240px !important;
}

.height-245 {
  height: 245px !important;
}

.height-250 {
  height: 250px !important;
}

.height-255 {
  height: 255px !important;
}

.height-260 {
  height: 260px !important;
}

.height-265 {
  height: 265px !important;
}

.height-270 {
  height: 270px !important;
}

.height-275 {
  height: 275px !important;
}

.height-280 {
  height: 280px !important;
}

.height-285 {
  height: 285px !important;
}

.height-290 {
  height: 290px !important;
}

.height-295 {
  height: 295px !important;
}

.height-300 {
  height: 300px !important;
}

.height-305 {
  height: 305px !important;
}

.height-310 {
  height: 310px !important;
}

.height-315 {
  height: 315px !important;
}

.height-320 {
  height: 320px !important;
}

.height-325 {
  height: 325px !important;
}

.height-330 {
  height: 330px !important;
}

.height-335 {
  height: 335px !important;
}

.height-340 {
  height: 340px !important;
}

.height-345 {
  height: 345px !important;
}

.height-350 {
  height: 350px !important;
}

.min-width-0 {
  min-width: 0px !important;
}

.min-width-5 {
  min-width: 5px !important;
}

.min-width-10 {
  min-width: 10px !important;
}

.min-width-15 {
  min-width: 15px !important;
}

.min-width-20 {
  min-width: 20px !important;
}

.min-width-25 {
  min-width: 25px !important;
}

.min-width-30 {
  min-width: 30px !important;
}

.min-width-35 {
  min-width: 35px !important;
}

.min-width-40 {
  min-width: 40px !important;
}

.min-width-45 {
  min-width: 45px !important;
}

.min-width-50 {
  min-width: 50px !important;
}

.min-width-55 {
  min-width: 55px !important;
}

.min-width-60 {
  min-width: 60px !important;
}

.min-width-65 {
  min-width: 65px !important;
}

.min-width-70 {
  min-width: 70px !important;
}

.min-width-75 {
  min-width: 75px !important;
}

.min-width-80 {
  min-width: 80px !important;
}

.min-width-85 {
  min-width: 85px !important;
}

.min-width-90 {
  min-width: 90px !important;
}

.min-width-95 {
  min-width: 95px !important;
}

.min-width-100 {
  min-width: 100px !important;
}

.min-width-105 {
  min-width: 105px !important;
}

.min-width-110 {
  min-width: 110px !important;
}

.min-width-115 {
  min-width: 115px !important;
}

.min-width-120 {
  min-width: 120px !important;
}

.min-width-125 {
  min-width: 125px !important;
}

.min-width-130 {
  min-width: 130px !important;
}

.min-width-135 {
  min-width: 135px !important;
}

.min-width-140 {
  min-width: 140px !important;
}

.min-width-145 {
  min-width: 145px !important;
}

.min-width-150 {
  min-width: 150px !important;
}

.min-width-155 {
  min-width: 155px !important;
}

.min-width-160 {
  min-width: 160px !important;
}

.min-width-165 {
  min-width: 165px !important;
}

.min-width-170 {
  min-width: 170px !important;
}

.min-width-175 {
  min-width: 175px !important;
}

.min-width-180 {
  min-width: 180px !important;
}

.min-width-185 {
  min-width: 185px !important;
}

.min-width-190 {
  min-width: 190px !important;
}

.min-width-195 {
  min-width: 195px !important;
}

.min-width-200 {
  min-width: 200px !important;
}

.min-width-205 {
  min-width: 205px !important;
}

.min-width-210 {
  min-width: 210px !important;
}

.min-width-215 {
  min-width: 215px !important;
}

.min-width-220 {
  min-width: 220px !important;
}

.min-width-225 {
  min-width: 225px !important;
}

.min-width-230 {
  min-width: 230px !important;
}

.min-width-235 {
  min-width: 235px !important;
}

.min-width-240 {
  min-width: 240px !important;
}

.min-width-245 {
  min-width: 245px !important;
}

.min-width-250 {
  min-width: 250px !important;
}

.min-width-255 {
  min-width: 255px !important;
}

.min-width-260 {
  min-width: 260px !important;
}

.min-width-265 {
  min-width: 265px !important;
}

.min-width-270 {
  min-width: 270px !important;
}

.min-width-275 {
  min-width: 275px !important;
}

.min-width-280 {
  min-width: 280px !important;
}

.min-width-285 {
  min-width: 285px !important;
}

.min-width-290 {
  min-width: 290px !important;
}

.min-width-295 {
  min-width: 295px !important;
}

.min-width-300 {
  min-width: 300px !important;
}

.min-width-305 {
  min-width: 305px !important;
}

.min-width-310 {
  min-width: 310px !important;
}

.min-width-315 {
  min-width: 315px !important;
}

.min-width-320 {
  min-width: 320px !important;
}

.min-width-325 {
  min-width: 325px !important;
}

.min-width-330 {
  min-width: 330px !important;
}

.min-width-335 {
  min-width: 335px !important;
}

.min-width-340 {
  min-width: 340px !important;
}

.min-width-345 {
  min-width: 345px !important;
}

.min-width-350 {
  min-width: 350px !important;
}

.min-height-0 {
  min-height: 0px !important;
}

.min-height-5 {
  min-height: 5px !important;
}

.min-height-10 {
  min-height: 10px !important;
}

.min-height-15 {
  min-height: 15px !important;
}

.min-height-20 {
  min-height: 20px !important;
}

.min-height-25 {
  min-height: 25px !important;
}

.min-height-30 {
  min-height: 30px !important;
}

.min-height-35 {
  min-height: 35px !important;
}

.min-height-40 {
  min-height: 40px !important;
}

.min-height-45 {
  min-height: 45px !important;
}

.min-height-50 {
  min-height: 50px !important;
}

.min-height-55 {
  min-height: 55px !important;
}

.min-height-60 {
  min-height: 60px !important;
}

.min-height-65 {
  min-height: 65px !important;
}

.min-height-70 {
  min-height: 70px !important;
}

.min-height-75 {
  min-height: 75px !important;
}

.min-height-80 {
  min-height: 80px !important;
}

.min-height-85 {
  min-height: 85px !important;
}

.min-height-90 {
  min-height: 90px !important;
}

.min-height-95 {
  min-height: 95px !important;
}

.min-height-100 {
  min-height: 100px !important;
}

.min-height-105 {
  min-height: 105px !important;
}

.min-height-110 {
  min-height: 110px !important;
}

.min-height-115 {
  min-height: 115px !important;
}

.min-height-120 {
  min-height: 120px !important;
}

.min-height-125 {
  min-height: 125px !important;
}

.min-height-130 {
  min-height: 130px !important;
}

.min-height-135 {
  min-height: 135px !important;
}

.min-height-140 {
  min-height: 140px !important;
}

.min-height-145 {
  min-height: 145px !important;
}

.min-height-150 {
  min-height: 150px !important;
}

.min-height-155 {
  min-height: 155px !important;
}

.min-height-160 {
  min-height: 160px !important;
}

.min-height-165 {
  min-height: 165px !important;
}

.min-height-170 {
  min-height: 170px !important;
}

.min-height-175 {
  min-height: 175px !important;
}

.min-height-180 {
  min-height: 180px !important;
}

.min-height-185 {
  min-height: 185px !important;
}

.min-height-190 {
  min-height: 190px !important;
}

.min-height-195 {
  min-height: 195px !important;
}

.min-height-200 {
  min-height: 200px !important;
}

.min-height-205 {
  min-height: 205px !important;
}

.min-height-210 {
  min-height: 210px !important;
}

.min-height-215 {
  min-height: 215px !important;
}

.min-height-220 {
  min-height: 220px !important;
}

.min-height-225 {
  min-height: 225px !important;
}

.min-height-230 {
  min-height: 230px !important;
}

.min-height-235 {
  min-height: 235px !important;
}

.min-height-240 {
  min-height: 240px !important;
}

.min-height-245 {
  min-height: 245px !important;
}

.min-height-250 {
  min-height: 250px !important;
}

.min-height-255 {
  min-height: 255px !important;
}

.min-height-260 {
  min-height: 260px !important;
}

.min-height-265 {
  min-height: 265px !important;
}

.min-height-270 {
  min-height: 270px !important;
}

.min-height-275 {
  min-height: 275px !important;
}

.min-height-280 {
  min-height: 280px !important;
}

.min-height-285 {
  min-height: 285px !important;
}

.min-height-290 {
  min-height: 290px !important;
}

.min-height-295 {
  min-height: 295px !important;
}

.min-height-300 {
  min-height: 300px !important;
}

.min-height-305 {
  min-height: 305px !important;
}

.min-height-310 {
  min-height: 310px !important;
}

.min-height-315 {
  min-height: 315px !important;
}

.min-height-320 {
  min-height: 320px !important;
}

.min-height-325 {
  min-height: 325px !important;
}

.min-height-330 {
  min-height: 330px !important;
}

.min-height-335 {
  min-height: 335px !important;
}

.min-height-340 {
  min-height: 340px !important;
}

.min-height-345 {
  min-height: 345px !important;
}

.min-height-350 {
  min-height: 350px !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.float-none {
  float: none !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.margin-0 {
  margin: 0 !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-35 {
  margin-top: 35px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-top-45 {
  margin-top: 45px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-right-0 {
  margin-right: 0px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-right-25 {
  margin-right: 25px !important;
}

.margin-right-30 {
  margin-right: 30px !important;
}

.margin-right-35 {
  margin-right: 35px !important;
}

.margin-right-40 {
  margin-right: 40px !important;
}

.margin-right-45 {
  margin-right: 45px !important;
}

.margin-right-50 {
  margin-right: 50px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-35 {
  margin-bottom: 35px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-bottom-45 {
  margin-bottom: 45px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-left-25 {
  margin-left: 25px !important;
}

.margin-left-30 {
  margin-left: 30px !important;
}

.margin-left-35 {
  margin-left: 35px !important;
}

.margin-left-40 {
  margin-left: 40px !important;
}

.margin-left-45 {
  margin-left: 45px !important;
}

.margin-left-50 {
  margin-left: 50px !important;
}

.padding-0 {
  padding: 0 !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-top-40 {
  padding-top: 40px !important;
}

.padding-top-45 {
  padding-top: 45px !important;
}

.padding-top-50 {
  padding-top: 50px !important;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-right-25 {
  padding-right: 25px !important;
}

.padding-right-30 {
  padding-right: 30px !important;
}

.padding-right-35 {
  padding-right: 35px !important;
}

.padding-right-40 {
  padding-right: 40px !important;
}

.padding-right-45 {
  padding-right: 45px !important;
}

.padding-right-50 {
  padding-right: 50px !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.padding-bottom-25 {
  padding-bottom: 25px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-bottom-35 {
  padding-bottom: 35px !important;
}

.padding-bottom-40 {
  padding-bottom: 40px !important;
}

.padding-bottom-45 {
  padding-bottom: 45px !important;
}

.padding-bottom-50 {
  padding-bottom: 50px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-left-25 {
  padding-left: 25px !important;
}

.padding-left-30 {
  padding-left: 30px !important;
}

.padding-left-35 {
  padding-left: 35px !important;
}

.padding-left-40 {
  padding-left: 40px !important;
}

.padding-left-45 {
  padding-left: 45px !important;
}

.padding-left-50 {
  padding-left: 50px !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.text-upper {
  text-transform: uppercase !important;
}

.text-lower {
  text-transform: lowercase !important;
}

.text-xlarge {
  font-size: 1.4em !important;
}

.text-large {
  font-size: 1.2em !important;
}

.text-small {
  font-size: 0.9em !important;
  line-height: 130%;
}

.text-xsmall {
  font-size: 0.8em !important;
  line-height: 130%;
}

.text-mega {
  font-size: 2.5em !important;
}

.text-ultra {
  font-size: 3.5em !important;
}

.border-none {
  border: 0 !important;
}

.border-top {
  border-top: 1px solid #f0f0f0 !important;
}

.border-right {
  border-right: 1px solid #f0f0f0 !important;
}

.border-bottom {
  border-bottom: 1px solid #f0f0f0 !important;
}

.border-left {
  border-top: 1px solid #f0f0f0 !important;
}

.border-dotted {
  border-style: dotted !important;
}

.border-primary {
  border-color: #10cfbd !important;
}

.clear {
  clear: both !important;
}

.nowrap {
  white-space: nowrap !important;
}

.centered {
  margin: 0 auto !important;
}

.pointer {
  cursor: pointer !important;
}

.background-hover {
  background-color: #daeffd !important;
}

.color-hover {
  color: #daeffd !important;
}

.block-icon.hover {
  border-color: #daeffd;
  color: #daeffd;
}

.background-highlight {
  background-color: #fef6dd !important;
}

.color-highlight {
  color: #fef6dd !important;
}

.block-icon.highlight {
  border-color: #fef6dd;
  color: #fef6dd;
}

.background-light {
  background-color: #ccc !important;
}

.color-light {
  color: #ccc !important;
}

.block-icon.light {
  border-color: #ccc;
  color: #ccc;
}

.background-lighter {
  background-color: #f0f0f0 !important;
}

.color-lighter {
  color: #f0f0f0 !important;
}

.block-icon.lighter {
  border-color: #f0f0f0;
  color: #f0f0f0;
}

.background-lightest {
  background-color: #f9f9f9 !important;
}

.color-lightest {
  color: #f9f9f9 !important;
}

.block-icon.lightest {
  border-color: #f9f9f9;
  color: #f9f9f9;
}

.background-dark {
  background-color: #444 !important;
}

.color-dark {
  color: #444 !important;
}

.block-icon.dark {
  border-color: #444;
  color: #444;
}

.background-darker {
  background-color: #333 !important;
}

.color-darker {
  color: #333 !important;
}

.block-icon.darker {
  border-color: #333;
  color: #333;
}

.background-darkest {
  background-color: #222 !important;
}

.color-darkest {
  color: #222 !important;
}

.block-icon.darkest {
  border-color: #222;
  color: #222;
}

.background-warning {
  background-color: #f9a825 !important;
}

.color-warning {
  color: #f9a825 !important;
}

.block-icon.warning {
  border-color: #f9a825;
  color: #f9a825;
}

.background-success {
  background-color: #4caf50 !important;
}

.color-success {
  color: #4caf50 !important;
}

.block-icon.success {
  border-color: #4caf50;
  color: #4caf50;
}

.background-danger {
  background-color: #f44336 !important;
}

.color-danger {
  color: #f44336 !important;
}

.block-icon.danger {
  border-color: #f44336;
  color: #f44336;
}

.background-info {
  background-color: #00bcd4 !important;
}

.color-info {
  color: #00bcd4 !important;
}

.block-icon.info {
  border-color: #00bcd4;
  color: #00bcd4;
}

.background-warning-light {
  background-color: #feedd3 !important;
}

.color-warning-light {
  color: #feedd3 !important;
}

.block-icon.warning-light {
  border-color: #feedd3;
  color: #feedd3;
}

.background-success-light {
  background-color: #c7e7c8 !important;
}

.color-success-light {
  color: #c7e7c8 !important;
}

.block-icon.success-light {
  border-color: #c7e7c8;
  color: #c7e7c8;
}

.background-danger-light {
  background-color: #fde1df !important;
}

.color-danger-light {
  color: #fde1df !important;
}

.block-icon.danger-light {
  border-color: #fde1df;
  color: #fde1df;
}

.background-info-light {
  background-color: #88f1ff !important;
}

.color-info-light {
  color: #88f1ff !important;
}

.block-icon.info-light {
  border-color: #88f1ff;
  color: #88f1ff;
}

.background-base {
  background-color: #10cfbd !important;
}

.color-base {
  color: #10cfbd !important;
}

.block-icon.base {
  border-color: #10cfbd;
  color: #10cfbd;
}

.background-facebook {
  background-color: #3a5795 !important;
}

.color-facebook {
  color: #3a5795 !important;
}

.block-icon.facebook {
  border-color: #3a5795;
  color: #3a5795;
}

.muted {
  color: #bfbfbf;
}

[class*='icon-'] {
  font-family: "UXPin Icon Set";
}
[class*='icon-'].icon-achievement:before {
  content: "";
}
[class*='icon-'].icon-add-user:before {
  content: "";
}
[class*='icon-'].icon-at:before {
  content: "";
}
[class*='icon-'].icon-bag:before {
  content: "";
}
[class*='icon-'].icon-bell:before {
  content: "";
}
[class*='icon-'].icon-book:before {
  content: "";
}
[class*='icon-'].icon-bookmark:before {
  content: "";
}
[class*='icon-'].icon-box:before {
  content: "";
}
[class*='icon-'].icon-brush:before {
  content: "";
}
[class*='icon-'].icon-bulb:before {
  content: "";
}
[class*='icon-'].icon-calculator:before {
  content: "";
}
[class*='icon-'].icon-calendar:before {
  content: "";
}
[class*='icon-'].icon-camcorder:before {
  content: "";
}
[class*='icon-'].icon-camera:before {
  content: "";
}
[class*='icon-'].icon-chart:before {
  content: "";
}
[class*='icon-'].icon-checkmark:before {
  content: "";
}
[class*='icon-'].icon-chemistry:before {
  content: "";
}
[class*='icon-'].icon-clip:before {
  content: "";
}
[class*='icon-'].icon-clock:before {
  content: "";
}
[class*='icon-'].icon-cloud:before {
  content: "";
}
[class*='icon-'].icon-cog:before {
  content: "";
}
[class*='icon-'].icon-compass:before {
  content: "";
}
[class*='icon-'].icon-compose:before {
  content: "";
}
[class*='icon-'].icon-credit-card:before {
  content: "";
}
[class*='icon-'].icon-cursor:before {
  content: "";
}
[class*='icon-'].icon-dashboard:before {
  content: "";
}
[class*='icon-'].icon-database:before {
  content: "";
}
[class*='icon-'].icon-display:before {
  content: "";
}
[class*='icon-'].icon-download:before {
  content: "";
}
[class*='icon-'].icon-envelope:before {
  content: "";
}
[class*='icon-'].icon-file:before {
  content: "";
}
[class*='icon-'].icon-folder:before {
  content: "";
}
[class*='icon-'].icon-gift:before {
  content: "";
}
[class*='icon-'].icon-graph:before {
  content: "";
}
[class*='icon-'].icon-heart:before {
  content: "";
}
[class*='icon-'].icon-home:before {
  content: "";
}
[class*='icon-'].icon-invisible:before {
  content: "";
}
[class*='icon-'].icon-ipad:before {
  content: "";
}
[class*='icon-'].icon-iphone:before {
  content: "";
}
[class*='icon-'].icon-joystick:before {
  content: "";
}
[class*='icon-'].icon-key:before {
  content: "";
}
[class*='icon-'].icon-life-belt:before {
  content: "";
}
[class*='icon-'].icon-lightning:before {
  content: "";
}
[class*='icon-'].icon-like:before {
  content: "";
}
[class*='icon-'].icon-link:before {
  content: "";
}
[class*='icon-'].icon-macbook:before {
  content: "";
}
[class*='icon-'].icon-magnifying-glass:before {
  content: "";
}
[class*='icon-'].icon-map:before {
  content: "";
}
[class*='icon-'].icon-megaphone:before {
  content: "";
}
[class*='icon-'].icon-message:before {
  content: "";
}
[class*='icon-'].icon-microphone:before {
  content: "";
}
[class*='icon-'].icon-money:before {
  content: "";
}
[class*='icon-'].icon-movie-file:before {
  content: "";
}
[class*='icon-'].icon-package:before {
  content: "";
}
[class*='icon-'].icon-pen:before {
  content: "";
}
[class*='icon-'].icon-pencil:before {
  content: "";
}
[class*='icon-'].icon-pencil-ruler:before {
  content: "";
}
[class*='icon-'].icon-picture-file:before {
  content: "";
}
[class*='icon-'].icon-piggybank:before {
  content: "";
}
[class*='icon-'].icon-pin:before {
  content: "";
}
[class*='icon-'].icon-printer:before {
  content: "";
}
[class*='icon-'].icon-quote:before {
  content: "";
}
[class*='icon-'].icon-share:before {
  content: "";
}
[class*='icon-'].icon-shield:before {
  content: "";
}
[class*='icon-'].icon-sight:before {
  content: "";
}
[class*='icon-'].icon-site-map:before {
  content: "";
}
[class*='icon-'].icon-sound:before {
  content: "";
}
[class*='icon-'].icon-spanner:before {
  content: "";
}
[class*='icon-'].icon-star:before {
  content: "";
}
[class*='icon-'].icon-stoper:before {
  content: "";
}
[class*='icon-'].icon-suitcase:before {
  content: "";
}
[class*='icon-'].icon-tack:before {
  content: "";
}
[class*='icon-'].icon-tag:before {
  content: "";
}
[class*='icon-'].icon-telephone:before {
  content: "";
}
[class*='icon-'].icon-text-file:before {
  content: "";
}
[class*='icon-'].icon-transport:before {
  content: "";
}
[class*='icon-'].icon-trash:before {
  content: "";
}
[class*='icon-'].icon-trolley:before {
  content: "";
}
[class*='icon-'].icon-visible:before {
  content: "";
}
[class*='icon-'].icon-wallet:before {
  content: "";
}
[class*='icon-'].icon-window:before {
  content: "";
}
[class*='icon-'].icon-world:before {
  content: "";
}

.grid {
  display: flex;
  flex-direction: row;
}
.grid.stretch {
  align-items: stretch;
}
.grid.center {
  align-items: center;
}
.grid > * {
  flex-grow: 1;
}
.grid > *.center {
  flex-grow: 1;
  align-self: center;
}
@media (max-width: 990px) {
  .grid {
    flex-wrap: wrap;
  }
  .grid > * {
    width: 50%;
  }
}
@media (max-width: 640px) {
  .grid > * {
    width: 100%;
  }
}

.default-ui-view {
  height: 100%;
}

.default-overlay {
  z-index: 900;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
}

.default-header {
  -moz-box-shadow: inset 0 -1px 0 #f0f0f0;
  -webkit-box-shadow: inset 0 -1px 0 #f0f0f0;
  box-shadow: inset 0 -1px 0 #f0f0f0;
  z-index: 800;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background: #fff;
}
.default-header .navicon {
  z-index: 789;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  padding: 0 20px;
  margin: 0;
  border: none;
  outline: 0;
  background: none;
  color: #10cfbd;
}
.default-header .navicon:before {
  font-family: "FontAwesome";
  content: "";
  font-weight: normal;
  font-size: 21px;
  line-height: 60px;
}
.default-header .logo {
  float: left;
  padding: 5px 0;
  margin: 0 30px;
}
.default-header .logo a {
  display: block;
  width: 160px;
  height: 50px;
  background-image: url('../images/logo-cloudmidia.svg?1476820546');
  background-size: 100% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.default-header .nav,
.default-header .links {
  padding: 0;
  margin: 0;
}
.default-header .nav ul,
.default-header .links ul {
  padding: 0;
  margin: 0;
}
.default-header .nav li,
.default-header .links li {
  float: left;
  display: block;
  padding: 0;
}
.default-header .nav li.on a,
.default-header .links li.on a {
  -moz-box-shadow: inset 0 -1px 0 #10cfbd;
  -webkit-box-shadow: inset 0 -1px 0 #10cfbd;
  box-shadow: inset 0 -1px 0 #10cfbd;
  color: #10cfbd;
}
.default-header .nav li.major,
.default-header .links li.major {
  padding: 10px;
}
.default-header .nav li.major a,
.default-header .links li.major a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #10cfbd;
  color: #fff;
  line-height: 40px;
}
.default-header .nav li.major a:hover,
.default-header .links li.major a:hover {
  background: #12e7d3;
}
.default-header .nav a,
.default-header .links a {
  display: block;
  padding: 0 20px;
  color: #333;
  font-weight: 700;
  line-height: 60px;
}
.default-header .nav a:hover,
.default-header .links a:hover {
  color: #10cfbd;
}
.default-header .nav i,
.default-header .links i {
  font-size: 19px;
}
.default-header .nav {
  float: left;
}
.default-header .links {
  float: right;
}
.default-header .sessionav {
  float: right;
  position: relative;
}
@media (max-width: 990px) {
  .default-header .navicon {
    display: block;
  }
  .default-header .logo {
    float: none;
  }
  .default-header .logo a {
    margin: 0 auto;
  }
  .default-header .nav,
  .default-header .links {
    float: none;
    display: none;
    text-align: center;
  }
  .default-header .nav ul,
  .default-header .links ul {
    margin: 0;
    padding: 0;
  }
  .default-header .nav li,
  .default-header .links li {
    float: none;
    margin: 0;
    border-bottom: 1px solid #f0f0f0;
    background: #f9f9f9;
  }
  .default-header .nav li.on a,
  .default-header .links li.on a {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .default-header .nav a,
  .default-header .links a {
    padding: 10px 20px;
    line-height: 130%;
  }
}

.default-footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 600;
  position: relative;
  height: 80px;
  padding: 30px;
  margin-top: -80px;
  font-size: 0.9em;
  text-align: center;
}
.default-footer .main {
  display: block;
  width: 120px;
  height: 25px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  background-image: url('../images/logo-cloudmidia-gray.svg?1466005857');
  background-size: auto 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.default-footer .copyright {
  float: left;
  padding: 0;
  border: none;
  line-height: 24px;
}
.default-footer .links {
  float: right;
  padding: 0;
  margin: 0;
}
.default-footer .links li {
  display: inline;
  margin-left: 10px;
}
@media (max-width: 990px) {
  .default-footer {
    height: 115px;
    padding: 20px;
    margin-top: -115px;
  }
  .default-footer .main {
    display: inline-block;
    position: relative;
    left: 0;
    margin: 0;
  }
  .default-footer .copyright,
  .default-footer .links {
    float: none;
  }
  .default-footer .links li {
    margin: 0 5px;
  }
}

.default-content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 500;
  position: relative;
  min-height: 100%;
  padding: 60px 0 110px;
  background: #fff;
}
@media (max-width: 990px) {
  .default-content {
    padding-bottom: 135px;
  }
}

.lite-header {
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 700;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background: #fff;
}
.lite-header .logo {
  z-index: 779;
  padding: 5px 0;
  margin: 0;
}
.lite-header .logo a {
  display: block;
  width: 160px;
  height: 50px;
  margin: 0 auto;
  background-image: url('../images/logo-cloudmidia.svg?1476820546');
  background-size: 100% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.lite-footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 600;
  position: relative;
  height: 80px;
  padding-top: 17px;
  margin-top: -80px;
  font-size: 0.9em;
  text-align: center;
}
.lite-footer .copyright {
  padding: 0;
  border: none;
  line-height: 24px;
}
.lite-footer .links {
  padding: 0;
  margin: 0;
}
.lite-footer .links li {
  display: inline;
  margin: 0 5px;
}

.lite-content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 500;
  position: relative;
  min-height: 100%;
  padding: 60px 0 110px;
  background: #f9f9f9;
  text-align: center;
}
@media (max-width: 990px) {
  .lite-content {
    padding-bottom: 100px;
  }
}

.layout-prime .default-content {
  padding-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.heading {
  margin-bottom: 30px;
}

.table {
  font-size: 0.9em;
}
.table > thead > tr > th {
  padding: 10px 20px;
  font-size: 0.9em;
  font-family: "Lato", sans-serif;
  white-space: nowrap;
  vertical-align: middle;
}
.table > thead > tr > th.order {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
}
.table > thead > tr > th.order:hover {
  color: #444;
}
.table > thead > tr > th.order:after {
  float: right;
  margin-top: 1px;
}
.table > thead > tr > th.order-asc {
  color: #444;
}
.table > thead > tr > th.order-asc:after {
  content: "";
}
.table > thead > tr > th.order-desc {
  color: #444;
}
.table > thead > tr > th.order-desc:after {
  content: "";
}
.table > tbody > tr:last-child td {
  border-bottom: none;
}
.table > tbody > tr:first-child td {
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}
.table > tbody > tr:hover .toggle-hover * {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.table > tbody > tr .toggle-hover * {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.table > tbody > tr > td {
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 20px;
  background: none;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  line-height: 160%;
  vertical-align: middle;
}
.table > tbody > tr > td:first-child {
  padding-left: 0;
}
.table > tbody > tr > td:last-child {
  padding-right: 0;
}
.table > tbody > tr > td.action {
  white-space: nowrap;
  text-align: right;
}
.table .checkbox {
  margin: 0;
}
.table [type="time"] {
  font-size: 1em;
}
.table .checkbox label,
.table .radio label {
  margin-right: 0;
}
.table .checkbox label:after,
.table .radio label:after {
  width: auto;
}
.table.table-hover > tbody > tr:hover {
  background-color: transparent;
}
.table.table-hover > tbody > tr:hover td {
  background-color: #e1fdfa !important;
}

@media (max-width: 990px) {
  .inv-table-responsive > thead {
    display: none;
  }
  .inv-table-responsive > tbody > tr {
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-top: 2px solid #10cfbd;
    background: #fff;
  }
  .inv-table-responsive > tbody > tr:last-child > td {
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  }
  .inv-table-responsive > tbody > tr > td {
    display: block;
    padding: 12px 10px;
    text-align: center !important;
  }
  .inv-table-responsive > tbody > tr > td:last-child {
    border-bottom: none;
  }
  .inv-table-responsive > tbody > tr > td.action {
    padding-right: 10px;
    text-align: right !important;
  }
}

.table-bill {
  width: 100%;
  font-size: 0.9em;
}
.table-bill td {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
}
.table-bill td:first-child {
  padding-left: 0;
}
.table-bill td:last-child {
  padding-right: 0;
  text-align: right;
}
.table-bill td.key {
  font-style: italic;
}
.table-bill td.value {
  font-size: 1.3em;
}
.table-bill .total {
  font-size: 1.7em;
  font-weight: 700;
}
.table-bill .total td {
  padding-top: 30px;
  padding-bottom: 0;
  border: none;
}

.list-media {
  padding: 0;
}
.list-media li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  display: block;
  width: 155px;
  position: relative;
  float: left;
  margin: 7px;
  padding: 7px;
  border: 1px solid #f0f0f0;
  border-top-width: 2px;
  background: #fff;
}
.list-media li:hover {
  border-color: #ccc;
}
.list-media li:hover .tools {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.list-media li.selected {
  border-color: #10cfbd;
  background: rgba(16, 207, 189, 0.1);
}
.list-media li .tools {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  font-size: 11px;
}
.list-media li .tools a {
  margin-right: 5px;
}
.list-media li .image {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 105px;
  overflow: hidden;
  margin-top: 5px;
  background: #f0f0f0;
  text-align: center;
}
.list-media li .image img {
  height: 100%;
}
.list-media li > label {
  display: inline;
  margin: 0;
  padding: 0;
  cursor: pointer;
  line-height: 100%;
}
.list-media .radio {
  margin: 5px 0 0;
}
.list-media .radio label {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 10px;
}

.list-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.list-card > li {
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
  display: block;
  width: 270px;
  height: 190px;
  padding: 0;
  margin: 15px;
  border: 1px solid transparent;
  cursor: pointer;
  background: #fff;
  line-height: 100%;
}
.list-card > li:hover {
  border-color: #10cfbd;
}
.list-card > li:hover .description {
  color: #444;
}
.list-card > li:hover .description .avatar {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.list-card > li.selected:after {
  font-family: "FontAwesome";
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  color: #ccc;
  font-size: 19px;
}
.list-card > li .description {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  height: 100%;
  padding: 0 10px 35px;
  color: #ccc;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 110%;
  text-align: center;
}
.list-card > li .description .avatar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  margin-bottom: 10px;
}
.list-card > li .actions {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid #f0f0f0;
  text-align: right;
}
.list-card > li .actions li {
  display: inline;
  padding: 0;
}
.list-card > li .actions a {
  display: inline-block;
  padding: 10px 15px 10px 0;
  color: #10cfbd;
  font-weight: 700;
  font-size: 0.8em;
  text-transform: uppercase;
}
.list-card > li .actions a:hover {
  color: #12e7d3;
}
.list-card > li .add {
  height: 100%;
  color: #ccc;
  font-weight: 700;
  font-size: 0.8em;
  text-transform: uppercase;
}
.list-card > li .add:hover {
  color: #12e7d3;
}
.list-card > li .add:before {
  font-family: "FontAwesome";
  content: "";
  display: block;
  margin-bottom: 10px;
  font-size: 60px;
}
@media (max-width: 990px) {
  .list-card {
    justify-content: center;
  }
}
@media (max-width: 640px) {
  .list-card > li {
    width: 100%;
  }
}

.list-define {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}
.list-define > li {
  display: block;
  width: 50%;
  padding: 60px 30px;
  border-bottom: 4px solid #f9f9f9;
}
.list-define > li h4 {
  color: #10cfbd;
  font-size: 1.4em;
  line-height: 130%;
}
.list-define > li p,
.list-define > li li {
  margin-top: 20px;
  font-size: 1.1em;
  line-height: 150%;
}
@media (max-width: 990px) {
  .list-define {
    flex-direction: column;
    text-align: center;
  }
  .list-define > li {
    width: 100%;
    padding: 30px 0;
  }
}

.list-check {
  padding: 0;
  margin-top: 15px;
}
.list-check .item {
  display: block;
  margin: 25px 0;
  font-size: 1.1em;
}
.list-check .item:before {
  font-family: "FontAwesome";
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  content: "";
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 2px solid;
  background: #fff;
  color: #f44336;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
.list-check .item.ok:before {
  content: "";
  color: #4caf50;
}

label.error {
  margin-top: 5px;
  padding: 0;
  color: #f44336;
  font-size: 0.9em !important;
}
label.error:before {
  content: "";
  margin-right: 5px;
}
label.with-link {
  display: block;
  overflow: hidden;
}
label.with-link a {
  float: right;
  font-weight: normal;
  font-size: 13px;
  text-transform: none;
}

.radio label,
.checkbox label {
  font-weight: normal !important;
  font-size: 1em !important;
  text-transform: none !important;
}

.radio.radio-success input[type=radio]:checked + label:before {
  background: #fff;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  font-size: 1em;
}
.form-group label:not(.error) {
  font-size: 1.1em;
  text-transform: none;
}
.form-group .check-slide {
  margin-top: 5px;
}
.form-group .check-slide .switchery {
  top: -3px;
}
.form-group .check-slide label {
  margin: 0 0 0 5px;
  cursor: pointer;
  font-size: 1em;
  text-transform: none;
}

.form-group-default-select {
  padding-bottom: 10px;
}
.form-group-default-select .ui-select-container {
  margin-top: 5px;
}

.form-group-inline {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px dotted #f0f0f0;
}
.form-group-inline label {
  margin-top: 7px;
}
.form-group-inline .radio label,
.form-group-inline .checkbox label {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1em;
  text-transform: none;
}

.form-group-thumb {
  background: white;
  text-align: center;
}
.form-group-thumb .image {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  display: block;
  width: 155px;
  height: 105px;
  overflow: hidden;
  margin: 5px auto 0;
  border: 1px solid #ccc;
  background: #ccc;
}
.form-group-thumb .image:hover {
  border-color: #b3b3b3;
}
.form-group-thumb .image span {
  display: block;
  padding: 2px 4px;
  background: #ccc;
  color: #fff;
  font-size: 0.8em;
  text-align: left;
}
.form-group-thumb .image img {
  height: 100%;
}
.form-group-thumb .btn {
  width: 155px;
  float: none;
  margin: 5px auto;
}

.form-control {
  font-size: 1em;
}

.has-error .form-control,
.has-error .select2-container .select2-choice {
  border-color: #f44336;
}

.dropdown-menu {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  min-width: 190px;
  margin-top: 4px;
  border: 1px solid #f0f0f0;
  background: #fff;
}
.dropdown-menu > li > a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #10cfbd;
}
.dropdown-menu > li > a:hover {
  background: #10cfbd;
  color: #fff;
}

.dropdown-default .dropdown-menu {
  min-width: auto;
}

.input-loading {
  background-image: url('../images/progress/progress-circle-master.svg?1466005857');
  background-position: 99% 50%;
  background-repeat: no-repeat;
  background-size: auto 25px;
}

[inv-local-input-range],
[inv-input-range] {
  display: block;
  color: #444;
  font-size: 17px;
  text-align: center;
}
[inv-local-input-range] output,
[inv-local-input-range] .output,
[inv-input-range] output,
[inv-input-range] .output {
  display: inline;
  color: #444;
  font-size: 17px;
}
[inv-local-input-range] .output,
[inv-input-range] .output {
  width: 110px;
  margin: 0 3px;
  text-align: right;
}
[inv-local-input-range] input[type="range"]:focus + .rangeslider .rangeslider__handle,
[inv-input-range] input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px #10cfbd;
  -webkit-box-shadow: 0 0 8px #10cfbd;
  box-shadow: 0 0 8px #10cfbd;
}
[inv-local-input-range] .rangeslider__fill,
[inv-input-range] .rangeslider__fill {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #10cfbd;
}
[inv-local-input-range] .rangeslider--horizontal,
[inv-input-range] .rangeslider--horizontal {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 5px;
  margin: 15px 0;
}
[inv-local-input-range] .rangeslider__handle,
[inv-input-range] .rangeslider__handle {
  width: 25px;
  height: 25px;
}
[inv-local-input-range] .rangeslider__handle:after,
[inv-input-range] .rangeslider__handle:after {
  width: 15px;
  height: 15px;
}

.uiSelect-inline {
  width: 100%;
  min-width: 180px;
}

.input {
  display: flex;
  flex-direction: row;
}
.input:focus {
  border: 2px solid red;
}
.input.large input,
.input.large i {
  height: 60px;
  min-height: 60px;
  line-height: 60px;
}
.input.large input {
  padding: 0 15px;
  font-size: 17px;
}
.input.large i {
  width: 60px;
  font-size: 27px;
}
.input input:not(:only-child):first-child {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.input input:not(:only-child):last-child {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
.input input:not(:only-child):focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.input i {
  width: 35px;
  padding: 0;
  color: #f0f0f0;
  font-size: 19px;
  font-family: "FontAwesome";
  line-height: 35px;
  text-align: center;
}
.input i:first-child {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.input i:last-child {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.label {
  display: inline-block;
  margin: 0 2px 4px 0;
  font-weight: normal;
}

.label-payment {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.label-payment.paypal {
  background-image: url('../images/logo-paypal.svg?1476820546');
}

.btn {
  margin-right: 3px;
  font-weight: 700;
}
.btn:last-child {
  margin-right: 0;
}
.btn .caret {
  margin-left: 0;
}

.btn-link {
  background: none;
  font-weight: 400;
}

.btn-secondary {
  border-color: #10cfbd;
  background-color: transparent;
  color: #10cfbd;
}
.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  border-color: #12e7d3;
  background-color: transparent;
  color: #12e7d3;
}
.btn-secondary[disabled] {
  background-color: transparent;
}

.btn-bordered {
  border: 2px solid #10cfbd;
  background-color: transparent;
  color: #10cfbd;
}
.btn-bordered:active, .btn-bordered:focus, .btn-bordered:hover {
  border: 2px solid #12e7d3;
  background-color: transparent;
  color: #12e7d3;
}
.btn-bordered[disabled] {
  background-color: transparent;
}

.btn-short {
  padding-left: 8px;
  padding-right: 8px;
  border-color: transparent;
  background: none;
}
.btn-short i {
  font-size: 16px;
}
.btn-short:active, .btn-short:focus, .btn-short:hover {
  border-color: transparent;
  background: none;
}

.btn-group > .btn {
  margin-right: 0;
}

.block-panel {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 30px;
  border: 1px solid #f0f0f0;
  background: #f9f9f9;
}
.block-panel.nobordered {
  border: none;
}
.block-panel.transparent {
  background: none;
}
.block-panel.norounded {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
@media (max-width: 990px) {
  .block-panel {
    padding: 20px;
  }
}

.block-container {
  position: relative;
  padding: 30px;
}
.block-container.collapsed {
  padding-top: 0;
}
.block-container.boxed {
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 530px;
  margin: 0 auto;
  border: 1px solid #f0f0f0;
  background: #fff;
  text-align: left;
}
.block-container.light {
  background: #ccc;
}
.block-container.lighter {
  background: #f0f0f0;
}
.block-container.lightest {
  background: #f9f9f9;
}
.block-container.dark {
  background: #444;
  color: #fff;
}
.block-container.darker {
  background: #333;
  color: #fff;
}
.block-container.darkest {
  background: #222;
  color: #fff;
}
.block-container.warning {
  background: #f9a825;
  color: #fff;
}
.block-container.base {
  background: #10cfbd;
  color: #fff;
}
.block-container.base-striped {
  background-image: -moz-repeating-linear-gradient(-45deg, #0fc6b4, #0fc6b4 5px, #0fc1b0 5px, #0fc1b0 10px);
  background-image: -webkit-repeating-linear-gradient(-45deg, #0fc6b4, #0fc6b4 5px, #0fc1b0 5px, #0fc1b0 10px);
  background-image: repeating-linear-gradient(-45deg, #0fc6b4, #0fc6b4 5px, #0fc1b0 5px, #0fc1b0 10px);
  border-top: 1px solid #fff;
  background-color: #0fc6b4;
  color: #fff;
}
.block-container.base-striped .block-heading-master .title {
  color: #fff;
}
.block-container.mock-device {
  padding-bottom: 420px;
  background-color: #10cfbd;
  background-image: url('../images/mock-macpro.png?1466005857');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: auto 390px;
  color: #fff;
}
.block-container > .block-container {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}
@media (max-width: 990px) {
  .block-container {
    padding: 20px;
  }
  .block-container.boxed {
    width: auto;
    margin: 0 20px;
  }
}
@media (max-width: 640px) {
  .block-container.mock-device {
    padding-bottom: 210px;
    background-size: auto 190px;
  }
}

.block-container-holder {
  position: relative;
  max-width: 1270px;
  margin: 0 auto;
}

.block-heading-master {
  text-align: center;
}
.block-heading-master.centered .title {
  float: none;
}
.block-heading-master.centered .tools {
  position: absolute;
  right: 30px;
  top: 30px;
}
.block-heading-master .title {
  float: left;
  margin: 0;
  font-weight: 700;
  font-size: 3.3em;
  letter-spacing: -1px;
}
.block-heading-master .subtitle {
  float: left;
  margin: 0;
  font-weight: 700;
  font-size: 2.7em;
}
.block-heading-master .tools {
  float: right;
  margin: 5px 0;
}
@media (max-width: 990px) {
  .block-heading-master.centered .tools {
    right: 20px;
    top: 20px;
  }
  .block-heading-master .title {
    float: none;
    font-size: 2.5em;
  }
  .block-heading-master .tools {
    float: none;
  }
}
@media (max-width: 640px) {
  .block-heading-master.centered .tools {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
  }
  .block-heading-master .title {
    font-size: 2em;
  }
  .block-heading-master .tools .btn {
    width: 100%;
    margin-top: 5px;
  }
}

.block-heading-secondary {
  margin-bottom: 30px;
  text-align: center;
}
.block-heading-secondary .title {
  float: left;
  margin: 0;
  font-weight: 700;
  font-size: 1.9em;
  letter-spacing: -1px;
}
.block-heading-secondary .subtitle {
  float: left;
  margin: 0;
  font-size: 1.7em;
  font-weight: 700;
}
.block-heading-secondary .tools {
  float: right;
  margin: 5px 0;
}
@media (max-width: 990px) {
  .block-heading-secondary .title {
    float: none;
    font-size: 1.9em;
  }
  .block-heading-secondary .tools {
    float: none;
  }
}
@media (max-width: 640px) {
  .block-heading-secondary .title {
    font-size: 1.5em;
  }
  .block-heading-secondary .tools .btn {
    width: 100%;
    margin-top: 5px;
  }
}

.block-message {
  width: 70%;
  margin: 30px auto;
  text-align: center;
}
.block-message h4 {
  color: #444;
  line-height: 130%;
}
.block-message p {
  color: #bfbfbf;
  font-size: 1.1em;
  line-height: 120%;
}
.block-message .btn {
  margin-top: 15px;
}
.block-message:before {
  font-family: "FontAwesome";
  content: "";
  margin-bottom: 15px;
  color: #f0f0f0;
  font-size: 85px;
}

.block-message-warning:before {
  content: "";
}
.block-message-warning.block-message-color:before {
  color: #f9a825;
}

.block-message-success:before {
  content: "";
}
.block-message-success.block-message-color:before {
  color: #10cfbd;
}

.block-message-danger:before {
  content: "";
}
.block-message-danger.block-message-color:before {
  color: #f44336;
}

.block-message-empty:before {
  content: "";
}
.block-message-empty.block-message-color:before {
  color: #444;
}

.block-message-support:before {
  content: "";
}
.block-message-support.block-message-color:before {
  color: #444;
}

.block-message-contact:before {
  content: "";
}
.block-message-contact.block-message-color:before {
  color: #444;
}

.block-message-search:before {
  content: "";
}
.block-message-search.block-message-color:before {
  color: #444;
}

.block-message-notfound:before {
  content: "";
}
.block-message-notfound.block-message-color:before {
  color: #444;
}

.block-message-security:before {
  content: "";
}
.block-message-security.block-message-color:before {
  color: #444;
}

.block-message-unauthorized:before {
  content: "";
}
.block-message-unauthorized.block-message-color:before {
  color: #444;
}

.block-message-location:before {
  content: "";
}
.block-message-location.block-message-color:before {
  color: #444;
}

.block-message-image:before {
  content: "";
}
.block-message-image.block-message-color:before {
  color: #444;
}

.block-message-video:before {
  content: "";
}
.block-message-video.block-message-color:before {
  color: #444;
}

.block-message-gear:before {
  content: "";
}
.block-message-gear.block-message-color:before {
  color: #444;
}

.block-message-users:before {
  content: "";
}
.block-message-users.block-message-color:before {
  color: #444;
}

.block-message-building:before {
  content: "";
}
.block-message-building.block-message-color:before {
  color: #444;
}

.block-action {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 4px solid #f0f0f0;
  text-align: right;
}
@media (max-width: 640px) {
  .block-action {
    text-align: center;
  }
}

.block-separate {
  padding: 30px 0;
  margin: 30px 0;
  border: 4px solid #f0f0f0;
  border-left: none;
  border-right: none;
}
.block-separate.slim {
  padding: 15px 0;
  margin: 15px 0;
  border-width: 1px;
}
.block-separate.top {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.block-separate.bottom {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}

.block-legend {
  margin: 15px 0;
  color: #a6a6a6;
}
.block-legend .item {
  display: inline-block;
  margin-right: 15px;
  font-size: 0.9em;
}
.block-legend .item:before {
  content: "";
  margin-right: 5px;
  font-size: 13px;
}
.block-legend .item:last-child {
  margin-right: 0;
}
.block-legend .item strong {
  color: #444;
}
.block-legend .item.warning:before {
  color: #f9a825;
}
.block-legend .item.success:before {
  color: #4caf50;
}
.block-legend .item.danger:before {
  color: #f44336;
}
.block-legend .item.info:before {
  color: #00bcd4;
}
.block-legend .item.warning-light:before {
  color: #feedd3;
}
.block-legend .item.success-light:before {
  color: #c7e7c8;
}
.block-legend .item.danger-light:before {
  color: #fde1df;
}
.block-legend .item.info-light:before {
  color: #88f1ff;
}
.block-legend .item.base:before {
  color: #10cfbd;
}

.block-thumb {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 15px;
  background: #f8f8f8;
  font-size: 0.9em;
  line-height: 130%;
  text-align: center;
}
.block-thumb figure .image {
  display: block;
  width: 155px;
  height: 105px;
  overflow: hidden;
  margin: 0 auto;
}
.block-thumb figure .image img {
  max-width: 100%;
  min-height: 100%;
}
.block-thumb figure figcaption {
  margin-top: 5px;
  font-weight: bold;
}
.block-thumb ul {
  display: block;
  margin: 5px 0 0;
  padding: 0;
  color: #ccc;
}
.block-thumb ul li {
  display: inline;
  margin: 0 5px;
}

.block-total {
  margin-top: 15px;
  font-family: "Gilroy";
  letter-spacing: -1px;
  text-align: center;
}
.block-total .preffix {
  margin-right: 5px;
  font-weight: 300;
  font-size: 1.7em;
}
.block-total .output {
  font-weight: 700;
  font-size: 2.9em;
}

.block-impact {
  padding: 15px;
}
.block-impact .primary {
  height: 140px;
  position: relative;
  text-align: center;
}
.block-impact .primary .value {
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  width: 100%;
  min-width: 140px;
  position: absolute;
  bottom: 50%;
  color: #444;
  font-weight: 700;
  font-size: 1.7em;
  letter-spacing: -1px;
}
.block-impact .primary .value span {
  margin-right: 3px;
  font-size: 1.7em;
}
.block-impact .secondary {
  height: 140px;
  padding: 0 25px;
}
.block-impact .secondary h5 {
  padding-bottom: 5px;
  border-bottom: 1px solid #10cfbd;
  color: #10cfbd;
  font-size: 0.8em;
  text-transform: uppercase;
}
.block-impact .secondary .views,
.block-impact .secondary .target {
  margin-top: 10px;
}
.block-impact .secondary .views:before,
.block-impact .secondary .target:before {
  font-family: "FontAwesome";
  margin-right: 10px;
  color: #ccc;
  font-size: 20px;
}
.block-impact .secondary .views span,
.block-impact .secondary .target span {
  font-weight: bold;
}
.block-impact .secondary .views:before {
  content: "";
}
.block-impact .secondary .target:before {
  content: "";
}
@media (max-width: 990px) {
  .block-impact .primary .chart {
    position: relative;
  }
}

.block-stamp {
  margin-bottom: 30px;
}
.block-stamp .title {
  color: #10cfbd;
  font-weight: 300;
  font-size: 4.5vh;
  font-family: "Lato", sans-serif;
  letter-spacing: -1px;
  line-height: 120%;
}
.block-stamp .text {
  margin-top: 15px;
  font-weight: normal;
  font-size: 2.1vh;
  font-family: "Lato", sans-serif;
  line-height: 160%;
}

.block-sample {
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #10cfbd;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-weight: 700;
  font-size: 23px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
}
.block-sample:active, .block-sample:focus, .block-sample:hover {
  color: #fff;
}
.block-sample.large {
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
  width: 90px;
  height: 90px;
  font-size: 33px;
  line-height: 90px;
}
.block-sample.kind {
  position: relative;
}
.block-sample.kind:after {
  font-family: "FontAwesome";
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: 0 0 0 2px #fff;
  -webkit-box-shadow: 0 0 0 2px #fff;
  box-shadow: 0 0 0 2px #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: absolute;
  right: -15px;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background: #10cfbd;
  color: #fff;
  text-align: center;
  font-size: 13px;
  line-height: 30px;
}
.block-sample.kind.image:after {
  content: "";
}
.block-sample.kind.video:after {
  content: "";
}
.block-sample.kind.text:after {
  content: "";
}
.block-sample.kind.online:after {
  content: "";
}
.block-sample.kind.offline:after {
  content: "";
  background: #f44336;
}

.block-docket {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 30px;
  text-align: center;
}
.block-docket .stamp {
  margin-bottom: 30px;
}
.block-docket .stamp i {
  font-size: 60px;
}
.block-docket .heading {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 1.9em;
  line-height: 110%;
}
.block-docket .body {
  margin-top: 15px;
  font-size: 1.1em;
  line-height: 140%;
}
@media (max-width: 990px) {
  .block-docket .heading {
    font-size: 1.5em;
  }
}

.block-key-value {
  padding: 20px;
  text-align: center;
}
.block-key-value .key {
  margin-top: 5px;
  color: #ccc;
  font-size: 1em;
  line-height: 130%;
}
.block-key-value .value {
  color: #444;
  font-weight: 700;
  font-size: 3.1em;
  line-height: 100%;
}

.block-tutor {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.block-tutor .index {
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  background: #3cf0df;
  color: #10cfbd;
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
}
.block-tutor .image {
  width: 35%;
  text-align: center;
  color: #3cf0df;
}
.block-tutor .image i {
  font-size: 80px;
}
.block-tutor .body {
  width: 65%;
  padding: 60px 30px;
}
.block-tutor .body h4 {
  color: #fff;
  font-size: 1.9em;
}
.block-tutor .body p {
  margin-top: 20px;
  font-size: 1.1em;
  line-height: 150%;
}
@media (max-width: 990px) {
  .block-tutor {
    flex-direction: column;
    margin-top: 30px;
  }
  .block-tutor .index {
    left: 0;
    top: 0;
  }
  .block-tutor .image {
    width: 100%;
  }
  .block-tutor .body {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .block-tutor .body h4 {
    font-size: 1.5em;
  }
}

.block-payment {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 5px solid #f9f9f9;
}

.card-float {
  -moz-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
  display: none;
  padding: 15px;
  border: 1px solid #f0f0f0;
  background: #f9f9f9;
}
.card-float.on {
  display: block;
}
.card-float .form-group:last-child {
  margin-bottom: 0;
}

.modal.fade.slide-right .modal-dialog .modal-content {
  height: auto;
  min-height: 100%;
}
.modal .modal-header {
  padding-bottom: 15px;
}

.modal-progress-circle {
  margin-top: 150px !important;
  margin-bottom: 150px !important;
}

.tab-index {
  -moz-box-shadow: inset 0 -1px 0 #f0f0f0;
  -webkit-box-shadow: inset 0 -1px 0 #f0f0f0;
  box-shadow: inset 0 -1px 0 #f0f0f0;
  padding: 0;
  margin: 0;
}
.tab-index li {
  display: inline;
}
.tab-index li.on a {
  -moz-box-shadow: inset 0 -1px 0 #10cfbd;
  -webkit-box-shadow: inset 0 -1px 0 #10cfbd;
  box-shadow: inset 0 -1px 0 #10cfbd;
  color: #10cfbd;
}
.tab-index a {
  float: left;
  display: block;
  padding: 0 20px;
  color: #333;
  font-size: 1em;
  line-height: 60px;
}
.tab-index a:hover {
  color: #10cfbd;
}
@media (max-width: 990px) {
  .tab-index {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .tab-index li {
    display: block;
    text-align: center;
  }
  .tab-index li.on a {
    -moz-box-shadow: inset 0 -1px 0 #f0f0f0;
    -webkit-box-shadow: inset 0 -1px 0 #f0f0f0;
    box-shadow: inset 0 -1px 0 #f0f0f0;
  }
  .tab-index a {
    -moz-box-shadow: inset 0 -1px 0 #f0f0f0;
    -webkit-box-shadow: inset 0 -1px 0 #f0f0f0;
    box-shadow: inset 0 -1px 0 #f0f0f0;
    float: none;
    line-height: 40px;
  }
}

.tab-view {
  padding-top: 30px;
}
@media (max-width: 640px) {
  .tab-view {
    padding: 30px 0;
  }
}

.tab-index-step {
  -moz-box-shadow: inset 0 -1px 0 #f0f0f0;
  -webkit-box-shadow: inset 0 -1px 0 #f0f0f0;
  box-shadow: inset 0 -1px 0 #f0f0f0;
  display: flex;
  flex-direction: flow;
  padding: 0;
  margin: 0;
}
.tab-index-step li {
  display: block;
  width: 100%;
}
.tab-index-step li.on a {
  -moz-box-shadow: inset 0 -1px 0 #10cfbd;
  -webkit-box-shadow: inset 0 -1px 0 #10cfbd;
  box-shadow: inset 0 -1px 0 #10cfbd;
  color: #10cfbd;
}
.tab-index-step li.ok a .step {
  background: #10cfbd;
}
.tab-index-step a {
  display: block;
  padding: 0 20px;
  color: #333;
  font-weight: 700;
  font-size: 0.9em;
  line-height: 60px;
  text-transform: uppercase;
}
.tab-index-step a:hover {
  color: #10cfbd;
}
.tab-index-step a .step {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background: #ccc;
  color: #fff;
  font-size: 0.9em;
  line-height: 25px;
  text-align: center;
}
@media (max-width: 990px) {
  .tab-index-step {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    flex-wrap: wrap;
  }
  .tab-index-step li.on a {
    -moz-box-shadow: inset 0 -1px 0 #f0f0f0;
    -webkit-box-shadow: inset 0 -1px 0 #f0f0f0;
    box-shadow: inset 0 -1px 0 #f0f0f0;
  }
  .tab-index-step a {
    -moz-box-shadow: inset 0 -1px 0 #f0f0f0;
    -webkit-box-shadow: inset 0 -1px 0 #f0f0f0;
    box-shadow: inset 0 -1px 0 #f0f0f0;
    padding: 0;
    line-height: 40px;
  }
}

.main-collapse-group.framed {
  padding: 15px;
  background: #f9f9f9;
}
.main-collapse-group .main-collapse {
  margin-bottom: 0;
  border-bottom: none;
}
.main-collapse-group .main-collapse:last-child {
  border-bottom: 1px solid #ccc;
}

.main-collapse {
  margin-bottom: 5px;
  border: 1px solid #ccc;
}
.main-collapse.static .main-collapse-heading {
  cursor: default;
  background: #f0f0f0;
}
.main-collapse.static .main-collapse-heading:after {
  display: none;
}
.main-collapse.on .main-collapse-heading {
  color: #444;
}
.main-collapse.on .main-collapse-heading:after {
  content: "";
}
.main-collapse.on .main-collapse-body {
  display: block;
}
.main-collapse.on .block-message {
  margin: 15px auto;
}
.main-collapse.main-collapse-step.ok .main-collapse-heading:before {
  content: "";
  color: #10cfbd;
}
.main-collapse.main-collapse-step .main-collapse-heading:before {
  font-family: "FontAwesome";
  content: "";
  width: 15px;
  margin-right: 5px;
  color: #f9a825;
  text-align: center;
}

.main-collapse-heading {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
  padding: 15px;
  cursor: pointer;
  background: #f0f0f0;
  color: #bfbfbf;
  font-weight: 700;
  font-size: 0.9em;
  text-transform: uppercase;
}
.main-collapse-heading:hover, .main-collapse-heading:focus {
  background: #e3e3e3;
  color: #444;
}
.main-collapse-heading:after {
  font-family: "pages-icon";
  content: "";
  position: absolute;
  right: 15px;
  top: 17px;
}

.main-collapse-body {
  display: none;
  padding: 30px 20px;
  background: #fff;
}
.main-collapse-body .form-group:last-child {
  margin-bottom: 0;
}

.breadcrumb {
  padding: 15px 30px;
  background: #f0f0f0;
}
.breadcrumb li {
  text-transform: none;
}
.breadcrumb li:first-child a {
  margin-left: 0;
}
.breadcrumb li + li:before {
  color: #ccc;
}
.breadcrumb a.active, .breadcrumb a:active, .breadcrumb a:hover {
  color: #10cfbd !important;
}
@media (max-width: 990px) {
  .breadcrumb {
    padding: 15px 15px;
  }
}

.pagination {
  display: block;
  margin: 15px 0 0;
  text-align: right;
}
.pagination > li {
  display: inline-block;
}
.pagination > li.active > a {
  background: none;
  color: #10cfbd;
  font-weight: bold;
}
.pagination > li.active > a:focus, .pagination > li.active > a:hover {
  color: #10cfbd;
}
.pagination > li.disabled > span,
.pagination > li.disabled > a {
  color: #ccc;
}
.pagination > li.disabled > span:focus, .pagination > li.disabled > span:hover,
.pagination > li.disabled > a:focus,
.pagination > li.disabled > a:hover {
  color: #ccc;
}
.pagination > li > span,
.pagination > li > a {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0;
  border-radius: 0 !important;
  padding: 6px 10px;
  border: none;
  background: none !important;
  color: #b3b3b3;
  font-size: 0.9em;
}
.pagination > li > span:focus, .pagination > li > span:hover {
  color: #b3b3b3;
}
.pagination > li > a:focus, .pagination > li > a:hover {
  color: #10cfbd;
}

.loader-page {
  z-index: 710;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url('../images/progress/progress-circle-success.svg?1466005857');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100px auto;
}

.loader-partial {
  min-height: 80px;
  position: relative;
}
.loader-partial:after {
  content: "";
  z-index: 710;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url('../images/progress/progress-circle-success.svg?1466005857');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50px auto;
}

.coach-focus {
  position: relative;
}
.coach-focus:after {
  animation: swing-vertical 1s infinite;
  font-family: "FontAwesome";
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  content: "";
  z-index: 800;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  margin-top: 5px;
  color: #12e7d3;
  font-size: 100px;
  text-align: center;
}
@keyframes swing-vertical {
  0% {
    margin-top: 5px;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 5px;
  }
}
.datepicker-custom {
  text-align: center;
}
.datepicker-custom .well {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  padding: 0;
  margin: 0;
  background: none;
}
.datepicker-custom button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border: none;
}
.datepicker-custom button:hover {
  border: none;
}
.datepicker-custom table {
  outline: 0;
}
.datepicker-custom [ng-switch-when="day"] td button {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  min-width: 33px !important;
  width: 33px;
  height: 33px;
  padding: 0;
}
.datepicker-custom [ng-switch-when="day"] td button:hover {
  border: 2px solid #10cfbd;
  color: #10cfbd;
}
.datepicker-custom [ng-switch-when="day"] td button:disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.datepicker-custom [ng-switch-when="day"] td button.active {
  background: #fff;
}
.datepicker-custom [ng-switch-when="day"] td button.btn-info {
  background: #10cfbd;
}
.datepicker-custom [ng-switch-when="day"] td button.btn-info:hover {
  border: none;
}
.datepicker-custom [ng-switch-when="day"] td button.btn-info span {
  color: #fff !important;
}
.datepicker-custom th {
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
}
.datepicker-custom th button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding-bottom: 10px;
  color: #10cfbd;
  text-transform: uppercase;
}
.datepicker-custom td {
  padding: 4px 2px 0;
}
.datepicker-custom td.available button {
  background: #c7e7c8;
}
.datepicker-custom td.unavailable button {
  background: #fde1df;
}
.datepicker-custom td span {
  color: #10cfbd !important;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}
.datepicker-custom td span.text-muted {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.datepicker-custom td span.text-info {
  font-weight: bold;
}
@media (max-width: 640px) {
  .datepicker-custom [ng-switch-when="day"] td button {
    min-width: 31px !important;
    width: 31px;
    height: 31px;
  }
}

.billboard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}
.billboard .container-primary {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.billboard .container-primary .heading {
  margin: 0;
  font-size: 5.7em;
  letter-spacing: -1px;
  line-height: 80%;
  text-transform: lowercase;
}
.billboard .container-primary .text {
  margin-top: 25px;
  font-size: 2.3em;
  line-height: 120%;
}
.billboard .container-secondary {
  padding: 30px;
  background: rgba(249, 168, 37, 0.8);
  color: #fff;
}
.billboard .container-secondary .heading {
  margin: 0;
  color: #fcdaa1;
  font-size: 3.5em;
  letter-spacing: -1px;
  line-height: 100%;
  text-transform: lowercase;
}
.billboard .container-secondary .subheading {
  margin-top: 10px;
  font-size: 1.9em;
  line-height: 100%;
  text-transform: uppercase;
}
.billboard .container-secondary form {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}
.billboard .container-secondary form input {
  margin-right: 15px;
}
.billboard .container-secondary form button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition: background 0.2s linear 0s;
  -o-transition: background 0.2s linear 0s;
  -webkit-transition: background 0.2s linear;
  -webkit-transition-delay: 0s;
  transition: background 0.2s linear 0s;
  width: 100%;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
}
.billboard .container-secondary form button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.percentbar {
  text-align: center;
}

.percentbar-chart {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 30px;
  overflow: hidden;
  background: #f0f0f0;
}
.percentbar-chart div {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  float: left;
  height: 100%;
}

[inv-duotab] {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
}
@media (max-width: 990px) {
  [inv-duotab] {
    flex-direction: column;
    height: auto;
  }
  [inv-duotab] .duotab-item {
    order: 1;
  }
  [inv-duotab] .duotab-item.on {
    order: 2;
  }
  [inv-duotab] .duotab-item > .trigger {
    padding: 20px;
    font-size: 1.5em;
  }
  [inv-duotab] .duotab-item > .trigger:before {
    display: none;
  }
  [inv-duotab] .duotab-item > .heading {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  [inv-duotab] .duotab-item > .heading ul {
    margin-top: 20px;
    text-align: center;
  }
  [inv-duotab] .duotab-item > .heading ul li {
    margin: 0 10px;
  }
  [inv-duotab] .duotab-item > .content {
    flex-direction: column;
  }
  [inv-duotab] .duotab-item > .content .content-a {
    margin: 0 20px;
    font-size: 0.6em;
    text-align: center;
  }
  [inv-duotab] .duotab-item > .content .content-b {
    margin: 20px;
  }
}

.duotab-item {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  overflow: hidden;
  background-image: url('../images/billboard/darts.jpg?1476820546');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.duotab-item:first-child {
  background-image: url('../images/billboard/tv.jpg?1476820546');
}
.duotab-item:first-child > .trigger {
  background: #f9a825;
}
.duotab-item:first-child > .trigger:hover {
  background: #f9a216;
}
.duotab-item:first-child > .trigger:before {
  content: "";
}
.duotab-item:first-child > .content .content-a {
  background-color: rgba(249, 168, 37, 0.95);
}
.duotab-item:first-child > .content .content-b a {
  color: #f9a825;
}
.duotab-item:first-child > .content .content-b a:active, .duotab-item:first-child > .content .content-b a:focus, .duotab-item:first-child > .content .content-b a:hover {
  color: #fab23e;
}
.duotab-item:first-child form button {
  background: #f9a825;
}
.duotab-item:first-child form button:hover {
  background: #f9a216;
}
.duotab-item.on {
  flex: 5;
}
.duotab-item.on > .trigger {
  display: none;
}
.duotab-item.on > .heading,
.duotab-item.on > .content {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  position: relative;
}
.duotab-item.on > .heading .content-a,
.duotab-item.on > .content .content-a {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.duotab-item > .trigger {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  z-index: 100;
  position: relative;
  flex: 1;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background: #10cfbd;
  color: #fff;
  font-size: 1.9em;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
}
.duotab-item > .trigger:hover {
  background: #0fc1b0;
}
.duotab-item > .trigger:hover:before,
.duotab-item > .trigger:hover span {
  color: #fff;
}
.duotab-item > .trigger span {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  display: block;
  color: rgba(255, 255, 255, 0.7);
  text-transform: lowercase;
}
.duotab-item > .trigger:before {
  font-family: "FontAwesome";
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  content: "";
  display: block;
  margin-bottom: 15px;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.7);
}
.duotab-item > .heading {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  max-width: 1090px;
  padding: 30px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.duotab-item > .heading .logo-cloudmidia {
  flex: 1;
  width: 300px;
  height: 70px;
  overflow: hidden;
  background-image: url('../images/logo-cloudmidia-white.svg?1476820546');
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-indent: -9999px;
}
.duotab-item > .heading ul {
  flex: 2;
  text-align: right;
  margin: 0;
  padding: 0;
}
.duotab-item > .heading ul li {
  display: inline;
  margin-left: 20px;
}
.duotab-item > .heading ul a {
  text-shadow: 1px 1px 0 !important;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1) !important;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
}
.duotab-item > .heading ul a:hover {
  color: #10cfbd;
}
.duotab-item > .content {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1090px;
}
.duotab-item > .content .content-a {
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin: 30px;
  background-color: rgba(16, 207, 189, 0.95);
  background-image: url('../images/logo-cloudmidia-grid.svg?1476820546');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 160% auto;
  color: #fff;
  text-align: right;
}
.duotab-item > .content .content-a .major {
  font-size: 4.3em;
  letter-spacing: -1px;
  line-height: 80%;
  text-transform: lowercase;
}
.duotab-item > .content .content-a .minor {
  margin-top: 25px;
  color: #fff;
  font-size: 2.3em;
  line-height: 120%;
}
.duotab-item > .content .content-b {
  flex: 1;
  margin: 30px;
}
.duotab-item > .content .content-b .heading {
  margin-bottom: 15px;
  color: #fff;
}
.duotab-item > .content .content-b .heading .major {
  font-size: 2.3em;
  letter-spacing: -1px;
  line-height: 100%;
  text-transform: lowercase;
}
.duotab-item > .content .content-b .heading .minor {
  margin-top: 10px;
  font-size: 1.3em;
  line-height: 100%;
  text-transform: uppercase;
}
.duotab-item form input {
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}
.duotab-item form button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: 100%;
  padding: 15px;
  border: none;
  background: #10cfbd;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
}
.duotab-item form button:hover {
  background: #0fc1b0;
}
.duotab-item form .note {
  margin-top: 15px;
  color: #fff;
  font-size: 0.9em;
}
.duotab-item form .has-error {
  position: relative;
}
.duotab-item form .has-error label.error {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  right: 0;
  top: 28px;
  padding: 3px 5px;
  margin-top: 0;
  background: #f44336;
  color: #fff;
  font-weight: 400;
  font-size: 7px;
  line-height: 100%;
}
.duotab-item form .has-error label.error:before {
  content: "";
  margin: 0;
}
.duotab-item form .has-error label.error:after {
  content: "";
  margin-left: 5px;
}
.duotab-item form .has-error .error-input {
  position: relative;
}
.duotab-item form .has-error .error-message {
  background: #f44336;
  color: #fff;
  font-size: 11px;
}

.sessionav {
  position: absolute;
  right: 0;
  top: 0;
}
.sessionav .trigger {
  position: relative;
  display: block;
  height: 60px;
  padding-right: 85px;
  padding-left: 20px;
  color: #10cfbd;
  text-align: right;
}
.sessionav .trigger:after {
  font-family: "FontAwesome";
  content: "";
  position: absolute;
  right: 20px;
  top: 24px;
}
.sessionav .trigger .name {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.sessionav .trigger .name .major,
.sessionav .trigger .name .minor {
  width: 100%;
  line-height: 100%;
}
.sessionav .trigger .name .major {
  font-weight: 700;
  font-size: 1em;
}
.sessionav .trigger .name .minor {
  margin-top: 3px;
  font-size: 0.9em;
}
.sessionav .trigger .avatar {
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 38px;
  top: 12px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.sessionav .menu {
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 99;
  position: absolute;
  right: 20px;
  top: 55px;
  display: none;
  min-width: 200px;
  max-width: 260px;
  overflow-y: auto;
  padding: 7px 0;
  border-top: 1px solid #10cfbd;
  background: #fff;
  text-align: left;
}
.sessionav .menu li {
  display: block;
  padding: 0;
}
.sessionav .menu .item-divider {
  height: 1px;
  overflow: hidden;
  margin: 7px 0;
  background: rgba(0, 0, 0, 0.1);
}
.sessionav .menu .item-header {
  display: none;
  padding: 7px 10px;
  color: #10cfbd;
  line-height: 130%;
}
.sessionav .menu .item-label {
  padding: 7px 10px;
  color: #ccc;
  font-size: 0.8em;
  line-height: 130%;
  text-transform: uppercase;
}
.sessionav .menu .item-option.on a {
  color: #10cfbd;
}
.sessionav .menu .item-option.on a:after {
  content: "";
}
.sessionav .menu .item-option a {
  position: relative;
  padding-left: 30px;
  color: #bfbfbf;
}
.sessionav .menu .item-option a:hover {
  background: none;
  color: #10cfbd;
}
.sessionav .menu .item-option a:after {
  font-family: "FontAwesome";
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -8px;
  font-size: 16px;
}
.sessionav .menu a {
  display: block;
  padding: 7px 10px;
  color: #444;
  line-height: 130%;
}
.sessionav .menu a:hover {
  background: #f0f0f0;
}
@media (max-width: 990px) {
  .sessionav {
    position: absolute !important;
  }
  .sessionav .trigger .name {
    display: none;
  }
  .sessionav .menu .item-header {
    display: block;
  }
}
