<div class="jumbotron m-b-0">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <ul class="breadcrumb">
      <li><a href="#/home">Painel</a></li>
      <li><a href="#/home" class="active">Agendamento</a></li>
    </ul>
  </div>
</div>

<div class="container-fluid container-fixed-lg bg-white main-content">
  <!-- <div class="block-message block-message-empty">
    <h4>Ops! Nenhum serviço disponível...</h4>
    <p>Ainda não há serviço definido para esse local.</p>
    <button class="btn btn-primary"><i class="fa fa-plus-circle"></i> Novo serviço</button>
  </div> -->

  <ui-select ng-model="person.selected" theme="bootstrap">
    <ui-select-match placeholder="Selecione um serviço">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="item in people | filter: $select.search">
      <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
    </ui-select-choices>
  </ui-select>

  <div class="row block-separate">
    <!-- <div class="progress-circle-indeterminate progress-circle-primary"></div> -->

    <div class="block-step col-md-4">
      <h5 class="heading">Dia</h5>

      <div class="datepicker-custom">
        <datepicker class="well well-sm" ng-model="selected.date" show-weeks="false" min-date="todayDate"></datepicker>
      </div>
    </div>

    <div class="block-step col-md-4 b-l b-grey">
      <h5 class="heading">Sessão</h5>

      <div class="progress-circle-indeterminate progress-circle-primary m-t-45" ng-show="isLoadingDisponibility"></div>

      <div ng-show="!isLoadingDisponibility">
        <div class="block-message block-message-error" ng-show="!hasSessions">
          <h4>Ops! Nenhuma sessão disponível...</h4>
          <p>Selecione outro dia no calendário</p>
        </div>

        <div ng-show="!isLoadingSessions && hasSessions">
          <div class="form-group">
            <label>Preferência para atendimento</label>

            <ui-select ng-model="selected.resource" theme="bootstrap">
              <ui-select-match placeholder="Selecione sua preferência">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="resource in disponibility.resources | filter: $select.search" ui-disable-choice="">
                <span>{{resource.name}}</span>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="form-group m-t-20">
            <label>Horários disponíveis</label>

            <div class="block-message block-message-error" ng-show="!resourceHasSessions">
              <h4>Ops! Nenhum horário disponível...</h4>
              <p>Selecione outro dia no calendário ou use o botão abaixo.</p>
            </div>

            <div class="radio radio-primary" ng-repeat="session in disponibility.sessions" ng-show="showRadio(session)">
              <input id="sessionTime-{{session.id}}-{{$index}}" name="sessionTime-{{service.id}}" type="radio" ng-model="$parent.selected.session"
              ng-value="session">
              <label for="sessionTime-{{session.id}}-{{$index}}">{{session.start | date: 'shortTime'}} às {{session.end | date: 'shortTime'}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block-step col-md-4 b-l b-grey">
      <h5 class="heading">Emissão de bilhete</h5>

      <div class="m-b-10 text-right text-small">
        <a href="javascript:;"><i class="fa fa-search"></i> Cliente cadastrado</a>
        <!-- <a href="javascript:;"><i class="fa fa-plus-circle"></i> Novo cliente</a> -->
      </div>

      <div pg-form-group class="form-group form-group-default">
        <label>Cliente</label>
        <input type="text" class="form-control">
      </div>

      <div pg-form-group class="form-group form-group-default">
        <label>Email</label>
        <input type="email" class="form-control">
      </div>

      <div pg-form-group class="form-group form-group-default">
        <label>Telefone</label>
        <input type="text" class="form-control" ui-jq="mask" ui-options="'(99) 99999999?9'">
      </div>

      <div class="radio radio-primary m-t-15 m-b-15">
        <input id="special0" name="special" type="radio" value="false" checked>
        <label for="special0" class="margin-bottom-0">Não preferencial</label>
        <input id="special1" name="special" type="radio" value="true">
        <label for="special1" class="margin-bottom-0">Preferêncial</label>
      </div>

      <button class="btn btn-block btn-lg btn-primary" ng-disabled="!canEmitTicket()" ng-click="emitTicket()"><i class="fa fa-ticket"></i> Gerar bilhete</button>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row m-b-30">
      <div class="col-sm-8">
        <h5 class="m-t-0 m-b-5 font-montserrat">Quinta-feira, 19 de novembro de 2015 - 07:00 às 11:00</h5>
        <div class="text-small">
          <span><span class="hint-text"><i class="fa fa-ticket"></i> Emitidos:</span> <strong>12</strong></span>
          <span class="m-l-20"><span class="hint-text"><i class="fa fa-ticket"></i> Disponíveis:</span> <strong>12</strong></span>
          <!-- <span class="m-l-20 text-danger" title="Overtime"><span class="hint-text"><i class="fa fa-ticket"></i> Disponíveis:</span> <strong>12</strong></span> -->
          <span class="hint-text m-l-20"><i class="fa fa-clock-o"></i> Atendimento médio:</span> <strong>12 minutos</strong>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="input-group transparent">
          <span class="input-group-addon"><i class="pg-search"></i></span>
          <input type="text" class="form-control" placeholder="Pesquisar bilhetes">
        </div>
      </div>
    </div>

    <!-- <div class="block-message block-message-empty">
      <h4>Ops! Nenhum bilhete para mostrar...</h4>
    </div> -->

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Bilhete</th>
            <th>Cliente</th>
            <th class=" text-center">Preferêncial</th>
            <th>Previsão</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="v-align-middle">
              <span class="text-xlarge font-montserrat"><i class="fa fa-ticket muted"></i> ABC-D12</span>
              <!-- <span class="text-xlarge font-montserrat"><i class="fa fa-ticket text-warning" title="Preferencial"></i> ABC-D12</span> -->
            </td>
            <td class="v-align-middle">
              <strong>James Clébio</strong><br>
              contato@jamesclebio.com.br<br>
              (79) 999999999
            </td>
            <td class="v-align-middle text-center">Não</td>
            <td class="v-align-middle"><span title="Previsão de atendimento"><i class="fa fa-clock-o"></i> 12:12</span></td>
            <td class="v-align-middle"><span class="label">Agendado</span><br></td>
            <td class="v-align-middle toggle-hover nowrap text-right">
              <button class="btn btn-short" title="Confirmar"><i class="fa fa-check"></i></button>
              <button class="btn btn-short" title="Cancelar"><i class="fa fa-times"></i></button>
            </td>
          </tr>
          <tr>
            <td class="v-align-middle">
              <span class="text-xlarge font-montserrat"><i class="fa fa-ticket muted"></i> ABC-D12</span>
              <!-- <span class="text-xlarge font-montserrat"><i class="fa fa-ticket text-warning" title="Preferencial"></i> ABC-D12</span> -->
            </td>
            <td class="v-align-middle">
              <strong>James Clébio</strong><br>
              contato@jamesclebio.com.br<br>
              (79) 999999999
            </td>
            <td class="v-align-middle text-center">Não</td>
            <td class="v-align-middle"><span title="Previsão de atendimento"><i class="fa fa-clock-o"></i> 12:12</span></td>
            <td class="v-align-middle"><span class="label">Agendado</span><br></td>
            <td class="v-align-middle toggle-hover nowrap text-right">
              <button class="btn btn-short" title="Confirmar"><i class="fa fa-check"></i></button>
              <button class="btn btn-short" title="Cancelar"><i class="fa fa-times"></i></button>
            </td>
          </tr>
          <tr>
            <td class="v-align-middle">
              <!-- <span class="text-xlarge font-montserrat"><i class="fa fa-ticket muted"></i> ABC-D12</span> -->
              <span class="text-xlarge font-montserrat"><i class="fa fa-ticket text-warning" title="Preferencial"></i> ABC-D12</span>
            </td>
            <td class="v-align-middle">
              <strong>James Clébio</strong><br>
              contato@jamesclebio.com.br<br>
              (79) 999999999
            </td>
            <td class="v-align-middle text-center">Sim</td>
            <td class="v-align-middle"><span title="Previsão de atendimento"><i class="fa fa-clock-o"></i> 12:12</span></td>
            <td class="v-align-middle"><span class="label">Agendado</span><br></td>
            <td class="v-align-middle toggle-hover nowrap text-right">
              <button class="btn btn-short" title="Confirmar"><i class="fa fa-check"></i></button>
              <button class="btn btn-short" title="Cancelar"><i class="fa fa-times"></i></button>
            </td>
          </tr>
          <tr>
            <td class="v-align-middle">
              <span class="text-xlarge font-montserrat"><i class="fa fa-ticket muted"></i> ABC-D12</span>
              <!-- <span class="text-xlarge font-montserrat"><i class="fa fa-ticket text-warning" title="Preferencial"></i> ABC-D12</span> -->
            </td>
            <td class="v-align-middle">
              <strong>James Clébio</strong><br>
              contato@jamesclebio.com.br<br>
              (79) 999999999
            </td>
            <td class="v-align-middle text-center">Não</td>
            <td class="v-align-middle"><span title="Previsão de atendimento"><i class="fa fa-clock-o"></i> 12:12</span></td>
            <td class="v-align-middle"><span class="label">Agendado</span><br></td>
            <td class="v-align-middle toggle-hover nowrap text-right">
              <button class="btn btn-short" title="Confirmar"><i class="fa fa-check"></i></button>
              <button class="btn btn-short" title="Cancelar"><i class="fa fa-times"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
