<div class="block-container lightest">
  <div class="block-container-holder">
    <div class="block-heading-master">
      <h2 class="title" ng-if="!update">Novo local</h2>
      <h2 class="title" ng-if="update">Editar local</h2>

      <div class="tools">
        <a a ui-sref="app.locals({enterpriserSlug: enterpriser.slug})" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Retornar</a>
      </div>
    </div>
  </div>
</div>

<div class="block-container">
  <div class="block-container-holder">
    <form name="placesForm" role="form" ng-submit="placesForm.$invalid" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" ng-class="{ 'has-error' : placesForm.name.$invalid && (placesForm.name.$dirty || placesForm.$submitted)}">
            <label>Nome do local</label>
            <input type="text" name="name" class="form-control" ng-model="localName" required class="form-control" ng-maxlength="30">
            <label class="error" for="name" ng-show="((placesForm.name.$pristine && placesForm.$submitted && placesForm.name.$invalid) ||
            (!placesForm.name.$pristine && placesForm.name.$invalid)) && !placesForm.name.$error.maxlength">Campo obrigatório</label>
            <label class="error" for="name" ng-show="placesForm.name.$error.maxlength">Este campo não
              pode ter mais de 30 caracteres.</label>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Tipo</label>
                <div class="radio radio-success">
                  <input id="type1" type="radio" name="type" checked ng-click="checked(0)" ng-checked="chosenLocal.id === 0">
                  <label for="type1">Local fixo</label>

                  <input id="type2" type="radio" name="type" ng-click="checked(1)" ng-checked="chosenLocal.id === 1">
                  <label for="type2">Local móvel</label>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Acesso</label>
                <div class="checkbox check-success">
                  <input id="check" name="check" type="checkbox" ng-model="private" checked>
                  <label for="check"><strong>Local privado</strong></label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : placesForm.address.$invalid && (placesForm.address.$dirty || placesForm.$submitted)}">
            <label>Endereço</label>
            <textarea cols="30" rows="3" name="address" class="form-control" googleplace ng-model="place" required></textarea>
            <label class="error" for="address" ng-show="((placesForm.address.$pristine && placesForm.$submitted && placesForm.address.$invalid) ||
            (!placesForm.address.$pristine && placesForm.address.$invalid)) && !placesForm.address.$error.maxlength">Campo obrigatório</label>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : selectBusiness}">
            <label>Segmento de negócio</label>
            <ui-select id="groups"  name="groups" ng-model="selectedGroups.selected"
                       theme="select2" search-enabled="true" style="width: 100%;" required>
              <ui-select-match placeholder="Selecionar segmento..." name="typeOfBusiness">{{selectedGroups.selected.name}}</ui-select-match>
              <ui-select-choices  repeat="business in typesOfBusiness | propsFilter: {name: $select.search}">
                <div ng-bind="business.name"></div>
              </ui-select-choices>
            </ui-select>
            <label class="error" for="group" ng-show="selectBusiness">Campo obrigatório</label>
          </div>
          <div class="form-group">
            <label>Volume de pessoas</label>
            <span class="help">Média diária</span>
            <div class="input-group col-sm-6 padding-left-0">
              <input type="number" name="viewers" id="viewers" min="0" max="100000000" ng-model="viewers" class="form-control" required>
              <div class="input-group-addon">pessoas</div>
            </div>
            <label class="error" for="viewers" ng-show="placesForm.viewers.$error.required && !placesForm.viewers.$pristine">Este campo é
              obrigatório</label>
            <label class="error" for="viewers" ng-show="placesForm.viewers.$invalid && !placesForm.viewers.$pristine"> Volume de pessoas inválido.</label>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="main-collapse-group framed">

            <!-- Valores -->
            <div class="main-collapse on static">
              <div class="main-collapse-heading">Valores</div>
              <div class="main-collapse-body">
                <div class="form-group">
                  <label>Custo mensal</label>
                  <span class="help">Impulsionamento 1</span>
                  <div class="input-group col-sm-6 padding-left-0">
                    <div class="input-group-addon">R$</div>
                    <input type="number" name="price" ng-model="price" min="10" class="form-control text-right" required>
                    <div class="input-group-addon">,00</div>
                  </div>
                  <label class="error" for="price" ng-show="placesForm.price.$error.required && !placesForm.price.$pristine">Este campo é
                    obrigatório</label>
                  <label class="error" for="price" ng-show="placesForm.price.$invalid && !placesForm.price.$pristine"> Valor maior ou igual a 10.</label>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Local</label>
                      <span class="help">Percentual de receita</span>
                      <div inv-local-input-range range-value="owner">
                        <input type="range" min="0" max="75" ng-model="owner"
                               step="1" ng-model-options="{debounce:{'default':700}}" ng-change="ownerCalc()">
                        <output></output>%
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Vendedor</label>
                      <span class="help">Percentual de receita</span>
                      <div inv-local-input-range range-value="seller">
                        <input type="range" min="0" max="75" step="1"
                               ng-model="seller" ng-model-options="{debounce:{'default':700}}" ng-change="sellerCalc()" >
                        <output></output>%
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Divisão de receita</label>
                  <div class="percentbar">
                    <div class="percentbar-chart">
                      <div class="background-base"></div>
                      <div class="background-info-light"></div>
                      <div class="background-info"></div>
                      <div class="background-warning"></div>
                    </div>

                    <div class="block-legend">
                      <div class="item base">Plataforma <strong><span class="percentbar-value"></span>%</strong></div>
                      <div class="item info-light">Infraestrutura <strong><span class="percentbar-value"></span>%</strong></div>
                      <div class="item info">Vendedor <strong><span class="percentbar-value"></span>%</strong></div>
                      <div class="item warning">Local <strong><span class="percentbar-value"></span>%</strong></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="block-action">
        <button type="submit" class="btn btn-lg btn-success" ng-click="save()" ladda="submitLoading">Salvar</button>
      </div>
    </form>
  </div>
</div>
