<div class="block-container lightest">
  <div class="block-container-holder">
    <div class="block-heading-master">
      <h2 class="title"><ng-pluralize count="totalItems" when="{'0': 'Locais', '1': '1 local', 'other': '{} locais'}"></ng-pluralize></h2>

      <div class="tools">
        <a ui-sref="app.locals.create({enterpriserSlug: enterpriser.slug})" ng-class="{'coach-focus': showEmptyState}" class="btn btn-success" data-scroll-top><i class="fa fa-plus-circle"></i> Novo local</a>
      </div>
    </div>
  </div>
</div>

<div class="block-container">
  <div class="block-container-holder">
    <div class="row" ng-if="!showEmptyState">
      <div class="col-sm-8">
        Ordenar por
        <div class="btn-group m-l-5">
          <ui-select id="ord" name="ord" ng-model="ordColumn.selected" theme="select2" class="uiSelect-inline">
            <ui-select-match placeholder="Selecionar anunciante..." name="ord">{{ordColumn.selected.name}}</ui-select-match>
            <ui-select-choices  repeat="drop in dropdown | propsFilter: {name: $select.search}">
              <div ng-bind="drop.name"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <button class="btn" ng-if="ord" title="Alternar ordem crescente/descrecente" ng-click="changeOrd(ord)"><span class="fa fa-long-arrow-up"></span></button>
        <button class="btn" ng-if="!ord" title="Alternar ordem crescente/descrecente" ng-click="changeOrd(ord)"><span class="fa fa-long-arrow-down"></span></button>
      </div>

      <div class="col-sm-4 sm-m-t-15">
        <div class="input-group transparent">
          <input type="text" class="form-control" ng-model="filterName" ng-keypress="search($event.keyCode,filterName)" placeholder="Pesquisar local">
          <span class="input-group-addon pointer" ng-click="search()"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>

    <div class="block-message block-message-empty" ng-show="showEmptyState">
      <h4>Ops! Nenhum local para mostrar...</h4>
      <p>Ainda não há local cadastrado</p>
      <a ui-sref="app.locals.create({enterpriserSlug: enterpriser.slug})" class="btn btn-success" data-scroll-top><i class="fa fa-plus-circle"></i> Novo local</a>
    </div>

    <div  ng-class="{'loader-partial': isLoadingAvailability}" ng-if="!showEmptyState" class="block-separate top">
      <div class="block-message block-message-search" ng-show="emptySearch">
        <h4>Ops! Nada encontrado...</h4>
        <p>Sua pesquisa ou filtro não encontrou nenhum resultado correspondente</p>
      </div>

      <div ng-show="showTable">
        <table class="table inv-table-responsive">
          <tbody>
            <tr ng-repeat="local in locals">
              <td>
                <a ui-sref="app.locals.update({enterpriserSlug: enterpriser.slug,id:local.id})" class="text-xlarge"><strong>{{local.name}}</strong></a><br>
                Local <strong>{{localType[local.localsType].name | lowercase}}</strong>, com volume de <strong>{{local.quantityOfViewers}}</strong> pessoas p/ dia<br>
                {{local.address | limitTo: 50}}{{local.address.length > 50 ? '...' : ''}}
              </td>
              <td class="text-center">
                <div class="text-large"><strong>{{local.private ? 'Privado':'Público'}}</strong></div>
                <div class="text-small muted">Acesso</div>
              </td>
              <td class="text-center">
                <div class="text-large">{{local.typeOfBusiness}}</div>
                <div class="text-small muted">Segmento de negócio</div>
              </td>
              <td class="text-center">
                <div class="text-large">{{local.quantityOfDevices}}</div>
                <div class="text-small muted">Dispositivos</div>
              </td>
              <td class="text-center">
                <div class="text-large">{{local.status === status.enabled ? 'Ativado':'Desativado'}}</div>
                <div class="text-small muted">Status</div>
              </td>
              <td class="action">
                <a ui-sref="app.locals.update({enterpriserSlug: enterpriser.slug,id:local.id})" class="btn btn-secondary">Editar</a>
                <div class="btn-group">
                  <button data-toggle="dropdown" class="btn btn-secondary dropdown-toggle"><span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-if="local.status === status.disabled"><a href="javascript:;" ng-click="updateStatus(local, status.enabled)">Ativar</a></li>
                    <li ng-if="local.status === status.enabled"><a href="javascript:;" ng-click="updateStatus(local, status.disabled)">Desativar</a></li>
                    <li><a href="javascript:;" ng-click="remove(local)">Remover</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <pagination total-items="totalItems" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination>
      </div>
    </div>
  </div>
</div>
