<div class="modal-header clearfix">
  <button class="close" ng-click="cancel()"><i class="pg-close fs-14"></i></button>
</div>

<div class="modal-body">
  <div class="block-message block-message-warning">
    <h4>Deseja mesmo {{status === statusChoice.enabled ? 'Ativar' : 'Desativar'}} <em>{{ localName }}</em>?</h4>
    <p ng-if="status === statusChoice.disabled">ATENÇÃO: esta ação impedirá que novas campanhas sejam publicadas em seu local!</p>
    <p ng-if="status === statusChoice.enabled">ATENÇÃO: esta ação permitirá que novas campanhas sejam publicadas em seu local!</p>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-link" ng-click="cancel()">Cancelar</button>
  <button class="btn btn-success" ng-click="ok()" ladda="submitLoading">Confirmar</button>
</div>
