<button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><i class="pg-close fs-14"></i></button>

<div class="block-container">
  <div class="block-heading-master">
    <h3 class="subtitle">Locais</h3>
  </div>
</div>

<div class="block-container collapsed">
  <div class="row" ng-show="!showEmptyState || privateLocals || publicLocals">
    <div class="col-sm-4">
      <div class="input-group transparent">
        <span class="input-group-addon" ng-click="search()"><i class="pg-search"></i></span>
        <input type="text" class="form-control" placeholder="Pesquisar local" ng-model="filterName" ng-keypress="search($event.keyCode, filterName)">
      </div>
    </div>

    <!--<div class="col-sm-4 sm-m-t-10">-->
      <!--<input type="text" class="form-control" placeholder="Segmento">-->
    <!--</div>-->

    <div class="col-sm-4">
      <div class="checkbox check-success" ng-if="enterpriser.isPublisher">
        <input id="myLocations" type="checkbox" ng-model="myLocal.checked" ng-click="change()" ng-checked="myLocal.checked">
        <label for="myLocations">Somente meus locais</label>
      </div>
    </div>
  </div>

  <div class="block-message block-message-empty" ng-show="showEmptyState && !privateLocals && !publicLocals">
    <h4>Ops! Nenhum local para mostrar...</h4>
    <p>Ainda não há local disponível para essa campanha</p>
    <a href="javascript:;" ng-click="cancel()" data-dismiss="modal" data-scroll-top class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Retornar</a>
  </div>


  <div ng-class="localLoading ? 'loader-partial':''" ng-show="!showEmptyState || privateLocals || publicLocals" class="block-separate top slim">
    <div class="block-message block-message-search" ng-if="emptySearch || Locals.length === 0">
      <h4>Ops! Nada encontrado...</h4>
      <p>Sua pesquisa ou filtro não encontrou nenhum resultado correspondente</p>
    </div>

    <table ng-if="Locals.length > 0" class="table inv-table-responsive">
      <tbody>
        <tr ng-repeat="local in Locals">
          <td>
            <div class="checkbox check-success">
              <input id="{{local.id}}" type="checkbox" ng-model="local.checked" ng-checked="local.checked">
              <label for="{{local.id}}"></label>
            </div>
          </td>
          <td>
            <a ui-sref="app.localsUpdate({enterpriserSlug: enterpriser.slug,id:local.id})" class="text-large"><strong>{{local.name}}</strong></a><br>
            <strong>{{local.typeOfBusiness}}</strong><br>
            {{local.address}}
          </td>
          <td class="text-center">
            <div><strong>{{local.private ? 'Privado':'Público'}}</strong></div>
            <div class="text-small muted">Acesso</div>
          </td>
          <td class="text-center">
            <div>{{local.quantDevices}}</div>
            <div class="text-small muted">Dispositivos</div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-sm-6">
        <a href="javascript:;" ng-click="selected()" ng-disabled="checkedLocals() === undefined" ng-if="!showEmptyState && !emptySearch" class="btn btn-success">Usar selecionado(s)</a>
        <a href="javascript:;" ng-click="cancel()" data-dismiss="modal" data-scroll-top class="btn btn-link">Cancelar</a>
      </div>

      <div class="col-sm-6">
        <pagination ng-if="showTable" total-items="totalItems" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination>
      </div>
    </div>
  </div>
</div>
