<!-- Duotab -->
<div inv-duotab>
  <div class="duotab-item on">
    <button class="trigger" data-scroll-top><span>Eu quero</span> Ganhar dinheiro</button>

    <div class="heading">
      <h1 class="logo-cloudmidia">Cloudmidia</h1>
      <ul>
        <li><a href="javascript:;" data-scroll-to="#howitworks">Como funciona</a></li>
        <li><a href="javascript:;" data-scroll-to="#contact">Contato</a></li>
        <li><a ui-sref="lite.login"><strong>Entrar</strong></a></li>
      </ul>
    </div>

    <div class="content">
      <div class="content-a">
        <div class="major">Ganhe dinheiro com sua TV</div>
        <div class="minor">Gere receita exibindo anúncios na TV de seu estabelecimento</div>
      </div>

      <div class="content-b">
        <div class="heading">
          <div class="major"><span class="rotate">Simples, Rápido, Garantido</span></div>
          <div class="minor">Comece agora mesmo</div>
        </div>

        <form id="register-form" name="registerFormPublish" action="">
          <div class="form-group" ng-class="{ 'has-error' : registerFormPublish.accountName.$invalid && (registerFormPublish.accountName.$dirty || registerFormPublish.$submitted)}">
            <input type="text" class="form-control" id="accountNamePub" name="accountName" ng-model="userPublish.accountName" required ng-maxlength="40" placeholder="Nome do seu negócio">
            <label class="error" for="accountNamePub" ng-show="((registerFormPublish.accountName.$pristine && registerFormPublish.$submitted && registerFormPublish.name.$invalid) ||
            (!registerFormPublish.accountName.$pristine && registerFormPublish.accountName.$invalid)) && !registerFormPublish.accountName.$error.maxlength">Campo obrigatório</label>
            <label class="error" for="accountNamePub" ng-show="registerFormPublish.accountName.$error.maxlength && !registerFormPublish.accountName.$pristine">Este campo não pode ter mais de 40 caracteres.</label>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" ng-class="{ 'has-error' : registerFormPublish.userName.$invalid && (registerFormPublish.userName.$dirty || registerFormPublish.$submitted)}">
                <input type="text" id="userNamePub" name="userName" class="form-control" ng-model="userPublish.firstName" required ng-maxlength="30" placeholder="Seu nome">
                <label class="error" for="usernamePub" ng-show="((registerFormPublish.userName.$pristine && registerFormPublish.$submitted && registerFormPublish.userName.$invalid) ||
                (!registerFormPublish.userName.$pristine && registerFormPublish.userName.$invalid))">Campo obrigatório</label>
                <label class="error" for="usernamePub" ng-show="registerFormPublish.userName.$error.maxlength && !registerFormPublish.userName.$pristine">Este campo não pode ter mais de 30 caracteres.</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" ng-class="{ 'has-error' : registerFormPublish.lname.$invalid && (registerFormPublish.lname.$dirty || registerFormPublish.$submitted)}">
                <input type="text" id="lnamePub" name="lname" class="form-control" ng-model="userPublish.lastName" required ng-maxlength="30" placeholder="Seu sobrenome">
                <label class="error" for="lnamePub" ng-show="((registerFormPublish.lname.$pristine && registerFormPublish.$submitted && registerFormPublish.lname.$invalid) ||
                (!registerFormPublish.lname.$pristine && registerFormPublish.lname.$invalid))">Campo obrigatório</label>
                <label class="error" for="lnamePub" ng-show="registerFormPublish.lname.$error.maxlength && !registerFormPublish.lname.$pristine">Este campo não pode ter mais de 30 caracteres</label>
              </div>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : registerFormPublish.email.$invalid && (registerFormPublish.email.$dirty || registerFormPublish.$submitted)}">
            <input type="email" class="form-control" name="email" ng-model="userPublish.email" required placeholder="Seu e-mail">
            <label class="error" ng-show="((registerFormPublish.email.$pristine && registerFormPublish.$submitted && registerFormPublish.email.$invalid) ||
                  (!registerFormPublish.email.$pristine && registerFormPublish.email.$invalid))">Email inválido</label>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : registerFormPublish.password.$invalid && (registerFormPublish.password.$dirty || registerFormPublish.$submitted)}">
            <input type="password" id="passwordPub" class="form-control" name="password" ng-model="userPublish.password" required placeholder="Sua senha">
            <label class="error"  ng-show="((registerFormPublish.password.$pristine && registerFormPublish.$submitted && registerFormPublish.password.$invalid) ||
                  (!registerFormPublish.password.$pristine && registerFormPublish.password.$invalid)) && !registerFormPublish.password.$error.minlength">Campo obrigatório</label>
            <label class="error" for="passwordPub" ng-show="registerFormPublish.password.$error.minlength">Senha deve conter no mínimo 4 carateres</label>
          </div>
          <button type="submit" ng-click="registerPublish()" ladda="submitLoading">Criar conta</button>
          <div class="note">Ao continuar, você estará de acordo com o termo de <a ui-sref="app.privacy"><strong>Uso e Privacidade</strong></a> do Cloudmidia.</div>
        </form>
      </div>
    </div>
  </div>

  <div class="duotab-item">
    <button class="trigger" data-scroll-top><span>Eu quero</span> Publicar anúncios</button>

    <div class="heading">
      <h1 class="logo-cloudmidia">Cloudmidia</h1>
      <ul>
        <li><a href="javascript:;" data-scroll-to="#howitworks">Como funciona</a></li>
        <li><a href="javascript:;" data-scroll-to="#contact">Contato</a></li>
        <li><a ui-sref="lite.login"><strong>Entrar</strong></a></li>
      </ul>
    </div>

    <div class="content">
      <div class="content-a">
        <div class="major">Anuncie para o público certo</div>
        <div class="minor">Alcance clientes valiosos segmentando seus anúncios em locais estratégicos</div>
      </div>

      <div class="content-b">
        <div class="heading">
          <div class="major"><span class="rotate">Mensurável, Confiável, Flexível</span></div>
          <div class="minor">Comece agora mesmo</div>
        </div>

        <form id="register-form-advertiser" name="registerFormAdvertiser" action="">
          <div class="form-group" ng-class="{ 'has-error' : registerFormAdvertiser.accountName.$invalid && (registerFormAdvertiser.accountName.$dirty || registerFormAdvertiser.$submitted)}">
            <input type="text" class="form-control" id="accountNameAdv" name="accountName" ng-model="userAdvertiser.accountName" required ng-maxlength="40" placeholder="Nome do seu negócio">
            <label class="error" for="accountNameAdv" ng-show="((registerFormAdvertiser.accountName.$pristine && registerFormAdvertiser.$submitted && registerFormAdvertiser.name.$invalid) ||
            (!registerFormAdvertiser.accountName.$pristine && registerFormAdvertiser.accountName.$invalid)) && !registerFormAdvertiser.accountName.$error.maxlength">Campo obrigatório</label>
            <label class="error" for="accountNameAdv" ng-show="registerFormAdvertiser.accountName.$error.maxlength && !registerFormAdvertiser.accountName.$pristine">Este campo não pode ter mais de 40 caracteres.</label>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" ng-class="{ 'has-error' : registerFormAdvertiser.userName.$invalid && (registerFormAdvertiser.userName.$dirty || registerFormAdvertiser.$submitted)}">
                <input type="text" id="userNameAdv" name="userName" class="form-control" ng-model="userAdvertiser.firstName" required ng-maxlength="30" placeholder="Seu nome">
                <label class="error" for="userNameAdv" ng-show="((registerFormAdvertiser.userName.$pristine && registerFormAdvertiser.$submitted && registerFormAdvertiser.userName.$invalid) ||
                (!registerFormAdvertiser.userName.$pristine && registerFormAdvertiser.userName.$invalid))">Campo obrigatório</label>
                <label class="error" for="userNameAdv" ng-show="registerFormAdvertiser.userName.$error.maxlength && !registerFormAdvertiser.userName.$pristine">Este campo não pode ter mais de 30 caracteres.</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" ng-class="{ 'has-error' : registerFormAdvertiser.lname.$invalid && (registerFormAdvertiser.lname.$dirty || registerFormAdvertiser.$submitted)}">
                <input type="text" id="lnameAdv" name="lname" class="form-control" ng-model="userAdvertiser.lastName" required ng-maxlength="30" placeholder="Seu sobrenome">
                <label class="error" for="lnameAdv" ng-show="((registerFormAdvertiser.lname.$pristine && registerFormAdvertiser.$submitted && registerFormAdvertiser.lname.$invalid) ||
                (!registerFormAdvertiser.lname.$pristine && registerFormAdvertiser.lname.$invalid))">Campo obrigatório</label>
                <label class="error" for="lnameAdv" ng-show="registerFormAdvertiser.lname.$error.maxlength && !registerFormAdvertiser.lname.$pristine">Este campo não pode ter mais de 30 caracteres</label>
              </div>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : registerFormAdvertiser.email.$invalid && (registerFormAdvertiser.email.$dirty || registerFormAdvertiser.$submitted)}">
            <input type="email" class="form-control" name="email" ng-model="userAdvertiser.email" required placeholder="Seu e-mail">
            <label class="error" ng-show="((registerFormAdvertiser.email.$pristine && registerFormAdvertiser.$submitted && registerFormAdvertiser.email.$invalid) ||
                  (!registerFormAdvertiser.email.$pristine && registerFormAdvertiser.email.$invalid))">Email inválido</label>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : registerFormAdvertiser.password.$invalid && (registerFormAdvertiser.password.$dirty || registerFormAdvertiser.$submitted)}">
            <input type="password" id="passwordAdv" class="form-control" name="password" ng-model="userAdvertiser.password" required placeholder="Sua senha">
            <label class="error"  ng-show="((registerFormAdvertiser.password.$pristine && registerFormAdvertiser.$submitted && registerFormAdvertiser.password.$invalid) ||
                  (!registerFormAdvertiser.password.$pristine && registerFormAdvertiser.password.$invalid)) && !registerFormAdvertiser.password.$error.minlength">Campo obrigatório</label>
            <label class="error" for="passwordAdv" ng-show="registerFormAdvertiser.password.$error.minlength">Senha deve conter no mínimo 4 carateres</label>
          </div>
          <button type="submit" ng-click="registerAdvertiser()" ladda="submitLoading">Criar conta</button>
          <div class="note">Ao continuar, você estará de acordo com o termo de <a ui-sref="app.privacy"><strong>Uso e Privacidade</strong></a> do Cloudmidia.</div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Flow Publisher -->
<div id="flowPublisher" class="block-container warning">
  <div class="block-container-holder">
    <div class="row">
      <div class="col-sm-4">
        <div class="block-docket">
          <div class="stamp"><i class="icon-cloud"></i></div>
          <h4 class="heading">Gestão de conteúdo rápida, fácil e acessível</h4>
          <div class="body">Crie e gerencie facilmente campanhas de seus anunciantes via internet a partir do computador, tablet ou celular.</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="block-docket">
          <div class="stamp"><i class="icon-lightning"></i></div>
          <h4 class="heading">Player de baixo custo e alto desempenho</h4>
          <div class="body">Reproduza com excelência textos, imagens e vídeos Full HD com um custo 63% menor do que o custo médio de mercado.</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="block-docket">
          <div class="stamp"><i class="icon-money"></i></div>
          <h4 class="heading">Nosso negócio é aumentar o seu lucro</h4>
          <div class="body">Reduza os altos custos de logística do mercado dimensionando facilmente investimento, abrangência e duração das campanhas.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Flow Advertiser -->
<div id="flowAdvertiser" class="block-container base">
  <div class="block-container-holder">
    <div class="row">
      <div class="col-sm-4">
        <div class="block-docket">
          <div class="stamp"><i class="icon-chemistry"></i></div>
          <h4 class="heading">Crie sua campanha</h4>
          <div class="body">Utilize textos, imagens e vídeos para compor sua campanha, tudo de forma simples e rápida.</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="block-docket">
          <div class="stamp"><i class="icon-sight"></i></div>
          <h4 class="heading">Escolha os lugares onde seu negócio será divulgado</h4>
          <div class="body">Adeque sua companha aos ambientes que seu público frequenta e acerte o coração das pessoas.</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="block-docket">
          <div class="stamp"><i class="icon-megaphone"></i></div>
          <h4 class="heading">Publique sua campanha</h4>
          <div class="body">Pronto, agora é só efetuar o pagamento e o seu negócio estará no ar!</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- How it works -->
<div id="howitworks" class="block-container base-striped">
  <div class="block-container">
    <div class="block-heading-master">
      <h2 class="title">Como funciona</h2>
    </div>
  </div>

  <div class="block-container-holder">
    <div class="row">
      <div class="col-sm-6">
        <div class="block-tutor">
          <div class="index">1</div>
          <div class="image"><i class="icon-macbook"></i></div>
          <div class="body">
            <h4>Gerenciamento</h4>
            <p>As campanhas são criadas e gerenciadas a partir de qualquer lugar, via internet, através do computador, tablet ou celular.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="block-tutor">
          <div class="index">2</div>
          <div class="image"><i class="icon-world"></i></div>
          <div class="body">
            <h4>Internet</h4>
            <p>A solução precisa apenas de 2 pontos de energia e uma internet cabeada ou conectada à uma rede WiFi.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="block-tutor">
          <div class="index">3</div>
          <div class="image"><i class="icon-movie-file"></i></div>
          <div class="body">
            <h4>Player</h4>
            <p>Através da internet, o player se conecta com o Cloudmidia e baixa todo o conteúdo para reprodução.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="block-tutor">
          <div class="index">4</div>
          <div class="image"><i class="icon-visible"></i></div>
          <div class="body">
            <h4>Exibição</h4>
            <p>O conteúdo destinado a cada dispositivo passa a ser reproduzido conforme agendamento das campanhas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact -->
<div id="contact" class="block-container">
  <div class="block-container">
    <div class="block-heading-master">
      <h2 class="title">Fale com a gente</h2>
    </div>
  </div>

  <div class="block-container-holder">
    <div class="row">
      <div class="col-sm-6">
        <div class="block-message block-message-contact">
          <p>Use o formulário de contato para falar conosco.</p>
          <p>Se preferir, escreva diretamente para <a href="mailto:app@cloudmidia.com">app@cloudmidia.com</a></p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="main-collapse-group framed">
          <div class="main-collapse on static">
            <div class="main-collapse-heading">Formulário de contato</div>
            <div class="main-collapse-body">
              <form name="formContact">
                <div class="form-group">
                  <label>Nome</label>
                  <input type="text" name="name" ng-model="contact.name" class="form-control" required>
                   <label class="error" ng-show="formContact.name.$invalid && !formContact.name.$pristine">Campo obrigatório</label>
                </div>

                <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="email" ng-model="contact.email" class="form-control" required>
                  <label class="error" ng-show="formContact.email.$invalid && !formContact.email.$pristine">Email inválido</label>
                </div>

                <div class="form-group">
                  <label>Telefone</label>
                  <input type="text" name="phone" ng-model="contact.phone" ui-mask="(99) 99999-999?9" options="{clearOnBlur:false}" class="form-control" required>
                  <label class="error" ng-show="formContact.phone.$invalid && !formContact.phone.$pristine">Telefone inválido</label>
                </div>

                <div class="form-group">
                  <label>Mensagem</label>
                  <textarea name="messsage" cols="30" ng-model="contact.message" rows="5" class="form-control" required></textarea>
                  <label class="error" ng-show="formContact.message.$invalid && !formContact.message.$pristine">Campo obrigatório</label>
                </div>

                <button type="submit" class="btn btn-lg btn-block btn-success" ladda="submitLoading" ng-click="sendMessage()">Enviar mensagem</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
