<div class="block-container lightest">
  <div class="block-container-holder">
    <div class="block-heading-master">
      <h2 class="title">Novo dispositivo</h2>

      <div class="tools">
        <a ui-sref="app.devices({enterpriserSlug: enterpriser.slug})" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Retornar</a>
      </div>
    </div>
  </div>
</div>

<div class="block-container">
  <div class="block-container-holder">
    <form name="deviceForm" id="form-device" role="form" ng-submit="deviceForm.$invalid" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" ng-class="{ 'has-error' : deviceForm.name.$invalid && (deviceForm.name.$dirty || deviceForm.$submitted) }">
            <label>Nome do dispositivo</label>
            <input name="name" type="text" ng-model="deviceName" required class="form-control" ng-maxlength="30">
            <label class="error" for="name" ng-show="((deviceForm.name.$pristine && deviceForm.$submitted && deviceForm.name.$invalid) ||
            (!deviceForm.name.$pristine && deviceForm.name.$invalid)) && !deviceForm.name.$error.maxlength">Este campo é
              obrigatório</label>
            <label class="error" for="name" ng-show="deviceForm.name.$error.maxlength">Este campo não
              pode ter
              mais de 30 caracteres.</label>
          </div>

          <div class="form-group required"
               ng-class="{'has-error': deviceForm.tvs.$invalid && (deviceForm.tvs.$dirty || deviceForm.$submitted)}">
            <label>Displays</label>
            <span class="help">Pontos de exibição (TVs, monitores, etc.)</span>
            <div class="input-group col-sm-6 padding-left-0">
              <input id="tvs" name="tvs"  min="1" ng-model="numOfTvs" type="number" required class="form-control">
              <div class="input-group-addon">displays</div>
            </div>
            <label class="error" for="tvs" ng-show="(deviceForm.tvs.$pristine && deviceForm.$submitted && deviceForm.tvs.$invalid) || (!deviceForm.tvs.$pristine && deviceForm.tvs.$invalid)">Este campo é
              obrigatório</label>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="main-collapse-group framed">
            <div class="main-collapse main-collapse-step on static" ng-class="listLocals.length > 0 ? 'ok':''">
              <div class="main-collapse-heading">Locais</div>
              <div class="main-collapse-body">
                <div class="block-message block-message-location" ng-if="!(listLocals.length > 0)">
                  <p>Nenhum local vinculado</p>
                </div>

                <table class="table inv-table-responsive" ng-if="listLocals.length >0">
                  <tbody>
                    <tr ng-repeat="loc in listLocals">
                      <td>
                        <button type="button" ng-click="removeLocal(loc)" class="btn btn-short" title="Remover"><i class="fa fa-trash-o"></i></button>
                      </td>
                      <td>
                        <div class="text-large"><strong>{{loc.name}}</strong></div>
                        <div class="muted">{{loc.address}}</div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="form-group" ng-class="{'has-error': selectLocals}">
                  <div class="row">
                    <div class="col-sm-10">
                      <ui-select id="local"  name="local" ui-select-required ng-model="selectedLocals.selected" theme="select2" style="width: 100%;">
                        <ui-select-match  placeholder = "Selecionar local..." name="local-select" required>{{selectedLocals.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="local in locals | propsFilter: {name: $select.search}">
                          <div ng-bind="local.name"></div>
                        </ui-select-choices>
                      </ui-select>
                      <label class="error" for="local" ng-show="selectLocals">Campo obrigatório</label>
                    </div>

                    <div class="col-sm-2">
                      <button type="button" ng-click="addLocal()" class="btn btn-block btn-secondary sm-m-t-5" title="Vincular local"><i class="fa fa-level-up"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="block-action">
        <button type="submit" ladda="submitLoading" class="btn btn-lg btn-success" ng-click="save()">Salvar</button>
      </div>
    </form>
  </div>
</div>
