<div class="block-container lightest">
  <div class="block-container-holder">
    <div class="block-heading-master">
      <h2 class="title"><ng-pluralize count="totalItems" when="{'0': 'Dispositivos', '1': '1 dispositivo', 'other': '{} dispositivos'}"></ng-pluralize></h2>

      <div class="tools">
        <a href="https://cmstoragep.blob.core.windows.net/player/Cloudmidia-player-win32.rar" target="_blank" class="btn btn-secondary"><i class="fa fa-download"></i> Cloudmidia Player</a>
        <a ui-sref="app.devices.create({enterpriserSlug:enterpriser.slug,type: 1})" ng-class="{'coach-focus': showEmptyState}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Novo dispositivo</a>
      </div>
    </div>
  </div>
</div>

<div class="block-container">
  <div class="block-container-holder">
    <div class="row" ng-show="!showEmptyState">
      <div class="col-sm-8">
        Ordenar por
        <div class="btn-group m-l-5">
          <ui-select id="ord" name="ord" ng-model="ordColumn.selected" theme="select2" class="uiSelect-inline">
            <ui-select-match name="ord">{{ordColumn.selected.name}}</ui-select-match>
            <ui-select-choices  repeat="drop in dropdown | propsFilter: {name: $select.search}">
              <div ng-bind="drop.name"></div>
            </ui-select-choices>
          </ui-select>
        </div>

        <button class="btn" ng-if="ord" title="Alternar ordem crescente/descrecente" ng-click="changeOrd(ord)"><span class="fa fa-long-arrow-up"></span></button>
        <button class="btn" ng-if="!ord" title="Alternar ordem crescente/descrecente" ng-click="changeOrd(ord)"><span class="fa fa-long-arrow-down"></span></button>
      </div>

      <div class="col-sm-4 sm-m-t-15">
        <div class="input-group transparent">
          <input type="text" class="form-control" ng-model="filterName" ng-keypress="search($event.keyCode)" placeholder="Pesquisar dispositivo">
          <span class="input-group-addon pointer" ng-click="search()"><i class="pg-search"></i></span>
        </div>
      </div>
    </div>

    <div class="block-message block-message-empty" ng-show="showEmptyState">
      <h4>Ops! Nenhum disposito para mostrar...</h4>
      <p>Ainda não há dispositivo cadastrado</p>
      <a ui-sref="app.devices.create({enterpriserSlug: enterpriser.slug,type: 1})" class="btn btn-success"><i class="fa fa-plus-circle"></i> Novo dispositivo</a>
    </div>

    <div ng-show="!showEmptyState" ng-class="{'loader-partial': isLoadingAvailabitily}" class="block-separate top">
      <div class="block-message block-message-search" ng-show="emptySearch">
        <h4>Ops! Nada encontrado...</h4>
        <p>Sua pesquisa ou filtro não encontrou nenhum resultado correspondente</p>
      </div>
      <div ng-show="showTable">
        <table class="table inv-table-responsive">
          <tbody>
            <tr ng-repeat="device in devices">
              <td class="text-center">
                <a ui-sref="app.devices.update({enterpriserSlug:enterpriser.slug, id: device.deviceId})" class="block-sample kind" ng-class="online(device.deviceSynchronization) ? 'online': 'offline'" title="{{online(device.deviceSynchronization) ? 'Online': 'Offline'}}"><i class="fa fa-plug"></i></a>
              </td>
              <td>
                <a ui-sref="app.devices.update({enterpriserSlug:enterpriser.slug, id: device.deviceId})" class="text-xlarge"><strong>{{device.deviceName}}</strong></a><br>
                <!--Versão <strong>1.4.1</strong><br>-->
                <!--Última sincronização em <strong>{{device.deviceScheduleLastUpdate | date: 'dd/MM/yyyy HH:mm:ss'}}</strong>-->
              </td>
              <td class="text-center">
                <div class="text-large">{{device.deviceNumOfTvs}}</div>
                <div class="text-small muted">Displays</div>
              </td>
              <td class="text-center">
                <div class="text-large">{{device.quantityLocals}}</div>
                <div class="text-small muted">Locais</div>
              </td>
              <td class="text-center">
                <div class="text-large"><strong>{{device.deviceStatus ? 'Ativado' : 'Desativado'}}</strong></div>
                <div class="text-small muted">Status</div>
              </td>
              <td class="action">
                <a ui-sref="app.devices.update({enterpriserSlug:enterpriser.slug, id: device.deviceId})" class="btn btn-secondary">Editar</a>
                <div class="btn-group">
                  <button data-toggle="dropdown" class="btn btn-secondary dropdown-toggle"><span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="javascript:;" ng-click="showActivationKey(device)">Ativar</a></li>
                    <li><a href="javascript:;" ng-click="remove(device)">Remover</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pagination total-items="totalItems" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination>
    </div>
  </div>
</div>
