<div class="modal-header">
  <h3 class="modal-title">{{device.name}}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <h4>Chave de Ativação</h4>
    </div>
    <div class="col-sm-12">
      <div class="well well-lg text-center">
        <h1 class="text-uppercase lead" style="letter-spacing: 1em;"><b>{{device.deviceActivationKey}}</b></h1>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-cons" ng-click="confirm()">Fechar</button>
</div>
