<div class="block-container">
  <div class="block-heading-master centered">
    <h2 class="title">Entrar usando sua conta</h2>
  </div>
</div>

<div class="block-container boxed">
  <form id="form-personal" name="personal" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : personal.email.$invalid && (personal.email.$dirty || personal.$submitted)}">
      <label>Email</label>
      <input type="email" name="email" tabindex = 1 class="form-control input-lg" ng-model="loginForm.userName" required>
      <label class="error" ng-show="((personal.email.$pristine && personal.$submitted && personal.email.$invalid) ||
                  (!personal.email.$pristine && personal.email.$invalid))">Email inválido</label>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : personal.password.$invalid && (personal.password.$dirty || personal.$submitted)}">
      <label class="with-link">Senha <a ui-sref="lite.passwordForgot">Esqueceu a senha?</a></label>
      <input type="password" tabindex = 2 name="password" class="form-control input-lg" ng-model="loginForm.password" required ng-minlength="4">
      <label class="error"  ng-show="((personal.password.$pristine && personal.$submitted && personal.password.$invalid) ||
                  (!personal.password.$pristine && personal.password.$invalid)) && !personal.password.$error.minlength">Campo obrigatório</label>
      <label class="error" ng-show="personal.password.$error.minlength">Senha deve conter no mínimo 4 carateres</label>
    </div>

    <button type="submit" tabindex="3" ng-click="enter()" ladda="submitLoading" class="btn btn-lg btn-block btn-success">Entrar</button>
  </form>
</div>

<div class="block-container">
  Novo usuário? <a ui-sref="app.home">Criar conta grátis</a>
</div>
