<div class="block-container">
  <div class="block-heading-master centered">
    <h2 class="title">Redefinir senha</h2>
  </div>
</div>

<div class="block-container boxed">
  <div class="block-message block-message-success block-message-color" ng-if="emailSend">
    <h4>Tudo certo!</h4>
    <p>Sua senha foi redefinida com sucesso</p>
    <a ui-sref="lite.login" class="btn btn-success">Fazer login</a>
  </div>

  <form name="passwordForm" ng-show="!emailSend">
    <div class="form-group">
      <label>Nova senha</label>
      <input type="password" name="password" ng-model="user.newPassword" class="form-control input-lg" required>
      <label class="error" ng-show="passwordForm.password.$invalid && !passwordForm.password.$pristine">Campo obrigatório</label>
    </div>

    <div class="form-group">
      <label>Confirme a nova senha</label>
      <input type="password" name="passwordTest" ng-model="user.confirmNewPassword" password-check="user.newPassword" class="form-control input-lg" required>
      <label class="error" ng-show="passwordForm.passwordTest.$error.passwordCheck">Senhas não são iguais!</label>
    </div>
    <button type="submit" class="btn btn-lg btn-block btn-success" ladda="submitLoading"  ng-click="reset()">Salvar</button>
  </form>
</div>
