<div class="block-container">
  <div class="block-heading-master centered">
    <h2 class="title">Redefinir senha</h2>

    <div class="tools">
      <a href="javascript:;" ng-click="$back()" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Retornar</a>
    </div>
  </div>
</div>

<div class="block-container boxed">
  <div class="block-message block-message-success block-message-color" ng-if="emailSend">
    <h4>Link enviado! Estamos quase lá...</h4>
    <p>Acesse o link que acabamos de lhe enviar por email para finalizar o processo de redefinição de senha</p>
  </div>

  <form id="form-forgot" name="passwordForm" novalidate ng-show="!emailSend">
    <p>Informe o seu email e nós lhe enviaremos um link para que você possa cadastrar uma nova senha:</p>

    <div class="form-group" ng-class="{ 'has-error' : passwordForm.email.$invalid && (passwordForm.email.$dirty || passwordForm.$submitted)}">
      <input type="email" name="email" ng-model="forgotPassword.email" class="form-control input-lg" required placeholder="Digite o seu email">
      <label class="error" ng-show="((passwordForm.email.$pristine && passwordForm.$submitted && passwordForm.email.$invalid) ||
                  (!passwordForm.email.$pristine && passwordForm.email.$invalid))">Email inválido</label>
    </div>

    <button type="submit" class="btn btn-lg btn-block btn-success" ng-click="ok()" ladda="submitLoading">Continuar</button>
  </form>
</div>
