<div class="block-container">
  <div class="block-heading-master centered">
    <h2 class="title">Criar sua conta</h2>
  </div>
</div>

<div class="block-container boxed">
  <!--<form id="user-registred-form" name="acceptForm" ng-if="invitedUser.userRegistred">-->
    <!--<div class="form-group">-->
      <!--<label>Email</label>-->
      <!--<input type="email" class="form-control" name="email" ng-model="invitedUser.email" readonly>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<div class="checkbox check-success">-->
        <!--<input type="checkbox" id="terms" checked>-->
        <!--<label for="terms">Concordo com os <a href="javascript:;">Termos de uso</a> e <a href="javascript:;">Privacidade</a></label>-->
      <!--</div>-->
    <!--</div>-->
    <!--<button type="submit" ng-click="acceptInviteUser()" ladda="submitLoading" class="btn btn-lg btn-block btn-success">Criar conta</button>-->
  <!--</form>-->

  <form id="register-form" name ="registerForm" ng-show="!invitedUser.userRegistred">
    <div class="form-group" ng-if="!token" ng-class="{ 'has-error' : registerForm.accountName.$invalid && (registerForm.accountName.$dirty || registerForm.$submitted)}">
      <label>Empresa</label>
      <input type="text" class="form-control" id="accountName" name="accountName" ng-model="user.accountName" required ng-maxlength="40" placeholder="Nome de sua empresa">
      <label class="error" for="accountName" ng-show="((registerForm.accountName.$pristine && campaignForm.$submitted && registerForm.name.$invalid) ||
            (!registerForm.accountName.$pristine && registerForm.accountName.$invalid)) && !registerForm.accountName.$error.maxlength">Campo obrigatório</label>
      <label class="error" for="accountName" ng-show="registerForm.accountName.$error.maxlength && !registerForm.accountName.$pristine">Este campo não pode ter mais de 40 caracteres.</label>
    </div>

    <div class="form-group" ng-if="!token">
      <label>Link permanente</label>
      <div class="input-group" ng-class="{ 'has-error' : registerForm.slug.$invalid && (registerForm.slug.$dirty || registerForm.$submitted)}">
        <div class="input-group-addon">{{baseUrl}}</div>
        <input type="text" class="form-control" ng-model="slug" name="slug" ui-event="{blur:'onBlur(slug)'}" required placeholder="nome-da-empresa">
      </div>
      <label class="error" for="slug" ng-show="((registerForm.slug.$pristine && campaignForm.$submitted && registerForm.slug.$invalid) ||
            (!registerForm.slug.$pristine && registerForm.slug.$invalid))">Campo obrigatório</label>
      <label class="error" for="slug" ng-show="alreadyExist">Esse link já existe. Tente outro link</label>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group" ng-class="{ 'has-error' : registerForm.username.$invalid && (registerForm.username.$dirty || registerForm.$submitted)}">
          <label>Primeiro nome</label>
          <input type="text" name="username" class="form-control" ng-model="user.firstName" required ng-maxlength="30" placeholder="Seu primeiro nome">
          <label class="error" for="username" ng-show="((registerForm.username.$pristine && campaignForm.$submitted && registerForm.username.$invalid) ||
            (!registerForm.username.$pristine && registerForm.username.$invalid))">Campo obrigatório</label>
          <label class="error" for="username" ng-show="registerForm.username.$error.maxlength && !registerForm.username.$pristine">Este campo não pode ter mais de 30 caracteres.</label>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group" ng-class="{ 'has-error' : registerForm.lname.$invalid && (registerForm.lname.$dirty || registerForm.$submitted)}">
          <label>Último nome</label>
          <input type="text" name="lname" class="form-control" ng-model="user.lastName" required ng-maxlength="30" placeholder="Seu último nome">
          <label class="error" for="lname" ng-show="((registerForm.lname.$pristine && campaignForm.$submitted && registerForm.lname.$invalid) ||
            (!registerForm.lname.$pristine && registerForm.lname.$invalid))">Campo obrigatório</label>
          <label class="error" for="lname" ng-show="registerForm.lname.$error.maxlength && !registerForm.lname.$pristine">Este campo não pode ter mais de 30 caracteres</label>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="!token" ng-class="{ 'has-error' : registerForm.email.$invalid && (registerForm.email.$dirty || registerForm.$submitted)}">
      <label>Email</label>
      <input type="email" class="form-control" name="email" ng-model="user.email" required>
      <label class="error" ng-show="((registerForm.email.$pristine && registerForm.$submitted && registerForm.email.$invalid) ||
                  (!registerForm.email.$pristine && registerForm.email.$invalid))">Email inválido</label>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : registerForm.password.$invalid && (registerForm.password.$dirty || registerForm.$submitted)}">
      <label>Senha</label>
      <input type="password" class="form-control" name="password" ng-model="user.password" required placeholder="Mínimo de 4 caracteres">
      <label class="error"  ng-show="((registerForm.password.$pristine && registerForm.$submitted && registerForm.password.$invalid) ||
                  (!registerForm.password.$pristine && registerForm.password.$invalid)) && !registerForm.password.$error.minlength">Campo obrigatório</label>
      <label class="error" for="password" ng-show="registerForm.password.$error.minlength">Senha deve conter no mínimo 4 carateres</label>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : registerForm.passwordTest.$invalid && (registerForm.passwordTest.$dirty || registerForm.$submitted)}">
      <label>Confirme a senha</label>
      <input type="password" class="form-control" name="passwordTest" ng-model="user.confirmPassword" password-check="user.password" required>
      <label class="error"  ng-show="((registerForm.passwordTest.$pristine && registerForm.$submitted && registerForm.passwordTest.$invalid) ||
                  (!registerForm.passwordTest.$pristine && registerForm.passwordTest.$invalid)) && !registerForm.passwordTest.$error.minlength">Campo obrigatório</label>
      <label class="error" for="passwordTest" ng-show="registerForm.passwordTest.$error.passwordCheck">Senha não confere</label>
    </div>

    <div class="form-group">
      <div class="checkbox check-success">
        <input type="checkbox" id="terms" checked>
        <label for="terms">Concordo com os <a href="javascript:;">Termos de uso</a> e <a href="javascript:;">Privacidade</a></label>
      </div>
    </div>

    <button type="submit" ng-click="register()" ng-if="!token" ladda="submitLoading" class="btn btn-lg btn-block btn-success">Criar conta</button>
    <button type="submit" ng-click="registerByInvitation(user)" ng-if="token" ladda="submitLoading" class="btn btn-lg btn-block btn-success">Criar conta</button>
  </form>
</div>
