<div class="row">
  <div class="col-md-6">
    <form name="campaignForm" id="formBasic" ng-submit="campaignForm.$invalid" role="form" novalidate>
      <div class="form-group required" ng-class="{ 'has-error' : campaignForm.name.$invalid && (campaignForm.name.$dirty || campaignForm.$submitted)}">
        <label>Nome da campanha</label>
        <input id="name" type="text" class="form-control" name="name" ng-model="campaign.name" required ng-maxlength="30">
        <label class="error" for="name" ng-show="((campaignForm.name.$pristine && campaignForm.$submitted && campaignForm.name.$invalid) ||
        (!campaignForm.name.$pristine && campaignForm.name.$invalid)) && !campaignForm.name.$error.maxlength">Campo obrigatório</label>
        <label class="error" for="name" ng-show="campaignForm.name.$error.maxlength">Este campo não pode ter mais de 30 caracteres.</label>
      </div>

      <div class="form-group" ng-class="{'has-error' : selectAdvertiser}">
        <label>Anunciante</label>
        <ui-select id="adv"  name="adv" ng-model="selectedAdvertiser.selected" theme="select2" style="width: 100%;">
          <ui-select-match placeholder="Selecionar anunciante..." name="Advertiser">{{selectedAdvertiser.selected.advertiserName}}</ui-select-match>
          <ui-select-choices  repeat="advertiser in Advertisers | propsFilter: {advertiserName: $select.search}">
            <div ng-bind="advertiser.advertiserName"></div>
          </ui-select-choices>
        </ui-select>
        <label class="error" for="adv" ng-show="selectAdvertiser">Campo obrigatório</label>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label>Início</label>
            <div class="input-group">
              <input id="startDate" ng-disabled="campaign.status" type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="campaign.startDate" is-open="status.startOpened"
                     min-date="dtConfigStart.minDate" max-date="dtConfigStart.maxDate" ng-required="true" show-button-bar="false" close-on-date-selection="dtConfigStart.selectBegin()" ng-click="openStartDatepicker($event)" onkeydown="return false">
              <span class="input-group-btn">
                <button type="button" ng-disabled="campaign.status" class="btn btn-default" ng-click="openStartDatepicker($event)"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label>Término</label>
            <div class="input-group">
              <input id="endDate" ng-disabled="campaign.status" type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="campaign.endDate" is-open="status.endOpened"
                     min-date="dtConfigEnd.minDate" max-date="dtConfigEnd.maxDate" ng-required="true" show-button-bar="false" close-on-date-selection="dtConfigEnd.selectEnd()" ng-click="openEndDatepicker($event)" onkeydown="return false">
              <span class="input-group-btn">
                <button type="button" ng-disabled="campaign.status" class="btn btn-default" ng-click="openEndDatepicker($event)"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="form-group">
            <div class="btn-group m-t-25 sm-m-t-5">
              <button type="button" ng-disabled="campaign.status" class="btn btn-sm btn-default" ng-repeat="fxd in fixedDate" ng-click="select(fxd)" ng-class="fxd.checked === true ? 'active':''">{{fxd.value}} dias</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!--<div class="col-md-5 col-md-offset-1">-->
    <!--<div class="card-float">-->
      <!--<div class="form-group">-->
        <!--<label>Impacto</label>-->
        <!--<div class="block-impact">-->
          <!--<div class="row">-->
            <!--<div class="col-sm-4">-->
              <!--<div class="primary">-->
                <!--<div class="chart"></div>-->
                <!--<div class="value"><span></span>%</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="col-sm-8">-->
              <!--<div class="secondary">-->
                <!--<h5>Estimativas</h5>-->
                <!--<div class="views"><span></span> exibições</div>-->
                <!--<div class="target">Alcance de <span></span> pessoas</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>

<div class="block-action">
  <button type="button" class="btn btn-lg btn-success" ladda="loadingSubmitNext" ng-click="create()">Próximo</button>
</div>
