<!-- Header -->
<div ng-include="'layouts/header/header.html'" include-replace></div>

<!-- Content -->
<div class="default-content" ui-view></div>

<!-- Footer -->
<div ng-include="'layouts/footer/footer.html'" include-replace></div>
