<!-- Header -->
<header class="lite-header">

  <!-- Logo -->
  <h1 class="logo">
    <a ui-sref="app.home">Cloudmidia</a>
  </h1>

  <!-- Sessionav -->
  <div class="sessionav" ng-if="authentication">
    <a href="javascript:;" class="trigger">
      <div class="name">
        <div class="major">{{profileInfo.firstName}} {{profileInfo.lastName}}</div>
        <div class="minor" ng-if="enterpriser.name">{{enterpriser.name}}</div>
      </div>
      <div class="avatar" ng-if="profileInfo.userProfileImageUrl" style="background-image: url({{profileInfo.userProfileImageUrl}});"></div>
      <div class="avatar" ng-if="!profileInfo.userProfileImageUrl" style="background-image: url(assets/images/avatar-default.svg);"></div>
    </a>

    <ul class="menu">
      <li class="item-header">{{profileInfo.firstName}} {{profileInfo.lastName}}</li>
      <li><a href="javascript:;" data-ng-click="logout()"><strong>Sair</strong></a></li>
    </ul>
  </div>
</header>

<!-- Content -->
<div class="lite-content" ui-view></div>

<!-- Footer -->
<footer class="lite-footer">
  <div class="copyright">©2016 <strong>Cloudmidia</strong></div>
  <ul class="links">
    <!--<li><a href="javascript:;">Termos de uso</a></li>-->
    <li><a ui-sref="app.privacy">Uso e Privacidade</a></li>
  </ul>
</footer>
