<div class="jumbotron margin-bottom-0">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <ul class="breadcrumb">
      <li><a href="#/home">Home</a></li>
      <li><a href="#/devices" class="active">Mapa</a></li>
    </ul>
  </div>
</div>

<div class="container-fluid container-fixed-lg bg-white main-content">
  <div class="boxtab">
    <div class="boxtab-nav">
      <ul>
        <li ng-class="{active:isActive('default')}"><a ng-click="filterDeviceByGroup('default')">Todos</a></li>
        <li ng-repeat="group in groups" ng-class="{active:isActive(group)}">
          <a ng-click="filterDeviceByGroup(group)">{{group.name}}<span class="badge m-l-10">{{group.devices}}</span></a></li>
      </ul>
    </div>
    <div class="progress-circle-indeterminate progress-circle-success m-t-45" ng-show="isLoadingAvailability">
    </div>
    <div class="boxtab-content">
      <div class="tab-content">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' bounds='map.bounds' >
          <div ng-if="GroupMarkers !== undefined">
            <ui-gmap-markers models="GroupMarkers" coords="'self'" icon="'icon'" options="'options'"
                             click="onClick" doCluster=true >
              <ui-gmap-windows show="show">
                <div ng-non-bindable> Name: {{title.name}}<br>
                  Grupos:{{title.groups}}<br>
                  Ativado: {{title.status}} <br>
                  Última Atualização: {{title.scheduleLastUpdate |date: 'dd/MM/yyyy HH:mm:ss'}}
                </div>
              </ui-gmap-windows>
            </ui-gmap-markers>
          </div>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
</div>
