<footer class="default-footer">
  <a href="http://cloudmidia.com" class="main">Cloudmidia</a>
  <div class="copyright">©2016 <strong>Cloudmidia</strong></div>
  <ul class="links">
    <!--<li><a href="javascript:;">Termos de uso</a></li>-->
    <li><a ui-sref="app.privacy">Uso e Privacidade</a></li>
  </ul>
</footer>
