<header class="default-header" ng-show="authentication">

  <!-- Navicon -->
  <button class="navicon" title="Menu principal"></button>

  <!-- Logo -->
  <h1 class="logo">
    <a ui-sref="app.home">Cloudmidia</a>
  </h1>

  <!-- Nav -->
  <nav class="nav">

    <!-- Logged OFF -->
    <ul ng-if="!authentication">
      <!-- <li class="on"><a href="javascript:;">Ganhar dinheiro</a></li> -->
      <!-- <li><a href="javascript:;">Publicar anúncio</a></li> -->
      <!-- <li ui-sref-active="on"><a ui-sref="app.home">Visão geral</a></li> -->
      <!-- <li ui-sref-active="on"><a ui-sref="app.howitworks">Como funciona</a></li> -->
      <!-- <li ui-sref-active="on"><a ui-sref="app.faq">Dúvidas frequentes</a></li> -->
      <!-- <li ui-sref-active="on"><a ui-sref="app.contact">Contato</a></li> -->
    </ul>

    <!-- Logged ON -->
    <ul ng-if="authentication">
      <li ui-sref-active="on" ng-if="authorizeCamp"><a ui-sref="app.campaign({enterpriserSlug: enterpriser.slug})">Campanhas</a></li>
      <li ui-sref-active="on" ng-if="authorizeAdv"><a ui-sref="app.advertisers({enterpriserSlug: enterpriser.slug})">Anunciantes</a></li>
      <li ui-sref-active="on" ng-if="authorizeLocal && isPublishEnterpriser"><a ui-sref="app.locals({enterpriserSlug: enterpriser.slug})">Locais</a></li>
      <li ui-sref-active="on" ng-if="authorizeDev && isPublishEnterpriser"><a ui-sref="app.devices({enterpriserSlug: enterpriser.slug})">Dispositivos</a></li>
    </ul>
  </nav>

  <!-- Links logged OFF -->
  <ul class="links" ng-if="!authentication">
    <li class="major"><a ui-sref="lite.register">Criar conta grátis</a></li>
    <li><a ui-sref="lite.login">Entrar</a></li>
  </ul>

  <!-- Links logged ON -->
  <ul class="links" ng-if="authentication">
    <!--<li><a ui-sref="app.help">Ajuda</a></li>-->
    <!--<li><a href="javascript:;" title="Pesquisar"><i class="fa fa-search"></i></a></li>-->
  </ul>

  <!-- Sessionav -->
  <div class="sessionav" ng-if="authentication">
    <a href="javascript:;" class="trigger">
      <div class="name">
        <div class="major">{{profileInfo.firstName}} {{profileInfo.lastName}}</div>
        <div class="minor">{{enterpriser.name}}</div>
      </div>
      <div class="avatar" ng-if="profileInfo.userProfileImageUrl" style="background-image: url({{profileInfo.userProfileImageUrl}});"></div>
      <div class="avatar" ng-if="!profileInfo.userProfileImageUrl" style="background-image: url(assets/images/avatar-default.svg);"></div>
    </a>

    <ul class="menu">
      <li class="item-header">{{profileInfo.firstName}} {{profileInfo.lastName}}</li>
      <li ng-repeat="enterprise in enterprises" ng-class="{'on' : enterprise.name === enterpriser.name && enterprise.slug === enterpriser.slug}" class="item-option">
        <a ng-click="changeEnterprise(enterprise)">{{enterprise.name}}</a>
      </li>
      <li><a ui-sref="lite.enterprises">Gerenciar empresas</a></li>
      <li class="item-divider"></li>
      <li><a ui-sref="app.account.overview({enterpriserSlug:enterpriser.slug})">Minha conta</a></li>
      <li class="item-divider"></li>
      <li><a href="javascript:;" data-ng-click="logout()"><strong>Sair</strong></a></li>
    </ul>
  </div>
</header>
