<div class="block-container lightest">
  <div class="block-heading-master">
    <h2 class="title">Fale com a gente</h2>
  </div>
</div>

<div class="block-container">
  <div class="block-container-holder">
    <div class="row">
      <div class="col-sm-6">
        <div class="block-message block-message-contact">
          <h4>Use o formulário de contato para falar conosco</h4>
          <p>Ou, se preferir, escreva diretamente para <a href="mailto:inventione@inventione.com.br">inventione@inventione.com.br</a></p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="main-collapse-group framed">
          <div class="main-collapse on static">
            <div class="main-collapse-heading">Formulário de contato</div>
            <div class="main-collapse-body">
              <form name="formContact">
                <div class="form-group">
                  <label>Nome</label>
                  <input type="text" name="name" ng-model="contact.name" class="form-control" required>
                   <label class="error" ng-show="formContact.name.$invalid && !formContact.name.$pristine">Campo obrigatório</label>
                </div>

                <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="email" ng-model="contact.email" class="form-control" required>
                  <label class="error" ng-show="formContact.email.$invalid && !formContact.email.$pristine">Email inválido</label>
                </div>

                <div class="form-group">
                  <label>Telefone</label>
                  <input type="text" name="phone" ng-model="contact.phone" ui-mask="(99) 99999-999?9" options="{clearOnBlur:false}" class="form-control" required>
                  <label class="error" ng-show="formContact.phone.$invalid && !formContact.phone.$pristine">Telefone inválido</label>
                </div>

                <div class="form-group">
                  <label>Mensagem</label>
                  <textarea name="messsage" cols="30" ng-model="contact.message" rows="5" class="form-control" required></textarea>
                  <label class="error" ng-show="formContact.message.$invalid && !formContact.message.$pristine">Campo obrigatório</label>
                </div>

                <button type="submit" class="btn btn-lg btn-block btn-success" ladda="submitLoading" ng-click="sendMessage()">Enviar mensagem</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
